﻿@using capstone.Models;
@using Microsoft.Owin.Security;

@model ExternalLoginListViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to FPT Student Event Calendar</h1>
        <p class="lead">This is Capstone Project of YPHDT Team - FPT University</p>
        <hr class="my-4">
        <p>Of FPTers, By FPTers, For FPTers</p>
        <p class="lead">
            @{
                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                using (Html.BeginForm("ExternalLogin", "Authentication")) {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ReturnUrl)
                    var provider = loginProviders.First();
                    <button type="submit" id="@provider.AuthenticationType" name="provider" class="btn btn-danger" value="@provider.AuthenticationType">
                        <i class="fa fa-google"></i> Login
                    </button>
                }
            }
        </p>
        @if (Convert.ToBoolean(TempData["IsOutside"])) {
            <div class="text-danger">You must login with @@fpt.edu.vn account.</div>
        }
    </div>
</div>
