﻿@using capstone.database.Entities;
@using capstone.Helpers;
@using capstone.Models;

@model Group

@{
    ViewBag.Title = "Change group leader";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", null, new { @class = "breadcrumb-item" })
                @Html.ActionLink("View all groups", "../Home/ViewAllGroups", null, new { @class = "breadcrumb-item" })
                @Html.ActionLink(Model.GroupName, "../Home/ViewGroup", new { id = Model.GroupId }, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Assign group leader to another organizer.</div>
    <div>
        <h5>Group: </h5>
        <h6>@Model.GroupName</h6>
        <h5>Leader: </h5>
        <h6><span>@Model.Leader.UserProfile.LastName @Model.Leader.UserProfile.FirstName (@Model.Leader.Email)</span></h6>
    </div>
    <br />
    <h4>List of currently organizers in group.</h4>
    <table class="table table-striped table-bordered" id="GroupMembers">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Joined Date</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (MemberModel member in ViewBag.GroupMember) {
                <tr id="row_@member.Id">
                    <td></td>
                    <td>
                        @member.Name
                    </td>
                    <td>
                        @member.Email
                    </td>
                    <td data-order="@member.JoinedDate.Ticks">
                        @member.JoinedDate.ToDateTimeString()
                    </td>
                    <td>
                        @using (Html.BeginForm("ChangeLeader", null, FormMethod.Post, new { @id = "Form", @enctype = "multipart/form-data" })) {
                            <input type="hidden" name="groupId" value="@Model.GroupId" />
                            <input type="hidden" name="userId" value="@member.Id" />
                            <input type="submit" value="Assign" class="btn-info p-2 border-primary rounded d-inline-block" onclick="return confirm('Are you sure?')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var t = $('#GroupMembers').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": [0, 4]
                }],
                "order": [[1, "asc"]]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}
