﻿@model capstone.Models.CreateGroupModel
@using capstone.Models;
@using capstone.database.Entities;

@{
    ViewBag.Title = "Create group";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Manager", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Create new group for users to join and operate.</div>
    @using (Html.BeginForm("CreateGroup", "Manager", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Leader, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Leader, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Leader, "", new { @class = "text-danger" })
                    <div class="position-relative">
                        <ul class="list-group position-absolute w-100" id="listOrganizer" style="max-height: 200px; overflow: auto; cursor: pointer; z-index: 99;"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FoundedDate, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FoundedDate, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.FoundedDate, "", new { @class = "col-form-label text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "col-form-label text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2 font-weight-bold" })
                <input type="hidden" name="GroupImage" value="@ViewBag.CurrentImage" />
                <div id="GroupImage" class="@(ViewBag.CurrentImage == null ? "d-none " : string.Empty) mb-2" style="background-image: url(@ViewBag.CurrentImage); background-size: contain; background-repeat: no-repeat; background-position: center; height: 300px;"></div>
                <div class="card-body p-2">
                    @Html.TextBoxFor(model => model.Image, new { @class = "d-none", @type = "file", @id = "Image", @accept = "image/png, image/jpeg, image/gif" })
                    @Html.Label("Upload image", new { @class = "btn btn-outline-secondary d-inline-block ml-1", @for = "Image" })
                </div>
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "col-form-label text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control w-100", @rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Manager/CreateGroup.js"></script>
    <script>
        $("#Image").change((e) => {
            if (e.target.files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (ee) {
                    $('#GroupImage').css("background-image", "url(" + ee.target.result + ")");
                    $('#GroupImage').removeClass("d-none");
                };
                reader.readAsDataURL(e.target.files[0]);
            }
            else {
                $('#GroupImage').addClass("d-none");
            }
        });
    </script>
}

