﻿@model capstone.database.Entities.Category

@{
    ViewBag.Title = "Edit category";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Manager", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("View all categories", "ViewAllCategories", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Edit category's infomations.</div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CategoryId)

            <div class="form-group">
                <label class="control-label col-md-2 h6">Name: </label>
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.CategoryName)
                    @Html.DisplayFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 h6">Description: </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </div>
    }
</div>
