﻿@using capstone.Constants;

@{
    ViewBag.Title = "Manager";
}

<div class="container">
    <h1 class="display-4 mb-2">Manager</h1>
    <div class="card-deck">
        <div class="card mb-2">
            <h5 class="card-header">Manage events</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View university event calendar", "ViewUniversityEventCalendar", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("View all events", "ViewAllEvents", "Home", new { Display = DisplayModeConstants.LIST }, new { @class = "list-group-item list-group-item-action" })
                    <a href="@Url.Action("ManagePendingEvents", "Manager")" class="list-group-item list-group-item-action">
                        Manage pending events
                        @if (ViewBag.Pending > 0) {
                            <span class="badge badge-primary">@ViewBag.Pending pending</span>
                        }
                    </a>
                    @Html.ActionLink("Manage featured events", "ManageFeaturedEvents", "Manager", null, new { @class = "list-group-item list-group-item-action" })
                    <a href="@Url.Action("ViewAllReports", "Manager")" class="list-group-item list-group-item-action">
                        View all reports
                        @if (ViewBag.Reports > 0) {
                            <span class="badge badge-danger">@ViewBag.Reports report@(ViewBag.Reports != 1 ? "s" : string.Empty)</span>
                        }
                    </a>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h5 class="card-header">Manage categories</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all categories", "ViewAllCategories", "Manager", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("Create category", "CreateCategory", "Manager", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-2">
            <h5 class="card-header">Manage groups</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all groups", "ViewAllGroups", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("Create group", "CreateGroup", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
    </div>
</div>
