﻿@using capstone.Helpers;
@using capstone.Models;

@model EventSearchFilterViewModel

@{
    ViewBag.Title = "Manage pending events";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Manager", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Show all events created by Organizers that are waiting for approval</div>
    <div class="mb-2 p-2 bg-light rounded">
        @using (Html.BeginForm("ManagePendingEvents", "Manager", FormMethod.Get)) {
            <div class="form-group mb-2">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = "Event name...", @autocomplete = "off" })
            </div>
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        }
    </div>
    <div class="form-horizontal">
        @if (ViewBag.Events.Count > 0) {
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>No</th>
                        <th>Event</th>
                        <th>Organizer</th>
                        <th>Created date</th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < ViewBag.Events.Count; i++) {
                        EventModel eventt = ViewBag.Events[i];
                        <tr>
                            <td>@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</td>
                            <td>@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, null)</td>
                            <td>
                                @Html.ActionLink(eventt.Organizer.LastName + " " + eventt.Organizer.FirstName, "ViewProfile", "Home", new { id = eventt.Organizer.Id }, null)
                                @if (eventt.Group != null) {
                                    <br />
                                    <span>As</span>
                                    @Html.ActionLink(eventt.Group.Name, "ViewGroup", "Home", new { id = eventt.Group.Id }, null)
                                }
                            </td>
                            <td>@eventt.CreatedDate.ToDateTimeString()</td>
                            <td>
                                @Html.ActionLink("Accept event", "AcceptEvent", new { eventt.Id }, new { @onclick = "return confirm('Are you sure?')", @class = "btn btn-sm btn-outline-success d-block mb-2" })
                                @Html.ActionLink("Reject event", "RejectEvent", new { eventt.Id }, new { @onclick = "return confirm('Are you sure?')", @class = "btn btn-sm btn-outline-danger d-block mb-2" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @Html.Partial("Pages")
        }
        else {
            <div>No pending events found</div>
        }
    </div>
</div>
