﻿@model IEnumerable<capstone.database.Entities.Event>

@{
    ViewBag.Title = "Manage featured events";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Manager", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Select which event will display in Home screen of students.</div>
    @using (Html.BeginForm()) {
        <div class="table-responsive">
            <table class="table table-striped" id="featuredEvent">
                <thead>
                    <tr>
                        <th class="no-sort">No</th>
                        <th>Event name</th>
                        <th data-sorting-type="checkbox">
                            Featured
                            <input type="checkbox" name="select_all" value="1" id="example-select-all">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td></td>
                            <td>
                                @Html.ActionLink(item.EventName, "../Home/ViewEvent", new { id = item.EventId }, new { @target="_blank" })
                            </td>
                            <td>
                                <input id="Remember" type="checkbox" value="true" checked="@(item.IsFeatured)" name="SelectedItem" />
                                <input type="hidden" value="false" name="SelectedItem" />
                                <input type="hidden" value="@item.EventId" name="eventID" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <p><button type="submit" class="btn btn-outline-primary" value="ListFeaturedEvent">Submit</button></p>
    }
</div>


@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
    <link type="text/css" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#featuredEvent').DataTable(
                {
                    "info": false,
                    "pageLength": 10,
                    "aaSorting": [],
                    "columnDefs": [{
                        "targets": 'no-sort',
                        "orderable": false,
                    }],
                    "rowCallback": function (nRow, aData, iDisplayIndex) {
                        var oSettings = this.fnSettings();
                        $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                        return nRow;
                    },
                    "aoColumns": [
                        null,
                        null,
                        { "sSortDataType": "dom-checkbox" }]
                }
            );
            $('.dataTables_length').addClass('bs-select');

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#featuredEvent tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('#example-select-all').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });

            // Handle form submission event
            $('form').on('submit', function () {
                $('#featuredEvent').DataTable().destroy();
            });
        });
    </script>
    <script>
        /* Create an array with the values of all the checkboxes in a column */
        $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
            return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                return $('input', td).prop('checked') ? '1' : '0';
            });
        }
    </script>

}
