﻿

@using capstone.Helpers;
@using capstone.Models;

@model EventSearchFilterViewModel

@{
   
    ViewBag.Title = "Manage pending events";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event-waiting-approval</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />
    <link rel="stylesheet" href="~/Scripts/css/slick.css" />
    <link rel="stylesheet" href="~/Scripts/css/event-approved.css" />

    <!-- SLICK -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

</head>

<body>
    <div class="wrapper d-flex align-items-stretch" style="margin-top: 0px; ">
        <nav id="sidebar" class="active">
            <div class="custom-menu ">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> Chờ xử lý</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Đang diễn ra</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-sticky-note mr-3"></span> Đã kết thúc</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="content">
            <p class="title-form">
                Sư kiện chờ phê duyệt
            </p>
            <p class="title-text">Hiển thị toàn bộ sự kiện được tạo ra bởi Organizers chờ được phê duyệt</p>
            @using (Html.BeginForm("ManagePendingEvents2", "Manager", FormMethod.Get))
            {
                <div class="search-event">
                    <div class="input-box">
                        <i class="fa fa-search"></i>
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = "Event name...", @autocomplete = "off" })
                        <button class="button">Search</button>
                    </div>
                </div>
            }
            <div class="table__content">
                @*@if (ViewBag.Events.Count > 0)
                    {*@
                <div class="list__table" id="order-table-admin">
                    <ul>
                        <li>No</li>
                        <li>Sự kiện</li>
                        <li>Organizer</li>
                        <li>Thời gian tạo</li>
                        <li>Status</li>
                        <li>Action</li>
                    </ul>
                    @for (int i = 0; i < ViewBag.Events.Count; i++)
                    {
                        EventModel eventt = ViewBag.Events[i];
                        <ul id="item">
                            <li data-label="no">@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</li>
                            <li data-label="event">@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, null)</li>
                            <li data-label="group">
                                @Html.ActionLink(eventt.Organizer.LastName + " " + eventt.Organizer.FirstName, "ViewProfile", "Home", new { id = eventt.Organizer.Id }, null)
                                @if (eventt.Group != null)
                                {
                                    <br />
                                    <span>As</span>
                                    @Html.ActionLink(eventt.Group.Name, "ViewGroup", "Home", new { id = eventt.Group.Id }, null)
                                }
                            </li>
                            <li data-label="time">@eventt.CreatedDate.ToDateTimeString()</li>
                            <li data-label="status">
                                <button class="btn btn-warning btn-round-1">Pending</button>
                            </li>
                            <li data-label="status">
                                <button class="btn btn-primary btn-round-1">
                                    @Html.ActionLink("Accept event", "AcceptEvent", new { eventt.Id }, new { @onclick = "return confirm('Are you sure?')" })
                                </button>
                                <button class="btn btn-danger btn-round-1">
                                    @Html.ActionLink("Reject event", "RejectEvent", new { eventt.Id }, new { @onclick = "return confirm('Are you sure?')" })
                                </button>
                            </li>
                        </ul>
                    }
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status" class="text">
                            Pending
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                    <ul id="item">
                        <li data-label="no">15</li>
                        <li data-label="event">Lorem ipsum</li>
                        <li data-label="group">United Kingdom</li>
                        <li data-label="time">20/12/2019 18:20</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1">Pending</button>
                        </li>
                        <li data-label="status">
                            <button class="btn btn-danger btn-round-1">Cancel </button>
                        </li>
                    </ul>
                </div>
                @*//}*@
                <div class="pagination" id="pagination">
                    <ul>
                        @*  <li>
                                <a href="#">&laquo;</a>
                            </li>

                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#" class="active">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>*@
                    </ul>
                </div>
            </div>

        </section>
    </div>
    <!-- JS BOOTSTRAP 5 -->
    <script src="htt
  ps://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/slick.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#order-table-admin ').after('<div id="nav"></div>');
            var rowsShown = 8;
            var rowsTotal = $('#order-table-admin #item').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {

                var pageNum = i + 1;
                $('#pagination ul').append(' <li> <a href="#" rel="' + i + '">' + pageNum + '</a> </li>');
            }
            $('#order-table-admin #item').hide();
            $('#order-table-admin #item').slice(0, rowsShown).show();
            $('#pagination a:first').addClass('active');
            $('#pagination a').bind('click', function () {
                $('#pagination a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#order-table-admin #item ').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
            });
        });
    </script>
    <script>

        (function ($) {
            'use strict';

            var fullHeight = function () {
                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });
            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        })(jQuery);
    </script>

</body>

</html>
