﻿@using capstone.database.Entities;
@using capstone.Helpers;

@model List<Category>

@{
    ViewBag.Title = "View all categories";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Manager", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">View list of all currently available categories.</div>
    <div class="table-responsive">
        <table class="table table-striped" id="Categories">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Category name</th>
                    <th>Description</th>
                    <th>Created date</th>
                    <th>Created by</th>
                    <th style="width: 5%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr id="row_@item.CategoryId">
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryDescription)
                        </td>
                        <td>
                            @item.CreatedDate.ToDateTimeString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }, new { @class = "btn btn-sm btn-outline-primary w-100" })
                            @Html.ActionLink(
                            "Delete",
                            "DeleteCategory",
                            new { @id = item.CategoryId },
                            new { @class="btn btn-sm btn-outline-danger" ,onclick = "return confirm('Are you sure?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Categories').DataTable(
                {
                    "info": false,
                    "rowCallback": function (nRow, aData, iDisplayIndex) {
                        var oSettings = this.fnSettings();
                        $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                        nRow.orderable = false;
                        return nRow;
                    },
                    "columnDefs": [
                        { "targets": [0, 2, 3, 5], "orderable": false }
                    ],
                    "order": [[1, 'asc']],

                }
            );
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}
