﻿@using capstone.database.Entities;
@using capstone.Helpers;

@model List<Report>

@{
    ViewBag.Title = "View all reports";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Manager", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">View all reports about events have bad contents.</div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered w-100" id="Reports">
            <thead>
                <tr>
                    <th></th>
                    <th>Dissmissed</th>
                    <th>Reporter</th>
                    <th>Event</th>
                    <th style="width: 12%">Time</th>
                    <th>Description</th>
                    <th style="width: 8%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Report report in Model) {
                    if (!report.IsDismissed) {
                        <tr>
                            <th></th>
                            <th>0</th>
                            <th title="@report.User.UserProfile.LastName @report.User.UserProfile.FirstName">
                                <span>
                                    @Html.ActionLink(report.User.UserProfile.LastName + " " + report.User.UserProfile.FirstName, "ViewProfile", "Home", new { id = report.UserId }, new { @target = "_blank" })
                                </span>
                            </th>
                            <th title="@report.Event.EventName">
                                <span>
                                    @Html.ActionLink(report.Event.EventName, "ViewEvent", "Home", new { id = report.EventId }, new { @target = "_blank" })
                                </span>
                            </th>
                            <th data-order="@report.CreatedDate.Ticks">
                                <span>
                                    @report.CreatedDate.ToDateTimeString()
                                </span>
                            </th>
                            <th title="@report.Description">
                                <p style="white-space: pre-line">@report.Description</p>
                            </th>
                            <th class="text-center">
                                <form method="post" action="RejectReportedEvent">
                                    <input type="hidden" name="eventId" value="@report.EventId" />
                                    <button type="submit" class="btn btn-outline-danger w-100" onclick="return confirm('Are you sure?')">Block event</button>
                                </form>
                                <form method="post" action="DismissReport">
                                    <input type="hidden" name="reportId" value="@report.Id" />
                                    <button type="submit" class="btn btn-outline-dark mt-1 w-100" onclick="return confirm('Are you sure?')">Dismiss</button>
                                </form>
                            </th>
                        </tr>
                    }
                    else {
                        <tr id="row_@report.Id">
                            <td></td>
                            <td>1</td>
                            <td title="@report.User.UserProfile.LastName @report.User.UserProfile.FirstName">
                                <span>
                                    @Html.ActionLink(report.User.UserProfile.LastName + " " + report.User.UserProfile.FirstName, "ViewProfile", "Home", new { id = report.UserId }, new { @target = "_blank" })
                                </span>
                            </td>
                            <td title="@report.Event.EventName">
                                <span>
                                    @Html.ActionLink(report.Event.EventName, "ViewEvent", "Home", new { id = report.EventId }, new { @target = "_blank" })
                                </span>
                            </td>
                            <td>
                                @report.CreatedDate.ToDateTimeString()
                            </td>
                            <td title="@report.Description">
                                <p style="white-space: pre-line">@report.Description</p>
                            </td>
                            <td class="text-center">
                                <form method="post" action="RejectReportedEvent">
                                    <input type="hidden" name="eventId" value="@report.EventId" />
                                    <button type="submit" class="btn btn-outline-danger w-100" onclick="return confirm('Are you sure?')">Block event</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
    <style>
        tbody tr td p, tbody tr td span, tbody tr th span, tbody tr th p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    </style>
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var t = $('#Reports').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "targets": [2, 4, 5]
                }, {
                    "searchable": false,
                    "orderable": false,
                    "targets": [0, 6]
                }, {
                    "searchable": false,
                    "visible": false,
                    "targets": [1]
                }],
                "order": [[1, "asc"]],
                language: {
                    searchPlaceholder: "Search by event"
                }
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}
