﻿.ect-list-post.style-1 .ect-list-post-right .ect-list-venue,
.ect-list-post.style-2 .modern-list-right-side,
.ect-list-post.style-3 .ect-list-date,
.ect-list-post.style-3 .ect-clslist-event-details a:hover,
#ect-grid-wrapper .style-2 .ect-grid-date,
#ect-slider-wrapper .style-2 .ect-slider-date,
.cool-timeline.white-timeline .timeline-post.timeline-evt .timeline-meta {
    background: #dbf5ff;
}

.cool-timeline.white-timeline .timeline-post.classic-timeline-evt .ect-date-area,
.cool-timeline.white-timeline .timeline-post.classic-timeline-evt .ect-venue-details {
    color: #dbf5ff;
}

.ect-list-post .ect-list-img {
    background-color: #eaf9ff;
}

.ect-list-post.style-1 .ect-list-post-left .ect-list-date {
    background: rgba(219, 245, 255, .96);
    box-shadow: inset 2px 0px 14px -2px #c2eeff;
}

.ect-list-post.style-1 .ect-list-post-right .ect-list-venue,
.ect-list-post.style-2 .modern-list-right-side,
.ect-list-post.style-3 .ect-list-date,
.ect-list-post.style-3 .ect-clslist-event-details a:hover {
    box-shadow: inset 0px 0px 50px -5px #b7ebff;
}

#ect-grid-wrapper .style-1 .ect-grid-date {
    background: rgba(219, 245, 255, .95);
}

#ect-grid-wrapper .style-2 .ect-grid-date {
    box-shadow: inset 0px 0px 12px -2px #b7ebff;
}

#ect-grid-wrapper .style-3 .ect-grid-event-area {
    border-color: #dbf5ff;
}

#ect-carousel-wrapper .style-1 .ect-carousel-date,
#ect-carousel-wrapper .style-2 .ect-carousel-date {
    background: rgba(219, 245, 255, .95);
    box-shadow: inset 0px 0px 25px -5px #b7ebff;
}

#ect-carousel-wrapper .style-3 .ect-carousel-event-area {
    border-color: #dbf5ff;
}

#ect-carousel-wrapper .style-1 .ect-carousel-date:after {
    border-color: transparent transparent #ccf1ff;
}

#ect-slider-wrapper .style-2 .ect-slider-date {
    box-shadow: inset 0px 0px 12px -2px #b7ebff;
}

#ect-slider-wrapper .ect-slider-right.ect-slider-image,
#ect-slider-wrapper .style-3 .ect-slider-left {
    border-color: #dbf5ff;
}

#ect-slider-wrapper .style-2 .ect-slider-title:before {
    box-shadow: 0px 2px 30px 1px #b7ebff;
}

.cool-timeline.white-timeline .timeline-year {
    background: #5cd2ff;
}

.cool-timeline.white-timeline .timeline-post.even .timeline-meta:before {
    border-left-color: #dbf5ff;
}

.cool-timeline.white-timeline .timeline-post.odd .timeline-meta:before {
    border-right-color: #dbf5ff;
}

.cool-timeline .timeline-post.classic-timeline-evt .ect-rate-area,
.cool-timeline .timeline-post.classic-timeline-evt .ect-google a,
.cool-timeline .timeline-post.classic-timeline-evt span.ect-icon {
    color: #a8e7ff;
}

.ect-accordion-view-content .ect-accordn-slick-prev.slick-arrow,
.ect-accordion-view-content .ect-accordn-slick-next.slick-arrow,
.ect-accordion-view-content .ect-accordion-wrapper .ect-simple-event .ect-accordion-header.card {
    background: #dbf5ff;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-event-link:hover {
    background: #ccf1ff;
}

ul.ect-categories li {
    border-color: #ade8ff !Important;
}

    ul.ect-categories li.ect-active,
    ul.ect-categories li:hover,
    .ect-masonay-load-more a.ect-load-more-btn {
        background-color: #dbf5ff;
        border-color: #ade8ff !Important;
    }

.ect-list-post.ect-featured-event.style-1 .ect-list-post-right .ect-list-venue,
.ect-list-post.ect-featured-event.style-2 .modern-list-right-side,
.ect-list-post.ect-featured-event.style-3 .ect-list-date,
.ect-list-post.ect-featured-event.style-3 .ect-clslist-event-details a:hover,
#ect-grid-wrapper .ect-featured-event.style-2 .ect-grid-date,
.cool-timeline.white-timeline .timeline-post.ect-featured-event.timeline-evt .timeline-meta {
    background: #eda264;
}

.ect-list-post.ect-featured-event h2.ect-list-title,
.ect-list-post.ect-featured-event h2.ect-list-title a.ect-event-url,
.ect-list-post.ect-featured-event .ect-rate-area span.ect-rate-icon,
.ect-list-post.ect-featured-event .ect-rate-area .ect-rate,
.ect-list-post.ect-featured-event .ect-list-description .ect-event-content a,
.ect-list-post.ect-featured-event a.tribe-events-read-more,
.ect-list-post.ect-featured-event.style-2 .modern-list-venue,
.ect-list-post.ect-featured-event.style-2 .modern-list-venue .ect-google a,
.ect-list-post.ect-featured-event.style-3 .ect-clslist-time,
.ect-list-post.ect-featured-event.style-3 .ect-list-venue .ect-venue-details,
.ect-list-post.ect-featured-event.style-3 .ect-list-venue .ect-google a,
.ect-list-post.ect-featured-event.style-3 .ect-list-venue .ect-icon,
.ect-list-post.ect-featured-event.style-3 .ect-rate-area span.ect-rate-icon,
.ect-list-post.ect-featured-event.style-3 .ect-rate-area .ect-rate,
#ect-grid-wrapper .ect-featured-event .ect-grid-title h4 a,
#ect-carousel-wrapper .ect-featured-event .ect-carousel-title h4 a,
#ect-slider-wrapper .ect-featured-event .ect-slider-title h4 a,
.cool-timeline.white-timeline .timeline-post.ect-featured-event .timeline-content h2.content-title,
.cool-timeline.white-timeline .timeline-post.ect-featured-event .timeline-content h2.content-title a.ect-event-url,
.cool-timeline.white-timeline .timeline-post.ect-featured-event .timeline-content .content-details a,
.cool-timeline.white-timeline .timeline-post.ect-featured-event.classic-timeline-evt .ect-date-area,
.cool-timeline.white-timeline .timeline-post.ect-featured-event.classic-timeline-evt .ect-venue-details {
    color: #eda264;
}

.ect-list-post.style-1.ect-featured-event .ect-list-post-left .ect-list-date {
    background: rgba(237, 162, 100, .85);
    box-shadow: inset 2px 0px 14px -2px #e5791f;
}

.ect-list-post.ect-featured-event .ect-list-img {
    background-color: #efaa72;
}

.ect-list-post.ect-featured-event.style-1 .ect-list-post-right .ect-list-venue,
.ect-list-post.ect-featured-event.style-2 .modern-list-right-side,
.ect-list-post.ect-featured-event.style-3 .ect-list-date,
.ect-list-post.ect-featured-event.style-3 .ect-clslist-event-details a:hover {
    box-shadow: inset -2px 0px 14px -2px #e98f44;
}

#ect-grid-wrapper .ect-featured-event.style-1 .ect-grid-date {
    background: rgba(237, 162, 100, .95);
}

#ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-event-area {
    border-color: #e98f44;
    background: #eda264;
    box-shadow: inset 0px 0px 12px 2px #eb9a56;
}

#ect-grid-wrapper .ect-featured-event.style-1 .ect-grid-date,
#ect-grid-wrapper .ect-featured-event.style-2 .ect-grid-date {
    box-shadow: inset 0px 0px 25px -5px #e98f44;
}

#ect-carousel-wrapper .ect-featured-event.style-1 .ect-carousel-date,
#ect-carousel-wrapper .ect-featured-event.style-2 .ect-carousel-date {
    background: rgba(237, 162, 100, .95);
}

#ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-event-area {
    border-color: #e98f44;
    background: #eda264;
    box-shadow: inset 0px 0px 25px -5px #e98f44;
}

#ect-carousel-wrapper .ect-featured-event.style-1 .ect-carousel-date:after {
    border-color: transparent transparent #e98f44;
}

#ect-carousel-wrapper .ect-featured-event.style-1 .ect-carousel-date,
#ect-carousel-wrapper .ect-featured-event.style-2 .ect-carousel-date {
    box-shadow: inset 0px 0px 25px -5px #e98f44;
}

#ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-date {
    box-shadow: inset 0px 0px 25px -5px #e98f44;
    background: #eda264;
}

#ect-slider-wrapper .ect-featured-event .ect-slider-right.ect-slider-image,
#ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-left,
#ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-event-area {
    border-color: #e98f44;
    background: rgba(237, 162, 100, .94);
    box-shadow: inset 0px 0px 25px -5px #e98f44;
}

#ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-venue,
#ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-cost {
    color: #eda264;
}

    #ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-venue a,
    #ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-readmore a,
    #ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-description .ect-event-content p {
        color: #ea9249;
    }

#ect-slider-wrapper .ect-featured-event.style-2 .ect-slider-title:before {
    box-shadow: 0px 3px 20px 1px #e98f44;
}

.cool-timeline.white-timeline .timeline-post.ect-featured-event.even .timeline-meta:before {
    border-left-color: #eda264;
}

.cool-timeline.white-timeline .timeline-post.ect-featured-event.odd .timeline-meta:before {
    border-right-color: #eda264;
}

.cool-timeline.white-timeline .timeline-post.ect-featured-event .timeline-content h2.content-title a:hover,
.cool-timeline .timeline-post.classic-timeline-evt.ect-featured-event .ect-rate-area,
.cool-timeline .timeline-post.classic-timeline-evt.ect-featured-event .ect-google a,
.cool-timeline .timeline-post.classic-timeline-evt.ect-featured-event span.ect-icon {
    color: #e88736;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event .ect-accordion-header.card {
    background: #eda264;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event .ect-accordion-event-link:hover {
    background: #eb9a56;
}

.ect-list-post.ect-featured-event .ect-list-date .ect-date-area,
.ect-list-post.ect-featured-event .ect-list-post-left .ect-list-date .ect-date-area,
.ect-list-post.ect-featured-event .ect-list-post-right .ect-list-venue .ect-icon,
.ect-list-post.ect-featured-event .ect-list-post-right .ect-list-venue .ect-venue-details,
.ect-list-post.ect-featured-event .ect-list-post-right .ect-list-venue .ect-google a,
.ect-list-post.ect-featured-event .ect-modern-time,
.ect-list-post.ect-featured-event.style-3 .ect-clslist-event-details a:hover,
#ect-grid-wrapper .ect-featured-event .ect-grid-date,
#ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-title h4,
#ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-title h4 a,
#ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-venue,
#ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-cost,
#ect-carousel-wrapper .ect-featured-event .ect-carousel-date,
#ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-title h4,
#ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-title h4 a,
#ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-venue,
#ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-cost,
#ect-slider-wrapper .ect-featured-event .ect-slider-date,
#ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-title h4,
#ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-title h4 a,
#ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-venue,
#ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-cost,
#ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-description .ect-event-content p,
#ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-title h4,
#ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-title h4 a,
#ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-venue,
#ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-cost {
    color: #3a2201;
}

    #ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-venue a,
    #ect-grid-wrapper .ect-featured-event.style-3 .ect-grid-readmore a,
    #ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-venue a,
    #ect-carousel-wrapper .ect-featured-event.style-3 .ect-carousel-readmore a,
    #ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-venue a,
    #ect-slider-wrapper .ect-featured-event.style-1 .ect-slider-readmore a,
    #ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-venue a,
    #ect-slider-wrapper .ect-featured-event.style-3 .ect-slider-readmore a {
        color: #211301;
    }

.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event h3.ect-accordion-title {
    color: #3a2201;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event .ect-accordion-date .ect-date-area {
    color: #3a2201;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event .ect-acordn-time-venue,
.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event .ect-acordn-time-venue a,
.ect-accordion-view-content .ect-accordion-wrapper .ect-featured-event .ect-acordn-time-venue a.tribe-events-gmap {
    color: #3a2201;
}

.ect-list-post .ect-list-post-right,
.ect-list-post .ect-clslist-event-info,
#ect-grid-wrapper .ect-grid-event-area,
#ect-carousel-wrapper .ect-carousel-event-area,
#ect-slider-wrapper .ect-slider-event-area,
#ect-slider-wrapper .style-2 .ect-slider-left,
.cool-timeline.white-timeline .timeline-post .timeline-content {
    background: #f4fcff;
}

    .ect-list-post .ect-list-post-right .ect-list-description {
        border-color: #c1eeff;
        box-shadow: inset 0px 0px 25px -5px #c1eeff;
    }

.ect-list-post .ect-clslist-event-info {
    box-shadow: inset 0px 0px 25px -5px #c1eeff;
}

.ect-list-post .ect-clslist-event-details {
    background: #e0f6ff;
    box-shadow: inset 0px 0px 25px -5px #c1eeff;
}

#ect-grid-wrapper .ect-grid-event-area {
    box-shadow: inset 0 0 25px -5px #c1eeff;
}

#ect-grid-wrapper .ect-grid-image,
.ect-grid-categories ul.tribe_events_cat li a {
    background: #c1eeff;
}

#ect-carousel-wrapper .ect-carousel-event-area {
    box-shadow: inset 0 0 25px -5px #c1eeff;
}

#ect-carousel-wrapper .ect-carousel-image {
    background: #c1eeff;
}

#ect-carousel-wrapper .ect-events-carousel .slick-arrow i {
    background: #f4fcff;
    box-shadow: 2px 2px 0px 1px #effbff;
}

#ect-slider-wrapper .ect-slider-event-area,
#ect-slider-wrapper .style-2 .ect-slider-left,
#ect-slider-wrapper .style-3 .ect-slider-left {
    box-shadow: inset 0 0 25px -5px #c1eeff;
}

#ect-slider-wrapper .ect-slider-image {
    background: #c1eeff;
}

#ect-slider-wrapper .ect-events-slider .slick-arrow i {
    background: #f4fcff;
    box-shadow: 2px 2px 0px 1px #effbff;
}

#ect-slider-wrapper .style-3 .ect-slider-left {
    background: rgba(244, 252, 255, .94);
}

.cool-timeline.white-timeline .timeline-post .timeline-content,
.cool-timeline .tribe-events-event-image img {
    border: 1px solid #dbf5ff;
}

.cool-timeline.white-timeline .timeline-post.even .timeline-content .content-title:before {
    border-right-color: #dbf5ff;
}

.cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title:before {
    border-left-color: #dbf5ff;
}

.cool-timeline.white-timeline:before,
.cool-timeline.white-timeline .timeline-post .icon-dot-full {
    background-color: #c1eeff;
}

.cool-timeline.white-timeline .timeline-year {
    -webkit-box-shadow: 0 0 0 4px white, 0 0 0 8px #c1eeff;
    box-shadow: 0 0 0 4px white, 0 0 0 8px #c1eeff;
}

@media (max-width:860px) {
    .cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title:before {
        border-right-color: #dbf5ff;
        border-left-color: transparent;
    }
}

@media (max-width:790px) {
    .ect-list-post .ect-list-post-right .ect-list-description {
        border-bottom: 1px solid #c1eeff;
    }

    .ect-list-post .ect-clslist-event-details {
        background: #e0f6ff;
    }
}

.ect-list-post h2.ect-list-title,
.ect-list-post h2.ect-list-title a.ect-event-url,
.ect-classic-list a.tribe-events-read-more,
.ect-clslist-event-info .ect-clslist-title a.ect-event-url,
#ect-grid-wrapper .ect-grid-title h4,
#ect-grid-wrapper .ect-grid-title h4 a,
#ect-carousel-wrapper .ect-carousel-title h4,
#ect-carousel-wrapper .ect-carousel-title h4 a,
#ect-slider-wrapper .ect-slider-title h4,
#ect-slider-wrapper .ect-slider-title h4 a,
.cool-timeline.white-timeline .timeline-post .timeline-content h2.content-title,
.cool-timeline.white-timeline .timeline-post .timeline-content h2.content-title a.ect-event-url {
    font-family: "Monda";
    color: #00445e;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5em;
}

    .ect-list-post h2.ect-list-title a:hover,
    .cool-timeline.white-timeline .timeline-post .timeline-content h2.content-title a:hover {
        color: #001f2b;
    }

.ect-list-venue .ect-rate-area .ect-rate {
    font-family: "Monda";
}

.ect-list-post .ect-rate-area span.ect-rate-icon,
.ect-list-post .ect-rate-area .ect-rate,
.ect-list-post .ect-list-description .ect-event-content a {
    color: #007bab;
}

.cool-timeline.white-timeline .timeline-post .timeline-content .content-details a {
    color: #00445e;
}

.ect-accordion-view-content .ect-accordion-wrapper h3.ect-accordion-title {
    font-family: "Monda";
    color: #00445e;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5em;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-acordn-time-venue,
.ect-accordion-view-content .ect-accordion-wrapper .ect-acordn-time-venue a {
    color: #006991;
}

    .ect-accordion-view-content .ect-accordion-wrapper .ect-acordn-time-venue a.tribe-events-gmap {
        color: #00445e;
    }

.ect-list-post .ect-list-post-right .ect-list-description .ect-event-content p,
.ect-clslist-inner-container .ect-clslist-time,
#ect-slider-wrapper .ect-slider-description .ect-event-content p,
.cool-timeline.white-timeline .timeline-post .timeline-content .content-details {
    font-family: "Open Sans";
    color: #515d64;
    font-size: 15px;
    font-weight: inherit;
    line-height: 1.5em;
}

.ect-list-post .ect-clslist-event-details a.tribe-events-read-more {
    color: #515d64;
}

#ect-carousel-wrapper .ect-events-carousel .slick-arrow {
    color: #515d64;
}

#ect-slider-wrapper .ect-events-slider .slick-arrow {
    color: #515d64;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-acordn-detail-container,
.ect-accordion-view-content .ect-accordion-wrapper .ect-acordn-detail a {
    font-family: "Open Sans";
    color: #515d64;
    font-size: 15px;
    font-weight: inherit;
    line-height: 1.5em;
}

    .ect-accordion-view-content .ect-accordion-wrapper .ect-acordn-detail-container h3.ect-acordn-detail-h3 {
        color: #515d64;
    }

.ect-list-post .ect-list-venue .ect-venue-details,
.ect-list-post .ect-list-venue .ect-google a,
.modern-list-venue,
.modern-list-venue .ect-google a,
#ect-grid-wrapper .ect-grid-venue,
#ect-carousel-wrapper .ect-carousel-venue,
#ect-slider-wrapper .ect-slider-venue,
.cool-timeline.white-timeline .ect-venue-details {
    font-family: "Open Sans";
    color: #00445e;
    font-size: 15px;
    font-weight: inherit;
    font-style: italic;
    line-height: 1.5em;
}

.ect-list-post .ect-list-venue .ect-icon {
    color: #00445e;
    font-size: 20px;
}

.ect-list-post .ect-list-venue .ect-google a,
.ect-list-post.style-3 .ect-rate-area span.ect-rate-icon,
.ect-list-post.style-3 .ect-rate-area .ect-rate {
    color: #00394f;
}

#ect-grid-wrapper .ect-grid-cost {
    color: #00445e;
    font-size: 21px;
    font-weight: bold;
    font-family: "Open Sans";
}

#ect-grid-wrapper .ect-grid-venue a,
#ect-grid-wrapper .ect-grid-readmore a {
    color: #002e3f;
    font-family: "Open Sans";
}

#ect-grid-wrapper .ect-grid-border:before {
    background: #002e3f;
}

#ect-carousel-wrapper .ect-carousel-cost {
    color: #00445e;
    font-size: 21px;
    font-weight: bold;
    font-family: "Open Sans";
}

#ect-carousel-wrapper .ect-carousel-venue a,
#ect-carousel-wrapper .ect-carousel-readmore a {
    color: #002e3f;
    font-family: "Open Sans";
}

#ect-carousel-wrapper .ect-carousel-border:before {
    background: #002e3f;
}

#ect-slider-wrapper .ect-slider-cost {
    color: #00445e;
    font-size: 21px;
    font-weight: bold;
    font-family: "Open Sans";
}

#ect-slider-wrapper .ect-slider-venue a,
#ect-slider-wrapper .ect-slider-readmore a {
    color: #002e3f;
    font-family: "Open Sans";
}

#ect-slider-wrapper .ect-slider-border:before {
    background: #002e3f;
}

.cool-timeline span.ect-icon {
    color: #00445e;
}

.cool-timeline .ect-rate-area {
    font-size: 22.5px;
}

.cool-timeline .ect-google a {
    font-size: 15px;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-location-container,
.ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-location-container a,
.ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-time-container {
    font-family: "Open Sans";
    color: #00445e;
    font-size: 15px;
    font-weight: inherit;
    font-style: italic;
    line-height: 1.5em;
}

    .ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-location-container h3.ect-acordn-location-h3,
    .ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-time-container h3.ect-acordn-h3 {
        color: #00445e;
    }

.ect-list-post .ect-list-post-left .ect-list-date .ect-date-area,
.modern-list-right-side .ect-list-date .ect-date-area,
.style-3 .ect-list-date .ect-date-area,
.ect-modern-time,
#ect-grid-wrapper .ect-grid-date,
#ect-carousel-wrapper .ect-carousel-date,
#ect-slider-wrapper .ect-slider-date,
.cool-timeline.white-timeline .timeline-post .ect-date-area {
    font-family: "Monda";
    color: #00445e;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
}

.cool-timeline.white-timeline .timeline-year .icon-placeholder span {
    font-family: "Monda";
}

.cool-timeline .ect-rate-area,
.cool-timeline .ect-google a {
    color: #003245;
}

.ect-accordion-view-content .ect-accordion-wrapper .ect-accordion-date .ect-date-area {
    font-family: "Monda";
    color: #00445e;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
}
/*
List Common Styles
*/
#ect-events-list-content,
.ect-list-wrapper {
    display: inline-block;
    width: 100%;
    margin: 5px auto;
    padding: 0;
}

    #ect-events-list-content h2.ect-events-page-title {
        margin: 0 auto 20px;
        width: 100%;
    }

.ect-list-post {
    width: 100%;
    height: 100%;
    min-height: 180px;
    box-sizing: border-box;
    word-break: break-word;
    display: table;
    margin: 15px auto;
}

    .ect-list-post.style-2 {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .ect-list-post.style-3 {
        min-height: auto;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 20px;
    }

.ect-list-post-left {
    width: 30%;
    height: 100%;
    background-size: cover;
    display: table-cell;
    position: relative;
    min-height: 180px;
    z-index: 9;
}

.ect-list-post-right {
    width: 70%;
    display: table-cell;
    background: #edf3f9;
    vertical-align: top;
    height: 100%;
}

.ect-list-post-left:hover {
    -webkit-filter: brightness(95%) hue-rotate(2deg);
    filter: brightness(95%) hue-rotate(2deg);
}

.ect-list-post-right .ect-list-venue:hover {
    -webkit-filter: brightness(95%) hue-rotate(2deg);
    filter: brightness(95%) hue-rotate(2deg);
}

.ect-list-img {
    float: none;
    height: 100%;
    width: 100%;
    background-color: #ebf0f7;
}

.ect-list-post a {
    box-shadow: none;
    text-decoration: none;
}

.ect-list-post-left .ect-list-date {
    -webkit-transition: width linear 0.5s;
    /* Safari */
    transition: width linear 0.5s;
    width: 35%;
    min-width: 100px;
    display: table;
    text-align: center;
    background: rgba(224, 232, 243, 0.96);
    height: 100%;
    color: #fff;
    vertical-align: middle;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    z-index: 2;
}

.ect-list-post:hover .ect-list-post-left .ect-list-date {
    width: 100%;
}

.ect-featured-event .ect-list-post-left .ect-list-date {
    background: rgba(224, 40, 40, 0.90);
}

.ect-list-date .ect-date-area {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 92%;
    font-size: 38px;
    font-family: inherit;
    padding-top: 14px;
}

    .ect-list-date .ect-date-area .ev-day {
        font-size: 1em;
        clear: both;
        display: inline-block;
        width: 100%;
    }

    .ect-list-date .ect-date-area .ev-mo {
        font-size: 0.45em;
        clear: both;
        display: inline-block;
        width: 100%;
    }

    .ect-list-date .ect-date-area .ev-yr {
        font-size: 0.4em;
        clear: both;
        display: inline-block;
        width: 100%;
        position: relative;
        top: -14px;
    }

    .ect-list-date .ect-date-area .ev-time {
        font-size: 0.32em;
        clear: both;
        display: inline-block;
        width: 100%;
        line-height: 1.35em;
    }

#ect-events-list-content .ect-share-wrapper {
    position: absolute;
    right: 7px;
    bottom: 7px;
    z-index: 11;
}
/*right side*/
.ect-list-post-right-table {
    display: table;
    vertical-align: top;
    height: 100%;
    width: 100%;
}

.ect-list-post-right .ect-list-description {
    width: 70%;
    height: 100%;
    display: table-cell;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    border-right: 1px solid;
    position: relative;
}

.ect-list-post a.ect-events-read-more {
    margin-top: 10px;
    display: inline-block;
}

.ect-list-post-right .ect-list-venue {
    width: 30%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    background: #ff6a5c;
    color: #fff;
    padding: 10px;
}

.ect-list-post h2.ect-list-title {
    font-size: 18px;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 0;
}

    .ect-list-post h2.ect-list-title a {
        color: #ff6a5c;
        text-decoration: none;
        box-shadow: none;
    }

        .ect-list-post h2.ect-list-title a:hover {
            filter: opacity(0.75);
            -webkit-filter: opacity(0.75);
        }

.ect-list-description .ect-event-content {
    font-size: 13px;
    font-family: inherit;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    line-height: 1.6em;
}

    .ect-list-description .ect-event-content p {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 100%;
    }

a.ect-event-read-more {
    color: #ff6a5c;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

#ect-events-list-content .ect-rate-area {
    float: right;
    display: inline-block;
    margin-top: -22px;
    font-size: 22px;
}

.ect-list-venue .ect-icon {
    display: inline-block;
    width: 100%;
}

.ect-list-venue .ect-venue-details {
    font-size: 14px;
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
}

    .ect-list-venue .ect-venue-details .tribe-address {
        font-size: 85%;
        width: 100%;
        display: inline-block;
    }

.ect-venue-details .tribe-address span {
    display: inline-block;
}

.ect-venue-details .tribe-address .tribe-delimiter {
    margin-right: 3px;
}

.ect-venue-details .tribe-address .tribe-postal-code {
    margin: 0 3px;
}

.ect-list-venue .ect-google {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

    .ect-list-venue .ect-google a {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 0 0 currentColor;
    }

.ect-list-post .ect-list-venue .ect-rate-area {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    font-size: 22px;
}
/*
  Style-2 / Modern List
*/
.modern-list-right-side {
    width: 30%;
    height: 100%;
    display: table-cell;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

    .modern-list-right-side .ect-list-date,
    .modern-list-right-side .ect-list-date .ect-date-area {
        display: inline-block;
        width: 100%;
    }

.ect-list-post-right .modern-list-venue {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.modern-list-venue .ect-icon {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    width: 34px;
}

.modern-list-venue span.ect-venue-details,
.modern-list-venue span.ect-google {
    display: inline-block;
    width: calc(100% - 48px);
    vertical-align: top;
}

#ect-events-list-content .style-2 .ect-rate-area {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    display: inline-block;
    font-weight: bold;
}

.ect-modern-time {
    text-align: center;
    font-size: 0.65em !Important;
    line-height: 1.25em;
}
/*** 
     CSS for Classic List Style
  ***/
.ect-clslist-event-date {
    display: table-cell;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    background: rgba(255, 106, 92, 0.90);
    font-size: 28px;
    position: relative;
}

.ect-clslist-time {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}

.ect-clslist-event-info {
    background: #f3fbf1;
    display: table-cell;
    width: calc(100% - 340px);
    vertical-align: middle;
    padding: 10px 25px;
    text-align: left;
}

.ect-clslist-event-details {
    background: #f3fbf1;
    display: table-cell;
    width: 180px;
    text-align: center;
    position: relative;
}

    .ect-clslist-event-details a.tribe-events-read-more {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 14px;
        box-shadow: none;
        font-weight: bold;
    }

.ect-clslist-inner-container .ect-list-venue .ect-icon {
    width: auto;
    vertical-align: top;
}

.ect-clslist-inner-container i.ect-icon-bell-alt,
.ect-clslist-inner-container i.ect-icon-clock,
.ect-clslist-inner-container i.ect-icon-location {
    min-width: 30px;
    display: inline-block;
    text-align: center;
    min-height: 20px;
    vertical-align: middle;
}

.ect-clslist-inner-container .ect-venue-details {
    width: calc(100% - 35px);
}

#ect-events-list-content .style-3 .ect-rate-area {
    margin-top: -30px;
}
/*
  Media Query 
*/
@media only screen and (max-width: 790px) {
    .ect-list-post {
        margin-bottom: 35px;
    }

    .ect-list-post-left .ect-list-date {
        width: 100%;
        position: absolute;
        top: inherit;
        bottom: 0;
    }

    .ect-list-date .ect-date-area .ev-day,
    .ect-list-date .ect-date-area .ev-mo,
    .ect-list-date .ect-date-area .ev-yr {
        clear: none;
        width: auto;
        height: auto;
        float: left;
        top: 0;
        margin-left: 5px;
    }

    .ect-list-date .ect-date-area .ev-time {
        text-align: left;
        margin-left: 5px;
    }

    #ect-events-list-content .ect-share-wrapper .ect-social-share-list {
        left: inherit;
        right: 0;
    }

        #ect-events-list-content .ect-share-wrapper .ect-social-share-list:before {
            left: inherit;
            right: 6px;
        }

    #ect-events-list-content .style-3 .ect-share-wrapper .ect-social-share-list {
        top: 42px;
    }

        #ect-events-list-content .style-3 .ect-share-wrapper .ect-social-share-list:before {
            bottom: inherit;
            border-bottom-color: #fff;
            border-top-color: transparent;
            top: -20px;
        }

    .ect-list-post .ect-list-post-right .ect-list-description {
        border-right: 0;
    }

    .ect-list-img {
        min-height: 210px;
    }

    .ect-list-post-left,
    .ect-list-post-right,
    .ect-list-post-right-table,
    .ect-list-venue {
        display: block;
        width: 100%;
        overflow: hidden;
        height: auto;
    }

        .ect-list-post-right .ect-list-venue {
            display: block;
            width: 100%;
            overflow: hidden;
            height: auto;
        }

    .ect-list-post {
        padding: 30px auto;
    }

    .ect-list-post-right .ect-list-description,
    .modern-list-right-side {
        display: inline-block;
        width: 100%;
    }

    .ect-modern-time {
        display: inline-block;
    }

    .ect-clslist-event-date,
    .ect-clslist-event-info,
    .ect-clslist-event-details,
    .ect-clslist-event-details a.tribe-events-read-more {
        display: inline-block;
        width: 100%;
        position: relative;
        padding: 10px;
    }
}