﻿@using capstone.Models;
@using capstone.database.Entities;

@model CreateEventViewModel

@{
    ViewBag.Title = "Create event";
    Layout = null;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Organizer", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Create a new event for Students to participate in, a Manager will review and accept or reject your request.</div>
    @using (Html.BeginForm("CreateEvent", "Organizer", null, FormMethod.Post, new { @id = "Form", @enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "col-form-label" })
            <input type="hidden" name="CoverImage" value="@ViewBag.CurrentImage" />
            <div class="card mb-3">
                <div id="EventCoverImage" class="@(ViewBag.CurrentImage == null ? "d-none " : string.Empty) mb-2" style="background-image: url(@ViewBag.CurrentImage); background-size: contain; background-repeat: no-repeat; background-position: center; height: 300px;"></div>
                <div class="card-body p-2">
                    @Html.TextBoxFor(model => model.Image, new { @class = "d-none", @type = "file", @id = "CoverImage", @accept = "image/png, image/jpeg, image/gif" })
                    @Html.Label("Upload image", new { @class = "btn btn-outline-secondary d-inline-block m-0", @for = "CoverImage" })
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "col-form-label text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "col-form-label text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventFamily, new { @class = "control-label" })
            <div class="small">Select a family that event belong to or create a new one.</div>
            <div id="FamilyArea" class="position-relative">
                @if (ViewBag.currFamily != "") {
                    <button type="button" class="btn btn-info m-1 form-control"><span class="float-left">@ViewBag.currFamily</span> <i class="fa fa-close float-right"></i></button>
                    <input type="hidden" name="EventFamily" value="@ViewBag.currFamily" />
                }
                else {
                    <input type="text" id="txtFamily" class="form-control" />
                    <ul class="list-group position-absolute w-100" id="listFamily" style="max-height: 200px; overflow: auto; cursor: pointer; z-index: 99;"></ul>
                }
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                @Html.LabelFor(model => model.OpenDate, new { @class = "control-label" })
                <div class="form-row">
                    <div class="col">
                        @Html.TextBoxFor(model => model.OpenDate, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.OpenDate, "", new { @class = "col-form-label text-danger" })
                    </div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.OpenTime, new { @class = "form-control", @type = "time" })
                        @Html.ValidationMessageFor(model => model.OpenTime, "", new { @class = "col-form-label text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                @Html.LabelFor(model => model.CloseDate, new { @class = "control-label" })
                <div class="form-row">
                    <div class="col">
                        @Html.TextBoxFor(model => model.CloseDate, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "col-form-label text-danger" })
                    </div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.CloseTime, new { @class = "form-control", @type = "time" })
                        @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "col-form-label text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="border border-secondary pl-3 pr-3 pb-1 pt-1">
            <legend class="w-auto pb-2">Register info</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.RegisterEndDate, new { @class = "control-label" })
                <div class="form-row">
                    <div class="col">
                        @Html.TextBoxFor(model => model.RegisterEndDate, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.RegisterEndDate, "", new { @class = "col-form-label text-danger" })
                    </div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.RegisterEndTime, new { @class = "form-control", @type = "time" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RegisterNumber, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.RegisterNumber, new { @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.RegisterNumber, "", new { @class = "col-form-label text-danger" })
            </div>
            <div class="form-group">
                <div class="small">Create a form if you want to collect more information of participants (Popup will appear).</div>
                <button class="btn btn-outline-primary" type="button" id="CreateForm">Create form</button>
                <button class="btn btn-outline-secondary invisible" type="button" id="ClearForm">Clear form</button>
                @Html.HiddenFor(model => model.FormLink, new { @id = "FormLink" })
                @Html.HiddenFor(model => model.FormRegister, new { @id = "FormRegister" })
                @Html.HiddenFor(model => model.FormResult, new { @id = "FormResult" })
            </div>
        </fieldset>
        <fieldset class="border border-secondary pl-3 pr-3 pb-1 pt-1">
            <legend class="w-auto pb-2">Access right</legend>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.Public, new { @class = "custom-control-input" })
                    @Html.LabelFor(model => model.Public, new { @class = "custom-control-label" })
                </div>
                <div class="small">Choose this option if you want people outside FPT University to see this event.</div>
                @Html.ValidationMessageFor(model => model.Public, "", new { @class = "col-form-label text-danger" })
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.OrganizerOnly, new { @class = "custom-control-input" })
                    @Html.LabelFor(model => model.OrganizerOnly, new { @class = "custom-control-label" })
                </div>
                <div class="small">Choose this option if you want create event for organizers only.</div>
            </div>
            <div class="form-group w-100 position-relative">
                @Html.LabelFor(model => model.Participants, new { @class = "control-label float-left" })
                <div class="position-relative">
                    <button class="btn btn-primary ml-2" style="margin-top: -0.3em" type="button" data-toggle="collapse" data-target="#collapseParticipants" aria-expanded="false" aria-controls="collapseExample">
                        Expand
                    </button>
                    <div class="collapse position-absolute w-100 card card-body" id="collapseParticipants" style="overflow: auto; z-index: 99;">
                        <div>
                            <div class=" w-100 overflow-auto">
                                @foreach (string major in ViewBag.Majors) {
                                    <div class="check-container d-inline-block">
                                        <div class="custom-control custom-checkbox">
                                            @if (ViewBag.currMajors != null && ViewBag.currMajors.Contains(major + ",")) {
                                                <input type="checkbox" class="custom-control-input" id="@major" value="@major" name="Participants" checked>
                                            }
                                            else {
                                                <input type="checkbox" class="custom-control-input" id="@major" value="@major" name="Participants">
                                            }
                                            <label class="custom-control-label" for="@major">@major</label>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="w-100">
                                Others:
                                @Html.TextBoxFor(model => model.OtherParticipants, new { @class = "form-control w-100" })
                            </div>
                        </div>
                    </div>
                    <div class="small mb-4">Target participants you want to join.</div>
                </div>
            </div>
            <div class="form-group w-100">
                @Html.LabelFor(model => model.TargetGroup, new { @class = "control-label" })
                <div class="small">Only members of groups below can see this event. Leave this field empty for everyone can see.</div>
                <div class="d-inline" id="GroupArea">
                    @if (ViewBag.currGroups != null) {
                        foreach (Group g in ViewBag.currGroups) {
                            <button type="button" class="btn btn-info m-1" value="@g.GroupId">@g.GroupName <i class="fa fa-close"></i></button>
                            <input type="hidden" name="TargetGroup" id="@g.GroupId" value="@g.GroupId" />
                        }
                    }
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupModal">Add</button>
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="groupModal">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Select group(s)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" id="txtGroupSearch" placeholder="Search group by name" />
                                <ul class="list-group" id="listGroup" style="height: 200px; overflow: auto; cursor: pointer">
                                    @if (ViewBag.Groups != null) {
                                        foreach (Group g in ViewBag.Groups) {
                                            <li class="list-group-item list-group-item-action p-2" value="@g.GroupId">@g.GroupName</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            @Html.HiddenFor(model => model.Description, new { @id = "Description" })
            @Html.LabelFor(model => model.DescriptionHtml, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.DescriptionHtml, new { @class = "form-control", @id = "DescriptionHtml" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "col-form-label text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label" })
            <br />
            <div class="d-inline" id="CategoryArea">
                @foreach (Category c in ViewBag.currCategories) {
                    <button type="button" class="btn btn-info m-1" value="@c.CategoryId">@c.CategoryName <i class="fa fa-close"></i></button>
                    <input type="hidden" name="Category" id="@c.CategoryId" value="@c.CategoryId" />
                }
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">Add</button>
            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="categoryModal">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select categories</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="txtCategorySearch" placeholder="Search your category" />
                            <ul class="list-group" id="listCategory" style="height: 200px; overflow: auto; cursor: pointer">
                                @foreach (Category c in ViewBag.Categories) {
                                    <li class="list-group-item list-group-item-action p-2" value="@c.CategoryId">@c.CategoryName</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>@Html.ValidationMessageFor(model => model.Category, "", new { @class = "col-form-label text-danger" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Place, new { @class = "control-label" })
            <div class="small">Name of the place that event will be held</div>
            @Html.TextBoxFor(model => model.Place, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "col-form-label text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Fee, new { @class = "control-label" })
            <div class="small">Entrance fee of event</div>
            @Html.TextBox("Fee", Model == null ? "0" : Model.Fee.ToString(), new { @class = "form-control", @type = "number", @step = 100, @min = 0 })
            @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "col-form-label text-danger" })
        </div>
        <div class="form-group">
            <input type="hidden" id="selectedGroupId" value="@ViewBag.selectedGroupId" />
            @Html.LabelFor(model => model.GroupId, new { @class = "control-label" })
            <div class="small">Which group do you want to post event as? If not select, you will be post event individually. </div>
            <select class="form-control dropdown" name="GroupId" id="GroupId">
                <option value="0">--Select a group--</option>
                @foreach (Group group in ViewBag.currUserGroup) {
                    <option value="@group.GroupId">@group.GroupName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" name="submit" class="btn btn-primary" />
            <input type="submit" value="Save draft" name="submit" class="btn btn-outline-primary" />
        </div>
    }
</div>

@section styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <style>
        .check-container {
            float: left;
            width: 40%;
        }

        .note-toolbar {
            z-index: auto;
        }
    </style>
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script>
        $(document).ready(function () {
            $('#GroupId').val($('#selectedGroupId').val());
            $("#DescriptionHtml").summernote({
                minHeight: 300,
                toolbar: [
                    ['action', ['undo', 'redo']],
                    ['style', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['font', ['fontname', 'fontsize', 'color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['table', 'link', 'hr', 'picture', 'video']]
                ],
                placeholder: "Event description"
            });
            if ($("#FormLink").val() != "") {
                $("#CreateForm").text("Edit form");
                $("#ClearForm").removeClass("invisible");
            }
        });
        $("#CoverImage").change((e) => {
            if (e.target.files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (ee) {
                    $('#EventCoverImage').css("background-image", "url(" + ee.target.result + ")");
                    $('#EventCoverImage').removeClass("d-none");
                };
                reader.readAsDataURL(e.target.files[0]);
            }
            else {
                $('#EventCoverImage').addClass("d-none");
            }
        });
        $("#Form").submit(() => {
            $("#DescriptionHtml").summernote("destroy");
            $("#Description").val($($("#DescriptionHtml").text()).text());
        });
        $("#CreateForm").click(() => {
            if ($("#CreateForm").text() == "Create form") {
                $("#CreateForm").text("Creating form");
                $("#CreateForm").prop("disabled", true);
                $.ajax({
                    url: "/Organizer/CreateForm",
                    method: "POST",
                    success: (data) => {
                        $("#FormLink").val(data.formLink);
                        $("#FormRegister").val(data.formRegister);
                        $("#FormResult").val(data.formResult);
                        $("#CreateForm").text("Edit form");
                        $("#CreateForm").prop("disabled", false);
                        $("#ClearForm").removeClass("invisible");
                        window.open($("#FormLink").val());
                    },
                    dataType: "json",
                });
            }
            else
                window.open($("#FormLink").val());
        });
        $("#ClearForm").click(() => {
            $("#FormLink").val(null);
            $("#FormRegister").val(null);
            $("#FormResult").val(null);
            $("#CreateForm").text("Create form");
            $("#ClearForm").addClass("invisible");
        });
    </script>
    <script src="~/Scripts/Organizer/CreateEvent.js"></script>
}
