﻿@using capstone.Models;
@using capstone.database.Entities;

@model CreateEventViewModel
@{
    ViewBag.Title = "CreateEvent";
}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />
    <link rel="stylesheet" href="~/Scripts/css/slick.css" />
    <link rel="stylesheet" href="~/Scripts/css/create-new-event.css" />

    <!-- SLICK -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <style>
        .check-container {
            float: left;
            width: 40%;
        }

        .note-toolbar {
            z-index: auto;
        }
    </style>

</head>

<body>
    <div class="wrapper d-flex align-items-stretch" style="margin-top: 0px; ">
        <nav id="sidebar" class="active">
            <div class="custom-menu ">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> Chờ xử lý</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Đang diễn ra</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-sticky-note mr-3"></span> Đã kết thúc</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="content">
            @using (Html.BeginForm("CreateEvent", "Organizer", null, FormMethod.Post, new { @id = "Form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="container">
                    <p class="title-form">
                        Tạo sự kiện mới
                    </p>
                    <p>Tạo 1 sự kiện</p>
                    <div class="choose-banner">
                        <div class="image-preview-container">
                            @*<div class="preview">
                                    <img id="preview-selected-image" />
                                </div>
                                <label for="file-upload">Chọn banner</label>
                                <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />*@
                            @*@Html.LabelFor(model => model.Image, new { @class = "col-form-label" })*@
                            <input type="hidden" name="CoverImage" value="@ViewBag.CurrentImage" />
                            <div class="card mb-3">
                                @*<div class="preview">
                                        <img id="preview-selected-image" />
                                    </div>*@
                                <div id="EventCoverImage" class="@(ViewBag.CurrentImage == null ? "d-none " : string.Empty) mb-2" style="background-image: url(@ViewBag.CurrentImage); background-size: contain; background-repeat: no-repeat; background-position: center; height: 160px;"></div>
                                @Html.TextBoxFor(model => model.Image, new { @class = "d-none", @type = "file", @id = "file-upload", @accept = "image/png, image/jpeg, image/gif" })
                                @Html.Label("Upload image", new { @class = "btn btn-outline-secondary d-inline-block m-0", @for = "file-upload" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "col-form-label text-danger" })
                        </div>
                    </div>
                    <div>
                        <p class="form-title">Thông tin gì đó</p>
                        <div class="block-info ">
                            <div class="block-info-left">
                                <div class="block-left-1">
                                    <label for="">Tên sự kiện</label>
                                    @*<input type="text" id="input" placeholder="Nhập tên sự kiện">*@
                                    @Html.TextBoxFor(model => model.Name, new { @id = "input", @placeholder = "Nhập tên sự kiện" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "col-form-label text-danger", })
                                    <label for="">Ngày bắt đầu</label>
                                    @*<input type="date" style="width: 100%;">*@
                                    @Html.TextBoxFor(model => model.OpenDate, new { @type = "date" })
                                    @Html.ValidationMessageFor(model => model.OpenDate, "", new { @class = "col-form-label text-danger" })
                                    <label for="">Campus tổ chức</label>
                                    <div>
                                        <div class="dropdown-container d-inline-block" style="width: 100%;">
                                            <div class="select" style="width: 100%; height: 2.4em;">
                                                @*@Html.DropDownListFor(c => c.Campus, new SelectList(ViewBag.Campuses, "CampusId", "CampusName"), "Select category")*@
                                                <select class="form-control dropdown" name="Campus" id="Campus">
                                                    <option value="0">--Select campus--</option>
                                                    @foreach (Campus campus in ViewBag.Campuses)
                                                    {
                                                        <option value="@campus.CampusId">@campus.CampusName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-left-2">
                                    <label for="" class="invisible input-hidden">Tên sự kiện</label>
                                    <input class="invisible input-hidden" type="text" style="width: 100%;">
                                    <label for="">Giờ bắt đầu</label>
                                    @*<input type="time" id="appt" name="appt" style="width: 255px; height: 38.5px;">*@
                                    @Html.TextBoxFor(model => model.OpenTime, new { @id = "appt", @type = "time", @style = "width: 255px; height: 38.5px; " })
                                    @Html.ValidationMessageFor(model => model.OpenTime, "", new { @class = "col-form-label text-danger" })
                                </div>
                            </div>
                            <div class="block-info-right">
                                <div class="block-left-1">
                                    <label for="">Địa điểm tổ chức</label>
                                    @*<input type="text" placeholder="Nhập địa điểm tổ chức">*@
                                    @Html.TextBoxFor(model => model.Place, new { @placeholder = "Nhập địa điểm tổ chức" })
                                    @Html.ValidationMessageFor(model => model.Place, "", new { @class = "col-form-label text-danger" })
                                    <label for="">Ngày kết thúc</label>
                                    @*<input type="date" style="width: 100%;">*@
                                    @Html.TextBoxFor(model => model.CloseDate, new { @type = "date" })
                                    @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "col-form-label text-danger" })
                                    <label for="">Link video</label>
                                    @*<input type="text" style="width: 100%;" placeholder="Nhập Link video">*@
                                    @Html.TextBoxFor(model => model.UrlLink, new { @type = "text", @placeholder = "Nhập link video" })
                                    @Html.ValidationMessageFor(model => model.UrlLink, "", new { @class = "col-form-label text-danger" })
                                </div>
                                <div class="block-left-2">
                                    <label for="" class="invisible input-hidden">Tên sự kiện</label>
                                    <input class="invisible input-hidden" type="text">
                                    <label for="">Giờ kết thúc</label>
                                    @*<input type="time" id="appt" name="appt" style="width: 100%; height: 38.5px;">*@
                                    @Html.TextBoxFor(model => model.CloseTime, new { @id = "appt", @type = "time", @style = "width: 255px; height: 38.5px; " })
                                    @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "col-form-label text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="form-title">@Html.LabelFor(model => model.DescriptionHtml, new { @class = "control-label" })</p>
                        <div class="form-group">
                            @Html.HiddenFor(model => model.Description, new { @id = "Description" })
                            @Html.TextAreaFor(model => model.DescriptionHtml, new { @class = "form-control", @id = "DescriptionHtml" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "col-form-label text-danger" })
                        </div>
                    </div>
                    <!-- Tạo form đăng ký -->
                    <div>
                        <p class="form-title">Tạo Form đăng ký</p>
                        <div class="block-info ">
                            <div class="block-info-left">
                                <div class="block-left-1">
                                    <label for="standard">
                                        Ngày đóng đơn
                                    </label>
                                    @*<input type="time" id="standard">*@
                                    @Html.TextBoxFor(model => model.RegisterEndDate, new { id = "standard", @type = "date" })
                                    @Html.ValidationMessageFor(model => model.RegisterEndDate, "", new { @class = "col-form-label text-danger" })
                                    <p class="mb-1">Sử dụng google form</p>
                                    <button class="custom-btn2 btn-x" style="width:175px" type="button" id="CreateForm">Create form</button>
                                    <button class="custom-btn2 btn-x invisible" style="width:175px" type="button" id="ClearForm">Clear form</button>
                                    @Html.HiddenFor(model => model.FormLink, new { @id = "FormLink" })
                                    @Html.HiddenFor(model => model.FormRegister, new { @id = "FormRegister" })
                                    @Html.HiddenFor(model => model.FormResult, new { @id = "FormResult" })
                                </div>
                                <div class="block-left-2">
                                    <label for="">Giờ đóng đơn</label>
                                    @*<input type="time" id="appt" name="appt" style="width: 100%; ">*@
                                    @Html.TextBoxFor(model => model.RegisterEndTime, new { @id = "appt", @style = "width: 100%;", @type = "time" })
                                </div>
                            </div>
                            <div class="block-info-right">
                                <div class="block-left-1">
                                    <label for="">Số lượng người tham gia</label>
                                    @*<input type="text" placeholder="Nhập số người tham gia" style="height: 41px;">*@
                                    @Html.TextBoxFor(model => model.RegisterNumber, new { @placeholder = "Nhập số người tham gia", @style = "height: 41px;", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.RegisterNumber, "", new { @class = "col-form-label text-danger" })
                                </div>
                                <div class="block-left-2">
                                    <label for="" class="invisible ">Tên sự kiện</label>
                                    <input class="invisible " type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Quyền truy cập -->
                    <div>
                        <p class="form-title">Quyền truy cập</p>
                        <div class="block-info2 ">
                            <!-- <div class="block-info-left">
                              <div class="block-left-1">
                                <label for="standard">
                                  Ngày đóng đơn
                                </label>
                                <input type="time" id="standard">
                                <p class="w-75 lh-1">Sử dụng google form</p>
                                <button class="btn-form-res mt-3">Tạo form</button>
                              </div>

                              <div class="block-left-2">
                                <label for="">Giờ đóng đơn</label>
                                <input type="time" id="appt" name="appt" style="width: 100%; ">
                                <label for="" class="invisible input-hidden">Tên sự kiện</label>
                                <input class="invisible input-hidden" type="text">
                              </div>
                            </div> -->
                            <!-- <div class="block-info-right">
                              <div class="block-left-1">
                                <label for="">Số lượng người tham gia</label>
                                <input type="text">
                              </div>
                              <div class="block-left-2">
                                <label for="" class="invisible ">Tên sự kiện</label>
                                <input class="invisible " type="text">

                              </div>
                            </div> -->
                            <form style="line-height: 1;">
                                @*<input type="checkbox" id="weekday-1" name="abc-1" value="Friday" checked style="line-height: 0;">*@
                                @*@Html.CheckBoxFor(model => model.Public, new { @id = "weekday-1", @checked = true, @name = "weekday-1", @style = "line-height: 0;" })*@
                                <input checked data-val="true" data-val-required="The Public field is required." id="weekday-1" name="Public" style="line-height: 0;" type="checkbox" value="true">
                                <label for="weekday-1">Sự kiện này sẽ xuất hiện với tất cả mọi người</label>
                                <input name="Public" type="hidden" value="false">
                                @Html.ValidationMessageFor(model => model.Public, "", new { @class = "col-form-label text-danger" })
                                @*<input type="checkbox" id="weekday-2" name="weekday-2" value="Saturday">*@
                                @*@Html.CheckBoxFor(model => model.OrganizerOnly, new { @id = "weekday-2", @name = "weekday-2" })*@
                                <input data-val="true" data-val-required="The For organizers only field is required." id="weekday-2" name="OrganizerOnly" type="checkbox" value="true">
                                <label for="weekday-2">Sự kiện này chỉ dành cho các cán bộ</label>
                                <input name="OrganizerOnly" type="hidden" value="false">
                                <div class="my-2" style="line-height: 2;">
                                    <span>Target majors</span>
                                    <button class="custom-btn2 btn-x" type="button" data-toggle="collapse" data-target="#collapseParticipants" aria-expanded="false" aria-controls="collapseExample">Expand</button>
                                    <div class="collapse position-absolute w-100 card card-body" id="collapseParticipants" style="overflow: auto; z-index: 99;">
                                        <div>
                                            <div class=" w-100 overflow-auto">
                                                @foreach (string major in ViewBag.Majors)
                                                {
                                                    <div class="check-container d-inline-block">
                                                        <div class="custom-control custom-checkbox">
                                                            @if (ViewBag.currMajors != null && ViewBag.currMajors.Contains(major + ","))
                                                            {
                                                                <input type="checkbox" class="custom-control-input" id="@major" value="@major" name="Participants" checked>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="custom-control-input" id="@major" value="@major" name="Participants">
                                                            }
                                                            <label class="custom-control-label" for="@major">@major</label>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="w-100">
                                                Others:
                                                @Html.TextBoxFor(model => model.OtherParticipants, new { @class = "form-control w-100" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<span>Chỉ thành viên thuộc câu lạc bộ này mới được xem</span>*@
                                </div>
                                <div style="line-height: 2;">
                                    <span>Target group</span>
                                    <div class="d-inline" id="GroupArea">
                                        @if (ViewBag.currGroups != null)
                                        {
                                            foreach (Group g in ViewBag.currGroups)
                                            {
                                                <button type="button" class="btn btn-info m-1" value="@g.GroupId">@g.GroupName <i class="fa fa-close"></i></button>
                                                <input type="hidden" name="TargetGroup" id="@g.GroupId" value="@g.GroupId" />
                                            }
                                        }
                                    </div>
                                    <button type="button" class="custom-btn2 btn-x" data-toggle="modal" data-target="#groupModal">Add</button>
                                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="groupModal">
                                        <div class="modal-dialog modal-dialog-centered modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Select group(s)</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" class="form-control" id="txtGroupSearch" placeholder="Search group by name" />
                                                    <ul class="list-group" id="listGroup" style="height: 200px; overflow: auto; cursor: pointer">
                                                        @if (ViewBag.Groups != null)
                                                        {
                                                            foreach (Group g in ViewBag.Groups)
                                                            {
                                                                <li class="list-group-item list-group-item-action p-2" value="@g.GroupId">@g.GroupName</li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <p class="form-title">Thể loại</p>
                        <div class="block-info2 ">
                            <div style="line-height: 1;">
                                @Html.LabelFor(model => model.Category, new { @class = "control-label" })

                                <div class="d-inline" id="CategoryArea">
                                    @foreach (Category c in ViewBag.currCategories)
                                    {
                                        <button type="button" class="btn btn-info m-1" value="@c.CategoryId">@c.CategoryName <i class="fa fa-close"></i></button>
                                        <input type="hidden" name="Category" id="@c.CategoryId" value="@c.CategoryId" />
                                        @*@Html.TextBoxFor(m => m.Category, new { @value = c.CategoryId})*@
                                    }
                                </div>
                                <button type="button" class="custom-btn2 btn-x" data-toggle="modal" data-target="#categoryModal">Add</button>
                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="categoryModal">
                                    <div class="modal-dialog modal-dialog-centered modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Select categories</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" class="form-control" id="txtCategorySearch" placeholder="Search your category" />
                                                <ul class="list-group" id="listCategory" style="height: 200px; overflow: auto; cursor: pointer">
                                                    @foreach (Category c in ViewBag.Categories)
                                                    {
                                                        <li class="list-group-item list-group-item-action p-2" value="@c.CategoryId">@c.CategoryName</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>@Html.ValidationMessageFor(model => model.Category, "", new { @class = "col-form-label text-danger" })</div>

                                <div class="mt-3">
                                    <label for="">Chọn chuỗi thể loại của sự kiện sẵn có hoặc tạo mới</label>
                                    <div id="FamilyArea" class="position-relative">
                                        @if (ViewBag.currFamily != "")
                                        {
                                            <button type="button" class="btn btn-info m-1 form-control"><span class="float-left">@ViewBag.currFamily</span> <i class="fa fa-close float-right"></i></button>
                                            <input type="hidden" name="EventFamily" value="@ViewBag.currFamily" />
                                        }
                                        else
                                        {
                                            <input type="text" id="txtFamily" class="form-control" />
                                            <ul class="list-group position-absolute w-100" id="listFamily" style="max-height: 200px; overflow: auto; cursor: pointer; z-index: 99;"></ul>
                                        }
                                        @Html.TextBox("Fee", Model == null ? "0" : Model.Fee.ToString(), new { @hidden = true, @value = 0, @class = "form-control", @type = "number", @step = 100, @min = 0 })
                                    </div>
                                </div>
                                <div />
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="form-title">Quản lý trình chiếu tv</p>
                        <div class="block-info-tv block-info2">
                            <div class="block-tv-top">
                                <div>
                                    <input checked data-val="true" data-val-required="The field is required." id="weekday-3" name="PublicTv" style="line-height: 0;" type="checkbox" value="true">
                                    <label for="weekday-3">Sự kiện này sẽ chiếu trên tất cả tv</label>
                                    <input name="PublicTv" type="hidden" value="false">
                                    @*<input type="checkbox" id="weekday-4" name="weekday-4" value="Saturday">
                                        <label for="weekday-4">Sự kiện này sẽ xuất hiện với những người không phải sinh viên FPT</label>*@
                                </div>
                                <label for="" class="mb-0 mt-3">Chọn campus</label>
                                <div>
                                    <div class="dropdown-container d-inline-block mb-3" style="">
                                        <div class="select" style="width: 255px;height: 2.4em;">
                                            <select class="form-control dropdown" name="Campus" id="Campus1">
                                                <option value="0">--Select campus--</option>
                                                @foreach (Campus campus in ViewBag.Campuses)
                                                {
                                                    <option value="@campus.CampusId">@campus.CampusName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label for="" class="mb-0">Building này thuộc campus</label>
                                <div>
                                    <div class="dropdown-container d-inline-block mb-3 " style="">
                                        <div class="select" style="width: 255px;height: 2.4em;">
                                            <select id="listBuilding" name="listBuilding">
                                                <option value="">--Select a building--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label for="" class="mb-0">Chọn tivi</label>
                                <div>
                                    <div class="dropdown-container d-inline-block mb-3" style="">
                                        <div class="d-inline" id="TvArea">
                                            @if (ViewBag.currSmartTv == null)
                                            {

                                            }
                                            else
                                            {
                                                foreach (SmartTV tv in ViewBag.currSmartTv)
                                                {
                                                    <button type="button" class="btn btn-info m-1" value="@tv.TvId">@tv.TvName <i class="fa fa-close"></i></button>
                                                    <input type="hidden" name="SmartTv" id="@tv.TvId" value="@tv.TvId" />

                                                }}

                                        </div>
                                        <button type="button" class="custom-btn2 btn-x" data-toggle="modal" data-target="#tvModal">Add</button>
                                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModal" aria-hidden="true" id="tvModal">
                                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Select tv</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" class="form-control" id="txtSmartTvSearch" placeholder="Search your tv" />
                                                        <ul class="list-group" id="listTv" style="height: 200px; overflow: auto; cursor: pointer">
                                                            <li class="list-group-item list-group-item-action p-2" value="">--Select a tv--</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label for="" class="mb-0">Chọn staff</label>
                                <div>
                                    <div class="dropdown-container d-inline-block mb-3" style="">
                                        <div class="d-inline" id="StaffArea">
                                            @foreach (UserProfile up in ViewBag.currStaff)
                                            {
                                                <button type="button" class="btn btn-info m-1" value="@up.ProfileId">@up.FirstName @up.LastName <i class="fa fa-close"></i></button>
                                                <input type="hidden" name="Staff" id="@up.ProfileId" value="@up.ProfileId" />

                                            }
                                        </div>
                                        <button type="button" class="custom-btn2 btn-x" data-toggle="modal" data-target="#staffModal">Add</button>
                                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModal" aria-hidden="true" id="staffModal">
                                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Select staff</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" class="form-control" id="txtUserSearch" placeholder="Search user" />
                                                        <ul class="list-group" id="listUser" style="height: 200px; overflow: auto; cursor: pointer"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="block-info px-0 pb-0 mb-0" style="border: 0;">
                                <div class="block-info-left">
                                    <div class="block-left-1">
                                        <label for="">Ngày bắt đầu banner </label>
                                        @Html.TextBoxFor(model => model.StartDateBanner, new { id = "standard", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.StartDateBanner, "", new { @class = "col-form-label text-danger" })
                                        <label for="">Ngày bắt đầu chiếu vieo</label>
                                        @Html.TextBoxFor(model => model.StartDateVideo, new { id = "standard", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.StartDateVideo, "", new { @class = "col-form-label text-danger" })
                                    </div>
                                    <div class="block-left">
                                        <label for="">Giờ bắt đầu banner</label>
                                        @Html.TextBoxFor(model => model.StartTimeBanner, new { @id = "appt", @type = "time", @style = "width: 255px; height: 38.5px; " })
                                        @Html.ValidationMessageFor(model => model.StartTimeBanner, "", new { @class = "col-form-label text-danger" })
                                        <label for="">Giờ bắt đầu video</label>
                                        @Html.TextBoxFor(model => model.StartTimeVideo, new { @id = "appt", @type = "time", @style = "width: 255px; height: 38.5px; " })
                                        @Html.ValidationMessageFor(model => model.StartTimeVideo, "", new { @class = "col-form-label text-danger" })
                                    </div>
                                </div>
                                <hr>
                                <div class="block-info-right">
                                    <div class="block-left-1">
                                        <label for="">Ngày kết thúc banner</label>
                                        @Html.TextBoxFor(model => model.EndDateBanner, new { id = "standard", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.EndDateBanner, "", new { @class = "col-form-label text-danger" })
                                        <label for="">Ngày kết thúc chiếu vieo</label>
                                        @Html.TextBoxFor(model => model.EndDateVideo, new { id = "standard", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.EndDateVideo, "", new { @class = "col-form-label text-danger" })
                                    </div>
                                    <div class="block-left">
                                        <label for="" class="">Giờ kết thúc banner</label>
                                        @Html.TextBoxFor(model => model.EndTimeBanner, new { @id = "appt", @type = "time", @style = "width: 255px; height: 38.5px; " })
                                        @Html.ValidationMessageFor(model => model.EndTimeBanner, "", new { @class = "col-form-label text-danger" })
                                        <label for="" class="">Giờ kết thúc video</label>
                                        @Html.TextBoxFor(model => model.EndTimeVideo, new { @id = "appt", @type = "time", @style = "width: 255px; height: 38.5px; " })
                                        @Html.ValidationMessageFor(model => model.EndTimeVideo, "", new { @class = "col-form-label text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-submit mb-5">
                        <input type="submit" name="submit" class="custom-btn btn-1" value="Create" />
                        <input type="submit" name="submit" class="custom-btn btn-15 ml-1" value="Save draft" />
                    </div>
                </div>
            }
        </section>
</div>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <!-- Popper Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
        <!-- Hierarchy Select Js -->
        @*<script src="~/Scripts/js/hierarchy-select.min.js"></script>


            <script src="~/Scripts/js/main.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
        @*<script>
                $(document).ready(function () {
                    $('#example').hierarchySelect({
                        hierarchy: false,
                        width: 'auto'
                    });
                });
            </script>*@
        @section scripts {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
            <script>
        $(document).ready(function () {
            $("#Campus1").change(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                url: "@Url.Action("GetBuildingByCampusId")",
                data: JSON.stringify({ "campId": $("#Campus1").val() }),
                success: function (result, status, xhr) {
                    //$("#listBuilding").html(result);
                    //$('#listFamily').show();
                    $('#listBuilding option').remove();
                    var buildingList = $('#listBuilding');
                    buildingList.append('<option value=' + '>--Select a building--</option>');
                    console.log('đã có list building');
                    for (let ele of result) {
                        buildingList.append('<option value=' + ele.BuildingId + '>' + ele.BuildingName + '</option>');
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
    });
            </script>
            <script>

                (function ($) {
                    'use strict';

                    var fullHeight = function () {
                        $('.js-fullheight').css('height', $(window).height());
                        $(window).resize(function () {
                            $('.js-fullheight').css('height', $(window).height());
                        });
                    };
                    fullHeight();

                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                })(jQuery);
            </script>
            <script>


                $(document).ready(function () {

                    $("#DescriptionHtml").summernote({
                        minHeight: 300,
                        toolbar: [
                            ['action', ['undo', 'redo']],
                            ['style', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                            ['font', ['fontname', 'fontsize', 'color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['height', ['height']],
                            ['insert', ['table', 'link', 'hr', 'picture', 'video']]
                        ],
                        placeholder: "Event description"
                    });
                    if ($("#FormLink").val() != "") {
                        $("#CreateForm").text("Edit form");
                        $("#ClearForm").removeClass("invisible");
                    }
                });
                $("#file-upload").change((e) => {
                    if (e.target.files.length > 0) {
                        var reader = new FileReader();
                        reader.onload = function (ee) {
                            $('#EventCoverImage').css("background-image", "url(" + ee.target.result + ")");
                            $('#EventCoverImage').removeClass("d-none");
                        };
                        reader.readAsDataURL(e.target.files[0]);
                    }
                    else {
                        $('#EventCoverImage').addClass("d-none");
                    }
                });
                $("#Form").submit(() => {
                    $("#DescriptionHtml").summernote("destroy");
                    $("#Description").val($($("#DescriptionHtml").text()).text());
                });
                $("#CreateForm").click(() => {
                    if ($("#CreateForm").text() == "Create form") {
                        $("#CreateForm").text("Creating form");
                        $("#CreateForm").prop("disabled", true);
                        $.ajax({
                            url: "/Organizer/CreateForm",
                            method: "POST",
                            success: (data) => {
                                $("#FormLink").val(data.formLink);
                                $("#FormRegister").val(data.formRegister);
                                $("#FormResult").val(data.formResult);
                                $("#CreateForm").text("Edit form");
                                $("#CreateForm").prop("disabled", false);
                                $("#ClearForm").removeClass("invisible");
                                window.open($("#FormLink").val());
                            },
                            dataType: "json",
                        });
                    }
                    else
                        window.open($("#FormLink").val());
                });
                $("#ClearForm").click(() => {
                    $("#FormLink").val(null);
                    $("#FormRegister").val(null);
                    $("#FormResult").val(null);
                    $("#CreateForm").text("Create form");
                    $("#ClearForm").addClass("invisible");
                });
                const previewImage = (event) => {
                    const imageFiles = event.target.files;
                    const imageFilesLength = imageFiles.length;
                    if (imageFilesLength > 0) {
                        const imageSrc = URL.createObjectURL(imageFiles[0]);
                        const imagePreviewElement = document.querySelector(
                            '#preview-selected-image'
                        );
                        imagePreviewElement.src = imageSrc;

                        imagePreviewElement.style.display = 'block';
                    }
                };
            </script>
            <script src="~/Scripts/Organizer/CreateEvent.js"></script>
        }

</body>


