﻿@using capstone.Models;
@using capstone.database.Entities;

@model CreateEventViewModel
@{
    ViewBag.Title = "Create event";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Scripts/css/style.css" />
    <link rel="stylesheet" href="~/Scripts/css/slick.css" />
    <link rel="stylesheet" href="~/Scripts/css/create-new-event.css" />

    <!-- SLICK -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <style>
        .check-container {
            float: left;
            width: 40%;
        }

        .note-toolbar {
            z-index: auto;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="left">
            <a class="tkb-brand navbar-brand" href="/" data-opm="logo">
                <img class="tkb-logo" src="./assets/fptlogo.png">
            </a>
            <div class="select">
                <select name="format" id="format">
                    <option selected disabled>Chọn câu lạc bộ</option>
                    <option value="pdf">PDF</option>
                    <option value="txt">txt</option>
                    <option value="epub">ePub</option>
                    <option value="fb2">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
            </div>
        </div>
        <div class="right">
            <div class="select">
                <select name="format" id="format">
                    <option selected disabled>Chọn câu lạc bộ</option>
                    <option value="pdf">PDF</option>
                    <option value="txt">txt</option>
                    <option value="epub">ePub</option>
                    <option value="fb2">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
            </div>
            <div class="user">
                <i class="fas fa-user"></i>
                <span>Thoai</span>
            </div>
        </div>

    </header>
    <section class="sidebar">
        <div class="nav-bar">
            <ul class="list-ctrl">
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Sự kiện đang chờ xử lý
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Tạo sự kiện
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Sự kiện đã tạo của tôi
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Hồ sơ ban tổ chức
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <p class="title-form">
                Tạo sự kiện mơis
            </p>
            <p>Tạo 1 sự kiện....</p>
            <div class="choose-banner">
                <div class="image-preview-container">
                    <div class="preview">
                        <img id="preview-selected-image" />
                    </div>
                    <label for="file-upload">Chọn banner</label>
                    <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />
                </div>
            </div>
            <div>
                <p class="form-title">Thông tin cơ bản</p>
                <div class="block-info ">
                    <div class="block-info-left">
                        <div class="block-left-1">
                            <label for="">Tên sự kiện</label>
                            @*@style= "width: 100%;background: #eaeff1;border: none;border-bottom: 4px solid #c9d6da;display: block;margin-bottom: 0.625em;margin-top: 0.3em;outline-offset: 3px;padding: 0.45em 0.45em 0.45em 0.65em;width: 255px;outline: none;border: none;"*@
                            @Html.TextBoxFor(model => model.Name, new { @class = "input" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "col-form-label text-danger" })
                            <label for="">Ngày sự kiện bắt đầu</label>
                            @Html.TextBoxFor(model => model.OpenDate, new { @class = "input", @type = "date", @style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.OpenDate, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <div class="block-left-2">
                            <label for="" class="invisible input-hidden" >Tên sự kiện</label>
                            <input class="invisible input-hidden" type="text">
                            <label for="">Giờ kết thúc</label>
                            @Html.TextBoxFor(model => model.OpenTime, new { @class = "form-control", @type = "time" })
                            @Html.ValidationMessageFor(model => model.OpenTime, "", new { @class = "col-form-label text-danger" })
                        </div>
                    </div>

                    <div class="block-info-right">
                        <div class="block-left-1">
                            <label for="">Địa điểm tổ chức</label>
                            @Html.TextBoxFor(model => model.Place, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "col-form-label text-danger" })
                            <label for="">Ngày kết thúc</label>
                            @Html.TextBoxFor(model => model.CloseDate, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <div class="block-left-2">
                            <label for="" class="invisible input-hidden">Tên sự kiện</label>
                            <input class="invisible input-hidden" type="text">
                            <label for="">Giờ kết thúc</label>
                            @Html.TextBoxFor(model => model.CloseTime, new { @class = "form-control", @type = "time" })
                            @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "col-form-label text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.Description, new { @id = "Description" })
                @Html.LabelFor(model => model.DescriptionHtml, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.DescriptionHtml, new { @class = "form-control", @id = "DescriptionHtml" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "col-form-label text-danger" })
            </div>

            <div>
                <p class="form-title">Tạo form đăng ký</p>
                <div class="block-info ">
                    <div class="block-info-left">
                        <div class="block-left-1">
                            <label for="standard">
                                Ngày đóng form đăng ký
                            </label>
                            @Html.TextBoxFor(model => model.RegisterEndDate, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.RegisterEndDate, "", new { @class = "col-form-label text-danger" })
                            <p class="w-75 lh-1">Sử dụng google form</p>
                            <button class="btn btn-outline-primary" type="button" id="CreateForm">Create form</button>
                            <button class="btn btn-outline-secondary invisible" type="button" id="ClearForm">Clear form</button>
                            @Html.HiddenFor(model => model.FormLink, new { @id = "FormLink" })
                            @Html.HiddenFor(model => model.FormRegister, new { @id = "FormRegister" })
                            @Html.HiddenFor(model => model.FormResult, new { @id = "FormResult" })
                        </div>

                        <div class="block-left-2">
                            <label for="">Giờ đóng form đăng ký</label>
                            @Html.TextBoxFor(model => model.RegisterEndTime, new { @class = "form-control", @type = "time" })
                            <label for="" class="invisible input-hidden">Tên sự kiện</label>
                            <input class="invisible input-hidden" type="text">
                        </div>
                    </div>

                    <div class="block-info-right">
                        <div class="block-left-1">
                            <label for="">Số lượng người tối đa cho phép tham gia</label>
                            @Html.TextBoxFor(model => model.RegisterNumber, new { @class = "form-control", @type = "number" })
                            @Html.ValidationMessageFor(model => model.RegisterNumber, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <div class="block-left-2">
                            <label for="" class="invisible ">Tên sự kiện</label>
                            <input class="invisible " type="text">

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="form-title">Quyền truy cập</p>
                <div class="block-legal">
                    <div class="block-info-legal ">
                        <p class="checkbox-cus">

                            <div>
                                @Html.CheckBoxFor(model => model.Public, new { @class = "custom-control-input" })
                                @Html.LabelFor(model => model.Public, new { @class = "custom-control-label" })
                                @*<input type="checkbox" id="chk1" name="chkdemo" checked><label for="chk1"></label>*@
                            </div>
                        </p>
                        <p class="checkbox-cus">
                            <input type="checkbox" id="chk2" name="chkdemo"><label for="chk2"></label> UnChecked
                        </p>
                        <div class="legal-dropdown">
                            <div class="dropdown-container d-inline-block">
                                <div class="select">
                                    <select name="format" id="format">
                                        <option selected disabled>Chọn câu lạc bộ</option>
                                        <option value="pdf">PDF</option>
                                        <option value="txt">txt</option>
                                        <option value="epub">ePub</option>
                                        <option value="fb2">fb2</option>
                                        <option value="mobi">mobi</option>
                                    </select>
                                </div>
                            </div>
                            <p>Chỉ có người trong clb</p>
                        </div>
                        <div class="legal-dropdown">
                            <div class="dropdown-container d-inline-block">
                                <div class="select">
                                    <select name="format" id="format">
                                        <option selected disabled>Chọn chuyên ngành</option>
                                        <option value="pdf">PDF</option>
                                        <option value="txt">txt</option>
                                        <option value="epub">ePub</option>
                                        <option value="fb2">fb2</option>
                                        <option value="mobi">mobi</option>
                                    </select>
                                </div>
                            </div>
                            <p>Chỉ có người trong clb</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="form-title">Thể loại và group</p>
                <div class="block-legal">
                    <div class="block-info-legal ">
                        <p class="checkbox-cus">
                            <input type="checkbox" id="chk1" name="chkdemo" checked><label for="chk1"></label>
                            Checked
                        </p>
                        <p class="checkbox-cus">
                            <input type="checkbox" id="chk2" name="chkdemo"><label for="chk2"></label> UnChecked
                        </p>
                        <div class="legal-dropdown">
                            <div class="dropdown-container d-inline-block">
                                <div class="select">
                                    <select name="format" id="format">
                                        <option selected disabled>Chọn thể loại</option>
                                        <option value="pdf">PDF</option>
                                        <option value="txt">txt</option>
                                        <option value="epub">ePub</option>
                                        <option value="fb2">fb2</option>
                                        <option value="mobi">mobi</option>
                                    </select>
                                </div>
                            </div>
                            <p>Chỉ có người trong clb</p>
                        </div>
                        <div class="legal-dropdown">
                            <div class="dropdown-container d-inline-block">
                                <div class="select">
                                    <select name="format" id="format">
                                        <option selected disabled>Group</option>
                                        <option value="pdf">PDF</option>
                                        <option value="txt">txt</option>
                                        <option value="epub">ePub</option>
                                        <option value="fb2">fb2</option>
                                        <option value="mobi">mobi</option>
                                    </select>
                                </div>
                            </div>
                            <p>Chỉ có người trong clb</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <section class="btn-submit mb-5">
        <button class="custom-btn btn-1">Tạo</button>
        <button class="custom-btn btn-15 ml-1">Lưunháp</button>
    </section>
    <footer class="footer wrapper">
        <div class="footer-left d-flex flex-row gap-2 align-items-center ">
            <img src="./assets/fptlogo.png" alt="" class="ft-img" style="width: auto; height: 50px;">
            <p class="mb-0">Hệ thống quản lý và phân phối vé sự kiện hàng đầu châu Á.</p>

        </div>
        <div class="footer-right d-flex flex-row justify-content-end align-items-center gap-3 w-50 ">
            <p class="mb-0">
                Giấy phép Kinh doanh số 0313605444
                do Sở Kế hoạch & Đầu tư TPHCM cấp ngày 07/01/2016
            </p>
            <img src="https://static.tkbcdn.com/site/global/content-v2/img/license1.jpg" alt="" class="ft-img"
                 style="width: 20%;">
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/Scripts/js/slick.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script>
        $(document).ready(function () {

            $("#DescriptionHtml").summernote({
                minHeight: 300,
                toolbar: [
                    ['action', ['undo', 'redo']],
                    ['style', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['font', ['fontname', 'fontsize', 'color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['table', 'link', 'hr', 'picture', 'video']]
                ],
                placeholder: "Event description"
            });
            if ($("#FormLink").val() != "") {
                $("#CreateForm").text("Edit form");
                $("#ClearForm").removeClass("invisible");
            }
        });
        $("#CoverImage").change((e) => {
            if (e.target.files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (ee) {
                    $('#EventCoverImage').css("background-image", "url(" + ee.target.result + ")");
                    $('#EventCoverImage').removeClass("d-none");
                };
                reader.readAsDataURL(e.target.files[0]);
            }
            else {
                $('#EventCoverImage').addClass("d-none");
            }
        });
        $("#Form").submit(() => {
            $("#DescriptionHtml").summernote("destroy");
            $("#Description").val($($("#DescriptionHtml").text()).text());
        });
        $("#CreateForm").click(() => {
            if ($("#CreateForm").text() == "Create form") {
                $("#CreateForm").text("Creating form");
                $("#CreateForm").prop("disabled", true);
                $.ajax({
                    url: "/Organizer/CreateForm",
                    method: "POST",
                    success: (data) => {
                        $("#FormLink").val(data.formLink);
                        $("#FormRegister").val(data.formRegister);
                        $("#FormResult").val(data.formResult);
                        $("#CreateForm").text("Edit form");
                        $("#CreateForm").prop("disabled", false);
                        $("#ClearForm").removeClass("invisible");
                        window.open($("#FormLink").val());
                    },
                    dataType: "json",
                });
            }
            else
                window.open($("#FormLink").val());
        });
        $("#ClearForm").click(() => {
            $("#FormLink").val(null);
            $("#FormRegister").val(null);
            $("#FormResult").val(null);
            $("#CreateForm").text("Create form");
            $("#ClearForm").addClass("invisible");
        });
        const previewImage = (event) => {
            const imageFiles = event.target.files;
            const imageFilesLength = imageFiles.length;
            if (imageFilesLength > 0) {
                const imageSrc = URL.createObjectURL(imageFiles[0]);
                const imagePreviewElement = document.querySelector(
                    '#preview-selected-image'
                );
                imagePreviewElement.src = imageSrc;

                imagePreviewElement.style.display = 'block';
            }
        };
    </script>
    @*<script src="~/Scripts/Organizer/CreateEvent.js"></script>*@

</body>

</html>
