﻿@using capstone.Models;

@{
    ViewBag.Title = "Organizer";
}

<div class="container">
    @if (ViewBag.Happenings.Count > 0)
    {
        <h1 class="display-4 mb-2">Your happening events</h1>
        <div class="lead mb-2">Click to manage checkins</div>
        <div class="border border-secondary rounded mb-2">
            <div id="happenings-captions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < ViewBag.Happenings.Count; i++)
                    {
                        <li data-target="#happenings-captions" data-slide-to="@i" @(i == 0 ? "class=active" : string.Empty)></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < ViewBag.Happenings.Count; i++)
                    {
                        EventModel eventt = ViewBag.Happenings[i];
                        <div class="carousel-item@(i == 0 ? " active" : string.Empty)">
                            <div style="background-image: url(@eventt.CoverImage); background-size: contain; background-repeat: no-repeat; background-position: center; height: 300px;"></div>
                            @Html.ActionLink(" ", "ManageEventCheckins", "Organizer", new { id = eventt.Id }, new { @class = "stretched-link" })
                            <div class="carousel-caption d-none d-md-block bg-dark p-2 rounded">
                                <h5>@eventt.Name</h5>
                                <p>@eventt.Description.Substring(0, Math.Min(eventt.Description.Length, 130))...</p>
                                @Html.ActionLink(" ", "ManageEventCheckins", "Organizer", new { id = eventt.Id }, new { @class = "stretched-link" })
                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#happenings-captions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#happenings-captions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
    <h1 class="display-4 mb-2">Organizer</h1>
    <div class="card-deck">
        <div class="card mb-2">
            <h5 class="card-header">Manage your events</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("Create event", "CreateEvent", "Organizer", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("View all your events", "ViewAllYourEvents", "Organizer", null, new { @class = "list-group-item list-group-item-action" })
                    <a href="@Url.Action("ViewYourDraftEvents", "Organizer")" class="list-group-item list-group-item-action">
                        View your draft events
                        @if (ViewBag.Drafts > 0)
                        {
                            <span class="badge badge-info">@ViewBag.Drafts draft@(ViewBag.Drafts != 1 ? "s" : string.Empty)</span>
                        }
                    </a>
                    <a href="@Url.Action("ViewYourPendingEvents", "Organizer")" class="list-group-item list-group-item-action">
                        View your pending events
                        @if (ViewBag.Pending > 0)
                        {
                            <span class="badge badge-primary">@ViewBag.Pending pending</span>
                        }
                        @if (ViewBag.Rejected > 0)
                        {
                            <span class="badge badge-danger">@ViewBag.Rejected rejected</span>
                        }
                    </a>
                    @Html.ActionLink("NEF", "ViewAllYourEvents", "Organizer", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h5 class="card-header">View events</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View university event calendar", "ViewUniversityEventCalendar", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("View all events", "ViewAllEvents", "Home", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-2">
            <h5 class="card-header">Manage your account</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("Manage your profile", "ManageYourProfile", "Home", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h5 class="card-header">View groups</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all groups", "ViewAllGroups", "Home", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <style>
        .carousel-control-next {
            filter: invert(50%);
        }

        .carousel-control-prev {
            filter: invert(50%);
        }

        .carousel-caption {
            background: rgba(0, 0, 0, 0.6);
        }
    </style>
}
