﻿@using capstone.Models;

@{
    ViewBag.Title = "Manage event checkins";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Organizer", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    @if (ViewBag.RegisterCheckins.Count > 0) {
        <div class="table-responsive">
            <table class="table table-sm table-striped" id="RegisterCheckins">
                <thead>
                    <tr>
                        <th style="width: 5%">No</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.RegisterCheckins.Count; i++) {
                        RegisterCheckinModel registerCheckin = ViewBag.RegisterCheckins[i];
                        <tr>
                            <td></td>
                            <td>@registerCheckin.Email</td>
                            <td>
                                @Html.ActionLink(registerCheckin.Name, "ViewProfile", "Home", new { id = registerCheckin.Id }, new { @target = "_blank" })
                            </td>
                            <td id="@registerCheckin.Id">
                                @if (!registerCheckin.CheckedIn) {
                                    @Ajax.ActionLink("Checkin", "CheckinEvent", new { id = ViewBag.EventId, studentId = registerCheckin.Id }, new AjaxOptions() { UpdateTargetId = registerCheckin.Id.ToString() }, new { @class = "btn btn-sm btn-primary d-block mb-2" })
                                }
                                else {
                                    @Html.Partial("CheckinEvent")
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else {
        <div>No registered students found</div>
    }
</div>

@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#RegisterCheckins').DataTable({
                "info": false,
                "pageLength": 50,
                "columnDefs": [{
                    "targets": [0, 2, 3],
                    "orderable": false,
                    "searchable": false,
                }],
                "order": [[1, "asc"]],
                "rowCallback": function (nRow, aData, iDisplayIndex) {
                    var oSettings = this.fnSettings();
                    $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                    return nRow;
                },
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}