﻿@using capstone.Constants;
@using capstone.Helpers;
@using capstone.Models;

@{
    ViewBag.Title = "View your pending events";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Organizer", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Show all your events that are waiting for Manager's approval or rejected by them</div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Events.Count > 0) {
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Created date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < ViewBag.Events.Count; i++) {
                        EventModel eventt = ViewBag.Events[i];
                        <tr>
                            <td>@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</td>
                            <td>@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, null)</td>
                            <td>
                                @if (eventt.Group != null) {
                                    @Html.ActionLink(eventt.Group.Name, "ViewGroup", "Home", new { id = eventt.Group.Id }, null)
                                }
                            </td>
                            <td>@eventt.CreatedDate.ToDateTimeString()</td>
                            @if (eventt.Status.Equals(EventStatusConstants.PENDING)) {
                                <td><span class="badge badge-warning">@eventt.Status</span></td>
                                <td>
                                    @Html.ActionLink("Cancel event", "CancelEvent", new { eventt.Id }, new { onclick = "return confirm('Are you sure?')", @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                </td>
                            }
                            else if (eventt.Status.Equals(EventStatusConstants.REJECTED)) {
                                <td><span class="badge badge-danger">@eventt.Status</span></td>
                                <td>
                                    @Html.ActionLink("Move to draft", "MoveToDraft", new { eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            @Html.Partial("Pages")
        }
        else {
            <div>No pending events found</div>
        }
    </div>
</div>
