﻿@using capstone.Helpers;
@using capstone.Models;

@model UserSearchViewModel

@{
    ViewBag.Title = "View your registered students";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Organizer", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("View all your events", "ViewAllYourEvents", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("View your event statistics", "ViewYourEventStatistics", new { id = ViewBag.EventId }, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="mb-2 p-2 bg-light rounded">
        @using (Html.BeginForm("ViewYourRegisteredStudents", "Organizer", FormMethod.Get)) {
            <div class="form-group mb-2">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = "Student name...", @autocomplete = "off" })
            </div>
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        }
    </div>
    @if (ViewBag.Registers.Count > 0) {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registered Date</th>
                </tr>
                @for (int i = 0; i < ViewBag.Registers.Count; i++) {
                    RegisterModel register = ViewBag.Registers[i];
                    <tr>
                        <td>@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</td>
                        <td>@Html.ActionLink(register.Name, "ViewProfile", "Home", new { id = register.Id }, null)</td>
                        <td>@register.Email</td>
                        <td>@register.RegisteredDate.ToDateTimeString()</td>
                    </tr>
                }
            </table>
        </div>
        @Html.Partial("Pages")
    }
    else {
        <div>No registered students found</div>
    }
</div>