﻿@using capstone.Helpers;
@using capstone.Models;

@{
    ViewBag.Title = "View your draft events";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Organizer", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">View list of your draft events.</div>
    <div class="form-horizontal">
        @if (ViewBag.Drafts.Count > 0) {
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>No</th>
                        <th>Event name</th>
                        <th>Updated time</th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < ViewBag.Drafts.Count; i++) {
                        EventModel eventt = ViewBag.Drafts[i];
                        <tr>
                            <td>@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</td>
                            <td>@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, null)</td>
                            <td>@eventt.CreatedDate.ToDateTimeString()</td>
                            <td>
                                @Html.ActionLink("Edit draft event", "EditDraftEvent", new { eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                @using (Html.BeginForm("DeleteDraftEvent", "Organizer", null, FormMethod.Post, new { @id = "Form", @enctype = "multipart/form-data" })) {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <input type="hidden" name="id" value="@eventt.Id" />
                                    <input type="submit" value="Delete draft" class="btn btn-sm btn-outline-danger mb-2 w-100" onclick="return confirm('Are you sure?')" />
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @Html.Partial("Pages")
        }
        else {
            <div>No drafts found</div>
        }
    </div>
</div>
