﻿@{
    ViewBag.Title = "View your event statistics";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Organizer", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("View all your events", "ViewAllYourEvents", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2 text-center">@ViewBag.Event.EventName</h1>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card bg-light mb-2">
                <div class="card-header">Registered</div>
                <div class="card-body text-center">
                    <div class="display-4">
                        @ViewBag.Register
                        @if (ViewBag.RegisterMax != null) {
                            <span>/ @ViewBag.RegisterMax</span>
                        }
                    </div>
                    @Html.ActionLink("View registered students", "ViewYourRegisteredStudents", new { id = ViewBag.Event.EventId }, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card bg-light mb-2">
                <div class="card-header">Checked in</div>
                <div class="card-body text-center">
                    @if (ViewBag.Checkin != null) {
                        <div class="display-4">
                            @ViewBag.Checkin
                            <small>/@ViewBag.Register</small>
                        </div>
                        @Html.ActionLink("View checkedin students", "ViewYourCheckedinStudents", new { id = ViewBag.Event.EventId }, new { @class = "btn btn-link" })
                    }
                    else {
                        <div class="display-4">
                            Opening
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card bg-light mb-2">
                <div class="card-header">Rating</div>
                @if (ViewBag.Rating != null) {
                    <div class="card-body display-4 text-center">
                        @ViewBag.Rating
                    </div>
                }
                else {
                    <div class="card-body display-4 text-center">
                        Unrated
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card bg-light mb-2">
                <div class="card-header">Feedback</div>
                <div class="card-body display-4 text-center">
                    @ViewBag.Feedback
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-light mb-2">
                <div class="card-body p-2 position-relative">
                    @Ajax.ActionLink("Export your event statistics", "ExportYourEventStatistics", new { id = ViewBag.Event.EventId }, new AjaxOptions() { LoadingElementId = "ExportLoading", OnSuccess = "ExportYourEventStatistics" }, new { @class = "btn btn-link", @target = "_blank" })
                    <div class="position-absolute fixed-top text-center w-100 h-100 p-2" style="display: none;" id="ExportLoading">
                        <span class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card bg-light mb-2">
                <div class="card-header">Registered Students by date</div>
                <div class="card-body">
                    <canvas id="RegisterDateChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-2">
                <div class="card-header">
                    <div class="d-inline btn p-0">Registered Students distribution</div>
                    <div class="d-inline dropdown p-0">
                        <button id="RegisterBy" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            by gender
                        </button>
                        <div class="dropdown-menu" aria-labelledby="RegisterBy">
                            <a id="RegisterGender" class="dropdown-item" href="#" data-toggle="collapse" data-target="#RegisterGenderCollapse" aria-expanded="true" aria-controls="collapseOne">
                                by gender
                            </a>
                            <a id="RegisterCity" class="dropdown-item" href="#" data-toggle="collapse" data-target="#RegisterCityCollapse" aria-expanded="false" aria-controls="collapseTwo">
                                by city
                            </a>
                            <a id="RegisterCampus" class="dropdown-item" href="#" data-toggle="collapse" data-target="#RegisterCampusCollapse" aria-expanded="false" aria-controls="collapseThree">
                                by campus
                            </a>
                            <a id="RegisterMajor" class="dropdown-item" href="#" data-toggle="collapse" data-target="#RegisterMajorCollapse" aria-expanded="false" aria-controls="collapseThree">
                                by major
                            </a>
                            <a id="RegisterSpecialization" class="dropdown-item" href="#" data-toggle="collapse" data-target="#RegisterSpecializationCollapse" aria-expanded="false" aria-controls="collapseThree">
                                by specialization
                            </a>
                        </div>
                    </div>
                </div>
                <div id="Register">
                    <div id="RegisterGenderCollapse" class="collapse show" aria-labelledby="RegisterGender" data-parent="#Register">
                        <div class="card-body">
                            <canvas id="RegisterGenderChart"></canvas>
                        </div>
                    </div>
                    <div id="RegisterCityCollapse" class="collapse" aria-labelledby="RegisterCity" data-parent="#Register">
                        <div class="card-body">
                            <canvas id="RegisterCityChart"></canvas>
                        </div>
                    </div>
                    <div id="RegisterCampusCollapse" class="collapse" aria-labelledby="RegisterCampus" data-parent="#Register">
                        <div class="card-body">
                            <canvas id="RegisterCampusChart"></canvas>
                        </div>
                    </div>
                    <div id="RegisterMajorCollapse" class="collapse" aria-labelledby="RegisterMajor" data-parent="#Register">
                        <div class="card-body">
                            <canvas id="RegisterMajorChart"></canvas>
                        </div>
                    </div>
                    <div id="RegisterSpecializationCollapse" class="collapse" aria-labelledby="RegisterSpecialization" data-parent="#Register">
                        <div class="card-body">
                            <canvas id="RegisterSpecializationChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Checkin != null) {
        <div class="row">
            <div class="col-sm">
                <div class="card bg-light mb-2">
                    <div class="card-header">Checkedin Students by date</div>
                    <div class="card-body">
                        <canvas id="CheckinDateChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-light mb-2">
                    <div class="card-header">
                        <div class="d-inline btn p-0">Checkedin Students distribution</div>
                        <div class="d-inline dropdown p-0">
                            <button id="CheckinBy" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                by gender
                            </button>
                            <div class="dropdown-menu" aria-labelledby="CheckinBy">
                                <a id="CheckinGender" class="dropdown-item" href="#" data-toggle="collapse" data-target="#CheckinGenderCollapse" aria-expanded="true" aria-controls="collapseOne">
                                    by gender
                                </a>
                                <a id="CheckinCity" class="dropdown-item" href="#" data-toggle="collapse" data-target="#CheckinCityCollapse" aria-expanded="false" aria-controls="collapseTwo">
                                    by city
                                </a>
                                <a id="CheckinCampus" class="dropdown-item" href="#" data-toggle="collapse" data-target="#CheckinCampusCollapse" aria-expanded="false" aria-controls="collapseThree">
                                    by campus
                                </a>
                                <a id="CheckinMajor" class="dropdown-item" href="#" data-toggle="collapse" data-target="#CheckinMajorCollapse" aria-expanded="false" aria-controls="collapseThree">
                                    by major
                                </a>
                                <a id="CheckinSpecialization" class="dropdown-item" href="#" data-toggle="collapse" data-target="#CheckinSpecializationCollapse" aria-expanded="false" aria-controls="collapseThree">
                                    by specialization
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="Checkin">
                        <div id="CheckinGenderCollapse" class="collapse show" aria-labelledby="CheckinGender" data-parent="#Checkin">
                            <div class="card-body">
                                <canvas id="CheckinGenderChart"></canvas>
                            </div>
                        </div>
                        <div id="CheckinCityCollapse" class="collapse" aria-labelledby="CheckinCity" data-parent="#Checkin">
                            <div class="card-body">
                                <canvas id="CheckinCityChart"></canvas>
                            </div>
                        </div>
                        <div id="CheckinCampusCollapse" class="collapse" aria-labelledby="CheckinCampus" data-parent="#Checkin">
                            <div class="card-body">
                                <canvas id="CheckinCampusChart"></canvas>
                            </div>
                        </div>
                        <div id="CheckinMajorCollapse" class="collapse" aria-labelledby="CheckinMajor" data-parent="#Checkin">
                            <div class="card-body">
                                <canvas id="CheckinMajorChart"></canvas>
                            </div>
                        </div>
                        <div id="CheckinSpecializationCollapse" class="collapse" aria-labelledby="CheckinSpecialization" data-parent="#Checkin">
                            <div class="card-body">
                                <canvas id="CheckinSpecializationChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.FormResult != null) {
        <div class="row">
            <div class="col">
                <div class="card bg-light mb-2">
                    <div class="card-header">Event form statistics</div>
                    <div class="card-body p-2">
                        <a href="@ViewBag.FormResult" class="btn btn-link" target="_blank">View event form statistics</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        function ExportYourEventStatistics(link) {
            window.open(link);
        }
        Chart.scaleService.updateScaleDefaults('linear', {
            ticks: {
                min: 0
            }
        });
        var colors = ['#3366CC', '#DC3912', '#FF9900', '#109618', '#990099', '#3B3EAC', '#0099C6', '#DD4477', '#66AA00', '#B82E2E', '#316395', '#994499', '#22AA99', '#AAAA11', '#6633CC', '#E67300', '#8B0707', '#329262', '#5574A6', '#3B3EAC'];
        $("#RegisterGender").click(() => {
            $("#RegisterBy").text("by gender");
        });
        $("#RegisterCity").click(() => {
            $("#RegisterBy").text("by city");
        });
        $("#RegisterCampus").click(() => {
            $("#RegisterBy").text("by campus");
        });
        $("#RegisterMajor").click(() => {
            $("#RegisterBy").text("by major");
        });
        $("#RegisterSpecialization").click(() => {
            $("#RegisterBy").text("by specialization");
        });
        $("#CheckinGender").click(() => {
            $("#CheckinBy").text("by gender");
        });
        $("#CheckinCity").click(() => {
            $("#CheckinBy").text("by city");
        });
        $("#CheckinCampus").click(() => {
            $("#CheckinBy").text("by campus");
        });
        $("#CheckinMajor").click(() => {
            $("#CheckinBy").text("by major");
        });
        $("#CheckinSpecialization").click(() => {
            $("#CheckinBy").text("by specialization");
        });
        $(document).ready(function () {
            new Chart($("#RegisterDateChart")[0], {
                type: 'line',
                data: {
                    labels: @Html.Raw(ViewBag.RegisterDateLabels),
                    datasets: [{
                        label: "Students",
                        backgroundColor: '#3366CC',
                        borderColor: '#3366CC',
                        fill: false,
                        data: @Html.Raw(ViewBag.RegisterDateData),
                    }]
                }
            });
            new Chart($("#RegisterGenderChart")[0], {
                type: 'pie',
                data: {
                    labels: ["Male", "Female"],
                    datasets: [{
                        label: "Students",
                        backgroundColor: colors,
                        data: @Html.Raw(ViewBag.RegisterGenderData),
                    }]
                }
            });
            new Chart($("#RegisterCityChart")[0], {
                type: 'pie',
                data: {
                    labels: @Html.Raw(ViewBag.RegisterCityLabels),
                    datasets: [{
                        label: "Students",
                        backgroundColor: colors,
                        data: @Html.Raw(ViewBag.RegisterCityData),
                    }]
                }
            });
            new Chart($("#RegisterCampusChart")[0], {
                type: 'pie',
                data: {
                    labels: @Html.Raw(ViewBag.RegisterCampusLabels),
                    datasets: [{
                        label: "Students",
                        backgroundColor: colors,
                        data: @Html.Raw(ViewBag.RegisterCampusData),
                    }]
                }
            });
            new Chart($("#RegisterMajorChart")[0], {
                type: 'pie',
                data: {
                    labels: @Html.Raw(ViewBag.RegisterMajorLabels),
                    datasets: [{
                        label: "Students",
                        backgroundColor: colors,
                        data: @Html.Raw(ViewBag.RegisterMajorData),
                    }]
                }
            });
            new Chart($("#RegisterSpecializationChart")[0], {
                type: 'pie',
                data: {
                    labels: @Html.Raw(ViewBag.RegisterSpecializationLabels),
                    datasets: [{
                        label: "Students",
                        backgroundColor: colors,
                        data: @Html.Raw(ViewBag.RegisterSpecializationData),
                    }]
                }
            });
        });
    </script>
    @if (ViewBag.Checkin != null) {
        <script>
            $(document).ready(function () {
                new Chart($("#CheckinDateChart")[0], {
                    type: 'line',
                    data: {
                        labels: @Html.Raw(ViewBag.CheckinDateLabels),
                        datasets: [{
                            label: "Students",
                            backgroundColor: '#3366CC',
                            borderColor: '#3366CC',
                            fill: false,
                            data: @Html.Raw(ViewBag.CheckinDateData),
                        }]
                    }
                });
                new Chart($("#CheckinGenderChart")[0], {
                    type: 'pie',
                    data: {
                        labels: ["Male", "Female"],
                        datasets: [{
                            label: "Students",
                            backgroundColor: colors,
                            data: @Html.Raw(ViewBag.CheckinGenderData),
                        }]
                    }
                });
                new Chart($("#CheckinCityChart")[0], {
                    type: 'pie',
                    data: {
                        labels: @Html.Raw(ViewBag.CheckinCityLabels),
                        datasets: [{
                            label: "Students",
                            backgroundColor: colors,
                            data: @Html.Raw(ViewBag.CheckinCityData),
                        }]
                    }
                });
                new Chart($("#CheckinCampusChart")[0], {
                    type: 'pie',
                    data: {
                        labels: @Html.Raw(ViewBag.CheckinCampusLabels),
                        datasets: [{
                            label: "Students",
                            backgroundColor: colors,
                            data: @Html.Raw(ViewBag.CheckinCampusData),
                        }]
                    }
                });
                new Chart($("#CheckinMajorChart")[0], {
                    type: 'pie',
                    data: {
                        labels: @Html.Raw(ViewBag.CheckinMajorLabels),
                        datasets: [{
                            label: "Students",
                            backgroundColor: colors,
                            data: @Html.Raw(ViewBag.CheckinMajorData),
                        }]
                    }
                });
                new Chart($("#CheckinSpecializationChart")[0], {
                    type: 'pie',
                    data: {
                        labels: @Html.Raw(ViewBag.CheckinSpecializationLabels),
                        datasets: [{
                            label: "Students",
                            backgroundColor: colors,
                            data: @Html.Raw(ViewBag.CheckinSpecializationData),
                        }]
                    }
                });
            });
        </script>
    }
}