﻿
@using capstone.Constants;
@using capstone.Helpers;
@using capstone.Models;
@model EventSearchFilterViewModel



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event-approved</title>



    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />
    <link rel="stylesheet" href="~/Scripts/css/event-approved.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.5.0/pagination.min.js">

</head>
<body>
    <header class="header">
        <div class="header__left">
            <a class="" href="/" data-opm="logo">
                <img class="header__left--logo" src="~/Images/assets/fptlogo.png">
            </a>


            <div class="select">
                <select name="format" id="format">
                    <option selected disabled>Chọn câu lạc bộ</option>
                    <option value="pdf">PDF</option>
                    <option value="txt">txt</option>
                    <option value="epub">ePub</option>
                    <option value="fb2">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
            </div>
        </div>
        <div class="header__right">
            <div class="select">
                <select name="format" id="format">
                    <option selected disabled>Chọn câu lạc bộ</option>
                    <option value="pdf">PDF</option>
                    <option value="txt">txt</option>
                    <option value="epub">ePub</option>
                    <option value="fb2">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
            </div>
            <div class="header__right--user">
                <i class="fas fa-user"></i>
                <span>Thoai</span>
            </div>
        </div>

    </header>
    <section class="sidebar">
        <div class="nav-bar">
            <ul class="list-cull">
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Xem sự kiện
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Chờ sự kiện
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Draft
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </section>
    <section class="content">
        <p class="title-form">
            Sự kiện đã được phê duyệt
        </p>
        <p class="title-text">Hiển thị toàn bộ sự kiện được tạo ra bởi Organizers chờ được phê duyệt</p>


        @using (Html.BeginForm("ViewAllYourEvents", "Organizer", FormMethod.Get))
        {


            <div class="search-event">
                <div class="input-box">
                    <i class="fa fa-search"></i>
                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = "Event name...", @autocomplete = "off" })
                    <button class="button">Tìm kiếm</button>
                </div>
            </div>
            <div class="clear"></div>
            <div class="content__select">
                <div class="select">
                    <b class="content__select--title">Status</b>

                    @Html.DropDownListFor(m => m.Status, ViewBag.Statuses as List<SelectListItem>)
                </div>
            </div>
        }
        <div class="table__content">
            <div class="list__table" id="order-table-admin">
                <ul>
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                @for (int i = 0; i < ViewBag.Events.Count; i++)
                {
                    EventModel eventt = ViewBag.Events[i];
                    <ul id="item">
                        <li data-label="no">@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</li>
                        <li data-label="event">@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, null)</li>
                        <li data-label="group">
                            @if (eventt.Group != null)
                            {
                                @Html.ActionLink(eventt.Group.Name, "ViewGroup", "Home", new { id = eventt.Group.Id }, null)
                            }
                        </li>

                        <li data-label="time">@eventt.CreatedDate.ToDateTimeString()</li>
                        <li data-label="status">
                            <button class="btn btn-warning btn-round-1 btn-status">
                                @eventt.Status
                            </button>
                        </li>
                        <li data-label="status">


                            @if (eventt.Status.Equals(EventStatusConstants.PENDING))
                            {


                                <button class="btn btn-danger btn-round-1 btn-status">
                                    @Html.ActionLink("Cancel", "CancelEvent", new { eventt.Id }, new { onclick = "return confirm('Are you sure?')" })
                                </button>


                            }
                            else if (eventt.Status.Equals(EventStatusConstants.REJECTED))
                            {

                                <button class="btn btn-danger btn-round-1 btn-status">
                                    @Html.ActionLink("Move to draft", "MoveToDraft", new { eventt.Id })
                                </button>


                            }
                            else if (eventt.Status.Equals(EventStatusConstants.HAPPENING) || (eventt.Status.Equals(EventStatusConstants.OPENING) && eventt.OpenDate <= DateTime.Now.AddHours(1)))
                            {
                                <button class="btn btn-danger btn-round-1 btn-status">
                                    @Html.ActionLink("Statistics", "ManageEventCheckins", new { id = eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                </button>
                            }
                            else if (!eventt.Status.Equals(EventStatusConstants.CLOSED))
                            {
                                <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="@eventt.OpenDate.AddHours(-1).ToDateTimeString()">

                                    @Html.ActionLink("Checkin event " + eventt.OpenDate.AddHours(-1).ToRelativeFromNowDateString(), "ManageEventCheckins", new { id = eventt.Id }, new { @class = "btn btn-sm btn-outline-secondary disabled d-block mb-2" })
                                </span>
                            }

                        </li>
                    </ul>

                }
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>

                </ul>

                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>
                <ul id="item">
                    <li>No</li>
                    <li>Sự kiện</li>
                    <li>Group</li>
                    <li>Thời gian tạo</li>
                    <li>Status</li>
                    <li>Action</li>
                </ul>




            </div>
            <div class="pagination" id="pagination">
                <ul></ul>
            </div>
        </div>



    </section>

    <!-- <footer class="footer wrapper">
      <div class="footer-left d-flex flex-row gap-2 align-items-center ">
        <img src="./assets/fptlogo.png" alt="" class="ft-img" style="width: auto; height: 50px;">
        <p class="mb-0">Hệ thống quản lý và phân phối vé sự kiện hàng đầu châu Á.</p>

      </div>
      <div class="footer-right d-flex flex-row justify-content-end align-items-center gap-3 w-50 ">
        <p class="mb-0">Giấy phép Kinh doanh số 0313605444
          do Sở Kế hoạch & Đầu tư TPHCM cấp ngày 07/01/2016</p>
        <img src="https://static.tkbcdn.com/site/global/content-v2/img/license1.jpg" alt="" class="ft-img"
          style="width: 20%;">
      </div>
    </footer> -->
    <!-- JS BOOTSulAP 5 -->
    <script src="htt
  ps://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootsulap@4.3.1/dist/js/bootsulap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="sha512-To905O3HNAHQVrN6xCie4dwDWV0OO3lwZl4rqtCvf+4lfkbx9XlyLmSiLosdi1WWBcW+VMy4Lmu/M10R+FsOPA=="></script>

    <script src="~/Scripts/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#order-table-admin ').after('<div id="nav"></div>');
            var rowsShown = 8;
            var rowsTotal = $('#order-table-admin #item').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {

                var pageNum = i + 1;
                $('#pagination ul').append(' <li> <a href="#" rel="' + i + '">' + pageNum + '</a> </li>');
            }
            $('#order-table-admin #item').hide();
            $('#order-table-admin #item').slice(0, rowsShown).show();
            $('#pagination a:first').addClass('active');
            $('#pagination a').bind('click', function () {
                $('#pagination a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#order-table-admin #item ').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
            });
        });
    </script>
</body>

