﻿@using capstone.Constants;
@using capstone.Helpers;
@using capstone.Models;

@if (ViewBag.Notifications.Count > 0) {
    foreach (NotificationModel item in ViewBag.Notifications) {
        <div class="list-group-item p-2">
            <div class="media">
                @switch (item.Content) {
                    case NotificationContentConstants.ORGANIZER_EVENT_REGISTER:
                    case NotificationContentConstants.ORGANIZER_EVENT_FEEDBACK: {
                        <div class="media mb-1 mr-1" style="background-image: url(@item.Subject.ProfileImage); background-size: contain; background-repeat: no-repeat; background-position: center; height: 50px; width: 50px;"></div>
                        break;
                    }
                }
                <div class="media-body">
                    @switch (item.Content) {
                        case NotificationContentConstants.USER_ROLE_CHANGE: {
                            <span>Your account role has been changed.</span>
                            break;
                        }
                        case NotificationContentConstants.USER_GROUP_ADD: {
                            <span>You have been added to</span>
                            <a href="@item.Object.Link">@item.Object.Name</a><span>.</span>
                            break;
                        }
                        case NotificationContentConstants.USER_GROUP_REMOVE: {
                            <span>You have been removed from</span>
                            <a href="@item.Object.Link">@item.Object.Name</a><span>.</span>
                            break;
                        }
                        case NotificationContentConstants.STUDENT_EVENT_OPENING: {
                            <a href="@item.Object.Link">@item.Object.Name</a>
                            <span>you registered for opens tomorrow.</span>
                            break;
                        }
                        case NotificationContentConstants.STUDENT_EVENT_REPORT: {
                            <span>@item.Object.Name</span>
                            <span>you registered for is rejected due to reports.</span>
                            break;
                        }
                        case NotificationContentConstants.STUDENT_EVENT_DRAFT: {
                            <span>@item.Object.Name</span>
                            <span>you registered for is moved to draft.</span>
                            break;
                        }
                        case NotificationContentConstants.STUDENT_REPORT_REJECT: {
                            <span>An event you recently reported has been rejected. Thank you for your support.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_GROUP_LEADER: {
                            <span>You are now leader of</span>
                            <a href="@item.Object.Link">@item.Object.Name</a><span>.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_EVENT_REGISTER: {
                            @Html.ActionLink(item.Subject.LastName + " " + item.Subject.FirstName, "ViewProfile", new { id = item.Subject.Id })
                            <span>registered for</span>
                            <a href="@item.Object.Link">@item.Object.Name</a><span>.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_EVENT_FEEDBACK: {
                            @Html.ActionLink(item.Subject.LastName + " " + item.Subject.FirstName, "ViewProfile", new { id = item.Subject.Id })
                            <span>feedbacked on</span>
                            <a href="@item.Object.Link">@item.Object.Name</a><span>.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_EVENT_ACCEPT: {
                            <a href="@item.Object.Link">@item.Object.Name</a>
                            <span>is approved.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_EVENT_REJECT: {
                            <a href="@item.Object.Link">@item.Object.Name</a>
                            <span>is rejected.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_EVENT_REPORT: {
                            <a href="@item.Object.Link">@item.Object.Name</a>
                            <span>is rejected due to reports.</span>
                            break;
                        }
                        case NotificationContentConstants.ORGANIZER_EVENT_DRAFT: {
                            <a href="@item.Object.Link">@item.Object.Name</a>
                            <span>has been moved to draft.</span>
                            break;
                        }
                    }
                </div>
            </div>
            <div class="small">@item.NotifiedDate.ToRelativeToNowDateString()</div>
        </div>
    }
    <div class="list-group-item list-group-item-action p-2" id="NotificationsMore">
        <span class="small">See more</span>
        <span class="spinner-border spinner-border-sm text-info" role="status" style="display: none;" id="NotificationsLoading">
            <span class="sr-only">Loading...</span>
        </span>
    </div>
}
else {
    <div class="list-group-item p-2 small">
        No more notifications
    </div>
}
