﻿@using capstone.database.Entities;
@using capstone.Constants;
@using capstone.Models;
@using capstone.Helpers;
@model ManageYourProfileViewModel
@{
    ViewBag.Title = "ManageProfile";
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event-calender</title>



    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />
    <link rel="stylesheet" href="~/Scripts/css/my-profile.css" />

</head>
<body>
    <header class="header">
        <div class="header__left">
            <a class="" href="/" data-opm="logo">
                <img class="header__left--logo" src="./assets/fptlogo.png">
            </a>
            <div class="select">
                <select name="format" id="format">
                    <option selected disabled>Chọn gì đó</option>
                    <option value="pdf">PDF</option>
                    <option value="txt">txt</option>
                    <option value="epub">ePub</option>
                    <option value="fb2">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
            </div>
        </div>
        <div class="header__right">
            <div class="select">
                <select name="format" id="format">
                    <option selected disabled>Thông báo <span>(12)</span></option>
                    <option value="pdf">PDF</option>
                    <option value="txt">txt</option>
                    <option value="epub">ePub</option>
                    <option value="fb2">fb2</option>
                    <option value="mobi">mobi</option>
                </select>
            </div>
            <div class="header__right--user">
                <i class="fas fa-user"></i>
                <span>Hùng</span>
            </div>
        </div>

    </header>
    <section class="sidebar">
        <div class="nav-bar">
            <ul class="list-ctrl">
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Trang chủ
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            My Ticket
                        </span>
                    </a>
                </li>
                <li class="lk-your-profile-legal">
                    <a href="/my-ticketbox/legal">
                        <i class="fa fa-calendar-check"></i>
                        <span>
                            Quan tâm
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </section>
    <section class="content">
        <p class="title-form">
            Quản lý trang cá nhân
        </p>
        @using (Html.BeginForm("ManageYourProfile", "Home", null, FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
        {
            <div class="profile">

                @if (ViewBag.Profile.ProfileImage != null)
                {
                    <div class="profile__img">
                        <img src="@ViewBag.Profile.ProfileImage" alt="">
                    </div>
                }
                else
                {
                    <div class="profile__img">
                        <img src="~/Images/ProfileImage/Default.jpg" alt="">
                    </div>
                }
                    <div class="profile__info">
                        <div class="col-12">
                            <label for="">Họ</label>

                            @Html.TextBoxFor(m => m.FirstName, new { @class = "effect-2" })
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-12">
                            <label for="">Tên</label>
                            @*<input class="effect-2" type="text" value="@ViewBag.Profile.LastName">*@
                            @Html.TextBoxFor(m => m.LastName, new { @class = "effect-2" })
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-12">
                            <label for="">SĐT</label>
                            @*<input class="effect-2" type="text" value="@ViewBag.Profile.Phone">*@
                            @Html.TextBoxFor(m => m.Phone, new { @class = "effect-2" })
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-12">
                            <label for="">Ngày sinh</label>
                            <input class="effect-2" type="text" disabled value="@CalendarHelper.ToDateString(ViewBag.Profile.DOB)">
                            <span class="focus-border"></span>
                        </div>
                        @if (ViewBag.User.IsStudent)
                        {
                            <div class="col-12">
                                <label for="">Roll number</label>
                                <input class="effect-2" type="text" disabled value="@ViewBag.Profile.RollNumber">
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-12">
                                <label for="">Campus</label>
                                <input class="effect-2" type="text" disabled value="@ViewBag.Profile.Campus">
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-12">
                                <label for="">Roll number</label>
                                <input class="effect-2" type="text" disabled value="@ViewBag.Profile.RollNumber">
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-12">
                                <label for="">Major</label>
                                <input class="effect-2" type="text" disabled value="@ViewBag.Profile.Major">
                                <span class="focus-border"></span>
                            </div>
                            <div class="col-12">
                                <label for="">Specialization</label>
                                <input class="effect-2" type="text" disabled value="@ViewBag.Profile.Specialization">
                                <span class="focus-border"></span>
                            </div>
                        }
                        <div class="col-btn col-12">
                            <button class="btn-done" type="submit">HOÀN THÀNH</button>
                        </div>


                    </div>

            </div>
        }
    </section>

    <!-- <footer class="footer wrapper">
      <div class="footer-left d-flex flex-row gap-2 align-items-center ">
        <img src="./assets/fptlogo.png" alt="" class="ft-img" style="width: auto; height: 50px;">
        <p class="mb-0">Hệ thống quản lý và phân phối vé sự kiện hàng đầu châu Á.</p>

      </div>
      <div class="footer-right d-flex flex-row justify-content-end align-items-center gap-3 w-50 ">
        <p class="mb-0">Giấy phép Kinh doanh số 0313605444
          do Sở Kế hoạch & Đầu tư TPHCM cấp ngày 07/01/2016</p>
        <img src="https://static.tkbcdn.com/site/global/content-v2/img/license1.jpg" alt="" class="ft-img"
          style="width: 20%;">
      </div>
    </footer> -->
    <!-- JS BOOTSTRAP 5 -->
    <script src="htt
  ps://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <script src="~/Scripts/js/main.js"></script>
</body>
