﻿@using capstone.database.Entities;
@using capstone.Constants;
@using capstone.Models;
@using capstone.Helpers;

@model ManageYourProfileViewModel

@{
    ViewBag.Title = "Manage your profile";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">View and edit your profile.</div>
    <div class="card mb-3">
        @using (Html.BeginForm("ManageYourProfile", "Home", null, FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" })) {
            <div class="row no-gutters">
                <div class="col-sm" style="max-width: 200px;">
                    <img id="ProfileImage" src="@ViewBag.Profile.ProfileImage" class="card-img">
                    @Html.TextBoxFor(model => model.Image, new { @class = "d-none", @type = "file", @id = "Image", @accept = "image/png, image/jpeg, image/gif" })
                    @Html.Label("Upload image", new { @class = "btn btn-outline-secondary d-inline-block m-2", @for = "Image" })
                </div>
                <div class="col-sm">
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "col-form-label text-danger" })
                        </div>
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                @if (ViewBag.Profile.DOB != null) {
                    <div class="row">
                        <div class="col-sm-3 font-weight-light">Date of Birth</div>
                        <div class="col-sm-9">@CalendarHelper.ToDateString(ViewBag.Profile.DOB)</div>
                    </div>
                }
                @if (ViewBag.User.IsStudent) {
                    <h5 class="card-title mt-2">@UserRoleConstants.STUDENT</h5>
                    <div class="row">
                        <div class="col-sm-3 font-weight-light">Roll number</div>
                        <div class="col-sm-9">@ViewBag.Profile.RollNumber</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 font-weight-light">Campus</div>
                        <div class="col-sm-9">@ViewBag.Profile.Campus</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 font-weight-light">Major</div>
                        <div class="col-sm-9">@ViewBag.Profile.Major</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 font-weight-light">Specialization</div>
                        <div class="col-sm-9">@ViewBag.Profile.Specialization</div>
                    </div>
                }
                @if (ViewBag.User.IsOrganizer || ViewBag.User.IsManager || ViewBag.User.IsAdmin) {
                    if (ViewBag.User.IsOrganizer) {
                        <h5 class="card-title mt-2">@UserRoleConstants.ORGANIZER</h5>
                        if (ViewBag.Events.Count > 0) {
                            <div class="card-title mt-2 mb-0">Recent events</div>
                            foreach (Event eventt in ViewBag.Events) {
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.ActionLink(eventt.EventName, "ViewEvent", new { id = eventt.EventId })
                                    </div>
                                    <div class="col-sm-3 font-weight-light text-md-right text-sm-left small">@eventt.CreatedDate.ToDateTimeString()</div>
                                </div>
                            }
                            @Html.ActionLink("View all", "ViewAllYourEvents", "Organizer", new { Status = "All" }, new { @class = "small" })
                        }
                    }
                    if (ViewBag.User.IsManager) {
                        <h5 class="card-title mt-2">@UserRoleConstants.MANAGER</h5>
                    }
                    if (ViewBag.User.IsAdmin) {
                        <h5 class="card-title mt-2">@UserRoleConstants.ADMIN</h5>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Image").change((e) => {
            if (e.target.files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (ee) {
                    $('#ProfileImage').attr("src", ee.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        });
    </script>
}
