﻿@using capstone.Constants;
@using capstone.Helpers;
@using capstone.Models;

@model EventSearchFilterViewModel

@{
    ViewBag.Title = "View all events";
}
<head>
    <link rel="stylesheet" href="~/Scripts/css/ViewAllEvents.css" />
</head>

<body>
    <div class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Home", "Index", null, new { @class = "breadcrumb-item" })
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
        <h1 class="display-4 mb-2" style="    text-align: center;
    font-weight: 700;">@ViewBag.Title</h1>
        <div class="lead mb-2 text-center">View all events in campus.</div>
        <div class="mb-2 p-2 bg-light rounded">
            @using (Html.BeginForm("ViewAllEvents", "Home", FormMethod.Get))
            {
                <div class="form-group mb-2">
                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-search", @placeholder = "Event name...", @autocomplete = "off" })
                </div>
                <div class="form-row">
                    <div class="col-sm-6 mb-2">
                        @Html.LabelFor(m => m.Category)
                        @Html.HiddenFor(m => m.Category)
                        <div class="dropdown" id="CategoryDropdown">
                            <button class="form-control form-control-sm btn btn-sm btn-outline-secondary dropdown-toggle text-left" type="button" id="CategoryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.Category</button>
                            <div class="dropdown-menu">
                                <div class="p-2">
                                    <input class="form-control form-control-sm" id="CategorySearchText" />
                                </div>
                                <div id="Categories"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        @Html.LabelFor(m => m.OrganizerOrGroup)
                        @Html.HiddenFor(m => m.OrganizerOrGroup)
                        @Html.HiddenFor(m => m.IsGroup)
                        <div class="dropdown" id="OrganizerAndGroupDropdown">
                            <button class="form-control form-control-sm btn btn-sm btn-outline-secondary dropdown-toggle text-left" type="button" id="OrganizerAndGroupButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.OrganizerOrGroup</button>
                            <div class="dropdown-menu">
                                <div class="p-2">
                                    <input class="form-control form-control-sm" id="OrganizerAndGroupSearchText" />
                                </div>
                                <div id="OrganizersAndGroups"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6 mb-2">
                        @Html.LabelFor(m => m.Status)
                        @Html.DropDownListFor(m => m.Status, ViewBag.Statuses as List<SelectListItem>, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-sm-4 mb-2">
                        @Html.LabelFor(m => m.Range)
                        <div class="input-group">
                            @Html.DropDownListFor(m => m.Range, ViewBag.Ranges as List<SelectListItem>, new { @id = "Ranges", @class = "form-control form-control-sm" })
                            <div class="input-group-append">
                                <div class="dropdown" id="DateDropdown">
                                    <button class="form-control form-control-sm btn btn-sm btn-outline-secondary dropdown-toggle text-left" type="button" id="DateButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="p-2">
                                            @Html.LabelFor(m => m.From)
                                            @Html.TextBoxFor(m => m.From, new { @id = "From", @type = "date", @class = "form-control form-control-sm mb-2" })
                                            @Html.LabelFor(m => m.To)
                                            @Html.TextBoxFor(m => m.To, new { @id = "To", @type = "date", @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-2">
                        @Html.LabelFor(m => m.Display, new { @class = "d-block" })
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary@(Model.Display.Equals(DisplayModeConstants.GRID) ? " active" : string.Empty)">
                                @Html.RadioButtonFor(m => m.Display, DisplayModeConstants.GRID) @DisplayModeConstants.GRID
                            </label>
                            <label class="btn btn-outline-secondary@(Model.Display.Equals(DisplayModeConstants.LIST) ? " active" : string.Empty)">
                                @Html.RadioButtonFor(m => m.Display, DisplayModeConstants.LIST) @DisplayModeConstants.LIST
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit" style="background-color:#4ad044;border: none;outline:none">Search</button>
                    </div>
                </div>
            }
        </div>
        @if (ViewBag.Events.Count > 0)
        {
            if (Model.Display.Equals(DisplayModeConstants.GRID))
            {
                <div class="card-columns">
                    <div class="card">
                        <div class="badge">Hot</div>

                        <div class="card-header">
                            <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-purple">Happening</span>
                            <h4>
                                Hackathon
                            </h4>
                            <p class="word-dot">
                                The future can be scary, but there are ways to deal with that fear The future can be scary, but there are ways to deal with that fear Thedeal with that fear Thedeal with that fear Thedeal with that fear Thedeal with that fear Thedeal with that fear The future can be scary, but there are ways to deal with that fear.

                            </p>
                            <div class="location">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Hoi truong Al
                            </div>
                            <div class="form-to">
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    From: <span> 19/10/2020 20:20</span>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    To: <span>19/10/2020 20:20</span>
                                </div>
                            </div>


                            <div class="user">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                                <div class="user-info">
                                    <h5>Nguyễn Minh Hùng</h5>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #eee; width:100%">
                                <div></div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn-cuss outline">DETAILS</button>
                                @*<button class="btn-cuss fill">REGISTER</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="badge">Hot</div>

                        <div class="card-header">
                            <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-purple">Happening</span>
                            <h4>
                                Hackathon
                            </h4>
                            <p>
                                The future can be scary, but there are ways to deal with that fear.

                            </p>
                            <div class="location">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Hoi truong Al
                            </div>
                            <div class="form-to">
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    From: <span> 19/10/2020 20:20</span>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    To: <span>19/10/2020 20:20</span>
                                </div>
                            </div>


                            <div class="user">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                                <div class="user-info">
                                    <h5>Nguyễn Minh Hùng</h5>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #eee; width:100%">
                                <div></div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn-cuss outline">DETAILS</button>
                                @*<button class="btn-cuss fill">REGISTER</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="badge">Hot</div>

                        <div class="card-header">
                            <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-purple">Happening</span>
                            <h4>
                                Hackathon
                            </h4>
                            <p>
                                The future can be scary, but there are ways to deal with that fear.

                            </p>
                            <div class="location">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Hoi truong Al
                            </div>
                            <div class="form-to">
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    From: <span> 19/10/2020 20:20</span>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    To: <span>19/10/2020 20:20</span>
                                </div>
                            </div>


                            <div class="user">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                                <div class="user-info">
                                    <h5>Nguyễn Minh Hùng</h5>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #eee; width:100%">
                                <div></div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn-cuss outline">DETAILS</button>
                                @*<button class="btn-cuss fill">REGISTER</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <div class="badge">Hot</div>
                        <div class="card-header">
                            <img src="https://thumbs.dreamstime.com/b/empty-wide-panorama-tropical-green-jungle-forest-nobody-big-size-exotic-background-142725229.jpg" alt="rover" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-teal">Happening</span>
                            <h4>
                                Hackathon
                            </h4>
                            <p>
                                The future can be scary, but there are ways to deal with that fear.

                            </p>
                            <div class="location">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Hoi truong Al
                            </div>
                            <div class="form-to">
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    From: <span> 19/10/2020 20:20</span>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    To: <span>19/10/2020 20:20</span>
                                </div>
                            </div>


                            <div class="user">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                                <div class="user-info">
                                    <h5>Nguyễn Minh Hùng</h5>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #eee; width:100%">
                                <div></div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn-cuss outline">DETAILS</button>
                                @*<button class="btn-cuss fill">REGISTER</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <div class="badge">Hot</div>
                        <div class="card-header">
                            <img src="https://thumbs.dreamstime.com/b/empty-wide-panorama-tropical-green-jungle-forest-nobody-big-size-exotic-background-142725229.jpg" alt="rover" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-teal">Happening</span>
                            <h4>
                                Hackathon
                            </h4>
                            <p>
                                The future can be scary, but there are ways to deal with that fear.

                            </p>
                            <div class="location">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                                Hoi truong Al
                            </div>
                            <div class="form-to">
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    From: <span> 19/10/2020 20:20</span>
                                </div>
                                <div class="d-flex align-items-center ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    To: <span>19/10/2020 20:20</span>
                                </div>
                            </div>


                            <div class="user">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                                <div class="user-info">
                                    <h5>Nguyễn Minh Hùng</h5>
                                </div>
                            </div>
                            <div style="border-top: 1px solid #eee; width:100%">
                                <div></div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn-cuss outline">DETAILS</button>
                                @*<button class="btn-cuss fill">REGISTER</button>*@
                            </div>
                        </div>
                    </div>


                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Organizer</th>
                            <th>Time</th>
                            <th>Place</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        @for (int i = 0; i < ViewBag.Events.Count; i++)
                        {
                            EventModel eventt = ViewBag.Events[i];
                            <tr>
                                <td>@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</td>
                                <td>@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, null)</td>
                                <td>
                                    @Html.ActionLink(eventt.Organizer.LastName + " " + eventt.Organizer.FirstName, "ViewProfile", new { id = eventt.Organizer.Id })
                                    @if (eventt.Group != null)
                                    {
                                        <br />
                                        <span>As</span>
                                        @Html.ActionLink(eventt.Group.Name, "ViewGroup", new { id = eventt.Group.Id })
                                    }
                                </td>
                                <td>From @eventt.OpenDate.ToDateTimeString()<br />To @eventt.CloseDate.ToDateTimeString()</td>
                                <td>@eventt.Place</td>
                                <td>@eventt.Status</td>
                                <td>
                                    @if (User.IsCurrentlyStudent() && eventt.Status.Equals(EventStatusConstants.OPENING) && DateTime.Now < eventt.RegisterEndDate)
                                    {
                                        if (eventt.IsRegistered)
                                        {
                                            @Html.ActionLink("Unregister event", "UnregisterEvent", "Student", new { id = eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                        }
                                        else
                                        {
                                            if ((User.IsOrganizer() && eventt.IsOrganizerOnly) || eventt.CanRegisterByGroup || eventt.RegisterMax.HasValue && eventt.RegisterCount <= eventt.RegisterMax)
                                            {
                                                @Html.ActionLink("Register event", "RegisterEvent", "Student", new { id = eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                            }
                                        }
                                    }
                                    else if (User.IsCurrentlyManager())
                                    {
                                        @Html.ActionLink("View event statistics", "ViewEventStatistics", "Manager", new { id = eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2" })
                                        @Html.ActionLink("Move to draft", "MoveToDraft", "Manager", new { id = eventt.Id }, new { @class = "btn btn-sm btn-outline-primary d-block mb-2 " })
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            @Html.Partial("Pages")
        }
        else
        {
            <div>No events found</div>
        }
        @using (Ajax.BeginForm("GetAllCategories", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "Categories" }, new { @id = "GetAllCategories" }))
        {
            @Html.Hidden("search", string.Empty, new { id = "CategorySearch" })
        }
        @using (Ajax.BeginForm("GetAllOrganizersAndGroups", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "OrganizersAndGroups" }, new { @id = "GetAllOrganizersAndGroups" }))
        {
            @Html.Hidden("search", string.Empty, new { id = "OrganizerAndGroupSearch" })
        }
    </div>
</body>
@section scripts {
    <script>
        $(document).on("click", "#Categories a", function () {
            $("#CategoryButton").text($(this).text());
            $("#Category").val($(this).data("value"));
        });
        $("#CategorySearchText").on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#CategorySearchText").on("input", function () {
            $("#CategorySearch").val($("#CategorySearchText").val());
            $("#GetAllCategories").trigger("submit");
        });
        $('#CategoryDropdown').on('shown.bs.dropdown', function () {
            $("#CategorySearchText").val($("#CategoryButton").text());
            $("#CategorySearchText").trigger("input");
            $("#CategorySearchText").focus();
            $("#CategorySearchText").select();
        });
        $(document).on("click", "#OrganizersAndGroups a", function () {
            $("#OrganizerAndGroupButton").text($(this).text());
            $("#OrganizerOrGroup").val($(this).data("value"));
            $("#IsGroup").val($(this).data("group"));
        });
        $("#OrganizerAndGroupSearchText").on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#OrganizerAndGroupSearchText").on("input", function () {
            $("#OrganizerAndGroupSearch").val($("#OrganizerAndGroupSearchText").val());
            $("#GetAllOrganizersAndGroups").trigger("submit");
        });
        $('#OrganizerAndGroupDropdown').on('shown.bs.dropdown', function () {
            $("#OrganizerAndGroupSearchText").val($("#OrganizerAndGroupButton").text());
            $("#OrganizerAndGroupSearchText").trigger("input");
            $("#OrganizerAndGroupSearchText").focus();
            $("#OrganizerAndGroupSearchText").select();
        });
        $(document).ready(function () {
            $("#Ranges option:last-child").text($("#From").val() + " To " + $("#To").val());
        });
        $("#From, #To").change(function () {
            $("#Ranges").val("@ViewBag.CustomRangeFilter");
            $("#Ranges option:selected").text($("#From").val() + " To " + $("#To").val());
        });
    </script>
}
