﻿@using capstone.Helpers;
@using capstone.Models;

@model EventSearchFilterViewModel

@{
    ViewBag.Title = "View university event calendar";
}

<div id="toolbar" class="table-responsive overflow-auto position-fixed px-2">
    @using (Html.BeginForm("ViewUniversityEventCalendar", "Home", FormMethod.Get, new { @id = "Date" })) {
        <div class="d-flex justify-content-between bg-light border p-2 mr-auto">
            @Html.ActionLink("Previous week", "ViewUniversityEventCalendar", PagesHelper.GetWeek((int)ViewBag.Weeks.PreviousWeek, (int)ViewBag.Weeks.PreviousYear, Model), new Dictionary<string, object>() { { "class", "btn btn-outline-primary" } })
            <div class="d-flex">
                @Html.ActionLink("This week", "ViewUniversityEventCalendar", Model, new { @class = "btn btn-primary mr-2" })
                <div class="form-inline d-inline">
                    @Html.TextBox("date", ((DateTime)ViewBag.Dates[0]).ToStandardString(), new { @type = "date", @class = "form-control", @onchange = "$('#Date').submit()" })
                </div>
                <button class="btn btn btn-outline-secondary ml-2" type="button" data-toggle="collapse" data-target="#Filter" aria-expanded="false" aria-controls="Search">
                    Filter
                </button>
            </div>
            @Html.ActionLink("Next week", "ViewUniversityEventCalendar", PagesHelper.GetWeek((int)ViewBag.Weeks.NextWeek, (int)ViewBag.Weeks.NextYear, Model), new Dictionary<string, object>() { { "class", "btn btn-outline-primary" } })
        </div>
        <div class="collapse bg-light border p-2" id="Filter">
            <div class="form-row">
                <div class="col-sm-6 mb-2">
                    @Html.LabelFor(m => m.Category)
                    @Html.HiddenFor(m => m.Category)
                    <div class="dropdown" id="CategoryDropdown">
                        <button class="form-control form-control-sm btn btn-sm btn-outline-secondary dropdown-toggle text-left" type="button" id="CategoryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.Category</button>
                        <div class="dropdown-menu">
                            <div class="p-2">
                                <input class="form-control form-control-sm" id="CategorySearchText" />
                            </div>
                            <div id="Categories"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-2">
                    @Html.LabelFor(m => m.OrganizerOrGroup)
                    @Html.HiddenFor(m => m.OrganizerOrGroup)
                    @Html.HiddenFor(m => m.IsGroup)
                    <div class="dropdown" id="OrganizerAndGroupDropdown">
                        <button class="form-control form-control-sm btn btn-sm btn-outline-secondary dropdown-toggle text-left" type="button" id="OrganizerAndGroupButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.OrganizerOrGroup</button>
                        <div class="dropdown-menu">
                            <div class="p-2">
                                <input class="form-control form-control-sm" id="OrganizerAndGroupSearchText" />
                            </div>
                            <div id="OrganizersAndGroups"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Filter</button>
                </div>
            </div>
        </div>
    }
    <table id="header" class="table table-sm table-bordered bg-light mb-0">
        <tr>
            <td><span class="font-weight-normal" style="color: transparent;">@CalendarHelper.ToTimeString(ViewBag.Times[0])</span></td>
            @foreach (DateTime date in ViewBag.Dates) {
                <td>@date.ToDateString()<br />@date.DayOfWeek</td>
            }
        </tr>
        @for (int k = 0; k < ViewBag.StacksDay; k++) {
            <tr>
                <td></td>
                @for (int i = 0; i < ViewBag.Dates.Count; i++) {
                    bool added = false;
                    foreach (CalendarModel calendar in ViewBag.CalendarDay) {
                        if (calendar.Stack == k + 1) {
                            if (calendar.Start == i) {
                                added = true;
                                <td class="table-primary border border-info calendar overflow-hidden position-relative" style="height: 35px;" colspan="@(calendar.End - calendar.Start + 1)" onclick="window.location = '@Url.Action("ViewEvent", "Home", new { id = calendar.Id })';" data-toggle="tooltip" data-html="true" title="<div>@calendar.Name</div><div class='small'>@calendar.StartDate.ToDateTimeString() - @calendar.EndDate.ToDateTimeString()</div>">
                                    <div class="position-absolute">
                                        @calendar.Name
                                    </div>
                                </td>
                            }
                            else if (calendar.Start < i && calendar.End >= i) {
                                added = true;
                            }
                        }
                    }
                    if (!added) {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>
</div>
<div class="table-responsive overflow-auto px-2">
    <table id="calendar" class="table table-sm table-hover w-100">
        <tr class="text-white">
            <td></td>
            @foreach (DateTime date in ViewBag.Dates) {
                <td colspan="@Math.Max(ViewBag.StacksTime[date], 1)">@date.ToDateString()<br />@date.DayOfWeek</td>
            }
        </tr>
        @for (int i = 0; i < ViewBag.Times.Count; i++) {
            <tr>
                <td>@CalendarHelper.ToTimeString(ViewBag.Times[i])</td>
                @foreach (DateTime date in ViewBag.Dates) {
                    if (ViewBag.CalendarTime[date].Count == 0) {
                        <td class="border-left"></td>
                    }
                    else {
                        for (int k = 0; k < Math.Max(ViewBag.StacksTime[date], 1); k++) {
                            bool added = false;
                            foreach (CalendarModel calendar in ViewBag.CalendarTime[date]) {
                                if (calendar.Stack == k + 1) {
                                    if (calendar.Start == i) {
                                        added = true;
                                        <td class="table-primary border border-info calendar overflow-hidden position-relative" rowspan="@(calendar.End - calendar.Start + 1)" onclick="window.location = '@Url.Action("ViewEvent", "Home", new { id = calendar.Id })';" data-toggle="tooltip" data-html="true" title="<div>@calendar.Name</div><div class='small'>@calendar.StartDate.ToTimeString() - @calendar.EndDate.ToTimeString()</div>">
                                            <div class="position-absolute">
                                                @calendar.Name
                                            </div>
                                        </td>
                                    }
                                    else if (calendar.Start < i && calendar.End >= i) {
                                        added = true;
                                    }
                                }
                            }
                            if (!added) {
                                <td class="@(k == 0?"border-left":string.Empty)"></td>
                            }
                        }
                    }
                }
            </tr>
        }
    </table>
</div>
@using (Ajax.BeginForm("GetAllCategories", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "Categories", OnSuccess = "GetAllCategories" }, new { @id = "GetAllCategories" })) {
    @Html.Hidden("search", string.Empty, new { id = "CategorySearch" })
}
@using (Ajax.BeginForm("GetAllOrganizersAndGroups", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "OrganizersAndGroups", OnSuccess = "GetAllOrganizersAndGroups" }, new { @id = "GetAllOrganizersAndGroups" })) {
    @Html.Hidden("search", string.Empty, new { id = "OrganizerAndGroupSearch" })
}

@section styles {
    <style>
        #toolbar {
            z-index: 13;
        }

        .calendar:hover, .calendar:hover div {
            text-decoration: underline;
        }

        .container-fluid {
            padding: 0 !important;
        }
    </style>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();
            $(window).resize();
        });
        $(window).resize(function () {
            var headers = $("#header tr:first-child td");
            var calendar = $("#calendar tr:first-child td");
            var width = $("#calendar").outerWidth() / @ViewBag.Dates.Count;
            for (var i = 1; i < calendar.length; i++)
                $(calendar[i]).outerWidth(width);
            for (var i = 0; i < headers.length; i++) {
                $(headers[i]).outerWidth($(calendar[i]).outerWidth());
            }
            $("#toolbar").children().innerWidth($("#calendar").outerWidth());
            $("#header").outerWidth($("#calendar").outerWidth());
            $("#calendar tr:first-child").outerHeight($("#toolbar").outerHeight());
        });
        var headerScrolling = false;
        var calendarScrolling = false;
        $("#header").parent().scroll(function () {
            if (!headerScrolling) {
                calendarScrolling = true;
                $("#calendar").parent().scrollLeft($("#header").parent().scrollLeft());
            }
            headerScrolling = false;
        });
        $("#calendar").parent().scroll(function () {
            if (!calendarScrolling) {
                headerScrolling = true;
                $("#header").parent().scrollLeft($("#calendar").parent().scrollLeft());
            }
            calendarScrolling = false;
        });
        $(window).ready(function () {
            $("html, body").scrollTop($("#calendar tr:nth-child(@ViewBag.Current)").offset().top - $("#toolbar").outerHeight());
        });
        $(document).on("click", "#Categories a", function () {
            $("#CategoryButton").text($(this).text());
            $("#Category").val($(this).data("value"));
        });
        $("#CategorySearchText").on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#CategorySearchText").on("input", function (e) {
            $("#CategorySearch").val($("#CategorySearchText").val());
            $("#GetAllCategories").trigger("submit");
        });
        $('#CategoryDropdown').on('shown.bs.dropdown', function () {
            $("#CategorySearchText").val($("#CategoryButton").text());
            $("#CategorySearchText").trigger("input");
            $("#CategorySearchText").focus();
            $("#CategorySearchText").select();
        })
        $(document).on("click", "#OrganizersAndGroups a", function () {
            $("#OrganizerAndGroupButton").text($(this).text());
            $("#OrganizerOrGroup").val($(this).data("value"));
            $("#IsGroup").val($(this).data("group"));
        });
        $("#OrganizerAndGroupSearchText").on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#OrganizerAndGroupSearchText").on("input", function (e) {
            $("#OrganizerAndGroupSearch").val($("#OrganizerAndGroupSearchText").val());
            $("#GetAllOrganizersAndGroups").trigger("submit");
        });
        $('#OrganizerAndGroupDropdown').on('shown.bs.dropdown', function () {
            $("#OrganizerAndGroupSearchText").val($("#OrganizerAndGroupButton").text());
            $("#OrganizerAndGroupSearchText").trigger("input");
            $("#OrganizerAndGroupSearchText").focus();
            $("#OrganizerAndGroupSearchText").select();
        })
    </script>
}
