﻿@using System.Globalization;
@using System.Web;
@using capstone.database.Entities;
@using capstone.Constants;
@using capstone.Helpers;
@using capstone.Models;
@using Microsoft.Owin.Security;

@model Event

@{
    ViewBag.Title = Model.EventName;
}

<input hidden id="AvgRating" value="@ViewBag.AvgRating" />
<input hidden id="RatingCount" value="@ViewBag.FeedbackCount" />
<input hidden id="EventId" value="@Model.EventId" />
<input hidden id="NUMBER_FEEDBACKS_PER_LOAD" value="@ViewBag.NumberFeedbacksPerLoad" />

<div id="fb-root"></div>
<script src="~/Scripts/Home/facebookJDK.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=324932534893173&autoLogAppEvents=1"></script>
<div class="container">
    <h1 class="display-4 text-center">@Model.EventName</h1>
    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-8 mb-2">
            <div name="coverImage" class="text-center mt-2 mb-2">
                <img src="@Model.CoverImage" class="img-fluid " style="max-height: 400px">
            </div>
            <div class="card bg-light mb-2">
                <div class="card-body">
                    <div class="mb-2" id="rating">
                        @if (ViewBag.AvgRating != null) {
                            for (int i = 1; i <= 5; i++) {
                                if (ViewBag.AvgRating >= 1) {
                                    <img src="~/Images/Events/Star.png" style="margin-top: -0.3rem; margin-right: -0.2rem" height="35" />
                                }
                                else if (ViewBag.AvgRating == 0.5) {
                                    <img src="~/Images/Events/Star_half.png" style="margin-top: -0.3rem; margin-right: -0.2rem" height="35" />
                                }
                                else {
                                    <img src="~/Images/Events/Star_empty.png" style="margin-top: -0.3rem; margin-right: -0.2rem" height="35" />

                                }
                                ViewBag.AvgRating = ViewBag.AvgRating - 1;
                            }
                        }
                        else {
                            for (int i = 1; i <= 5; i++) {
                                <img src="~/Images/Events/Star_empty.png" style="margin-top: -0.3rem; margin-right: -0.2rem" height="35" />
                            }
                        }
                        <h4 class="pt-1 ml-2 mb-3 d-inline pt-1" style="font-weight: 400">by @ViewBag.FeedbackCount people</h4>
                    </div>
                    @if (Model.OpenDate.Date == Model.CloseDate.Date) {
                        <div>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> @Model.OpenDate.ToDateTimeString() to @Model.CloseDate.ToTimeString()
                        </div>
                    }
                    else {
                        <div>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> @Model.OpenDate.ToDateTimeString() to @Model.CloseDate.ToDateTimeString()
                        </div>
                    }
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> @Model.EventPlace
                    </div>
                    @if (Model.TargetGroup != null && Model.TargetGroup.Trim() != "") {
                        <div name="TargetGroup" class="mt-1">
                            <i class="fa fa-group"></i>
                            @{
                                List<Group> groups = ViewBag.currGroups;
                                foreach (Group group in groups) {
                                    <a href="a" class="font-italic text-dark">@group.GroupName</a>
                                    if (!group.Equals(groups.Last())) {
                                        <span>, </span>
                                    }
                                }
                            }
                        </div>
                    }
                    @if (Model.Participants != null && Model.Participants.Trim() != "") {
                        <div name="TargetParticipants" class="mt-1">
                            <i class="fa fa-hand-o-right"></i>
                            @{System.Text.RegularExpressions.Regex regex = new System.Text.RegularExpressions.Regex("; ");
                                Model.Participants = regex.Replace(Model.Participants, "", 1).Trim();
                                Model.Participants = Model.Participants.Remove(Model.Participants.Length - 1);
                            }
                            <span>@Model.Participants</span>
                        </div>
                    }
                    <div name="eventStatus" class="d-inline">
                        @switch (Model.EventStatus) {
                            case EventStatusConstants.OPENING:
                                <span class="badge badge-success font-weight-bold p-2 mt-1">Opening</span>
                                break;
                            case EventStatusConstants.DRAFT:
                                <span class="badge badge-info font-weight-bold p-2 mt-1">Draft</span>
                                break;
                            case EventStatusConstants.CANCELLED:
                                <span class="badge badge-danger font-weight-bold p-2 mt-1">Cancelled</span>
                                break;
                            case EventStatusConstants.PENDING:
                                <span class="badge badge-warning font-weight-bold p-2 mt-1">Pending</span>
                                break;
                            case EventStatusConstants.HAPPENING:
                                <span class="badge badge-primary font-weight-bold p-2 mt-1">Happening</span>
                                break;
                            case EventStatusConstants.CLOSED:
                                <span class="badge badge-secondary font-weight-bold p-2 mt-1">Closed</span>
                                break;
                            case EventStatusConstants.REJECTED:
                                <span class="badge badge-dark font-weight-bold p-2 mt-1">Rejected</span>
                                break;
                        }
                    </div>
                    <div name="eventFee" class="d-inline">
                        @if (Model.EventFee == 0) {
                            <span class="d-inline"><span class="badge badge-success p-2">Free</span></span>
                        }
                        else {
                            NumberFormatInfo vnCurr = new CultureInfo("vi-VN", false).NumberFormat;
                            vnCurr.CurrencyDecimalDigits = 0;
                            vnCurr.CurrencyGroupSeparator = ",";
                            <span class="d-inline"><span class="badge badge-success p-2">@Model.EventFee.ToString("C", vnCurr)</span></span>
                        }
                    </div>
                    <br /><hr />
                    @if (Model.EventStatus.Equals(EventStatusConstants.CLOSED)) {
                        <h6>@Model.Registers.Count people went to this event.</h6>
                    }
                    else {
                        <h6>@Model.Registers.Count people will go to this event.</h6>
                    }
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="w-100 text-justify" style="white-space: pre-line; word-break: break-word" id="eventDescription">@Html.Raw(Model.EventDescriptionHtml)</div>
            <div class="text-right mt-5">
                <h5>Organized by</h5>
                @Html.ActionLink(Model.Organizer.UserProfile.LastName + " " + Model.Organizer.UserProfile.FirstName, "", new { id = Model.Organizer.UserId }, new { @class = "font-italic text-primary", @href = "javascript:void(0)" })
                <br />
                @if (Model.Group != null && Model.Group.IsEnabled) {
                    @Html.ActionLink("- " + Model.Group.GroupName + " -", "", new { id = Model.GroupId }, new { @class = "font-italic text-primary", @href = "javascript:void(0)" })
                    <br />
                }
                At @Model.CreatedDate.ToDateTimeString()
            </div>
            @if (Model.Categories.Where(c => c.IsEnabled) != null) {
                <div name="Category">
                    <span class="font-weight-bold">Categories: </span>
                    @foreach (Category category in Model.Categories) {
                        if (category.IsEnabled) {
                            <span style="font-size: 1.3em">
                                @Html.ActionLink(category.CategoryName, "", new { Status = "All", Range = "All", Category = category.CategoryId }, new { @class = "badge badge-light mt-1 category", @href = "javascript:void(0)" })
                            </span>
                        }
                    }
                </div>
            }
            <div class="font-weight-bold mt-1">
                Share this:
                <div class="fb-share-button d-inline-block mt-1" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-layout="button_count" data-size="large">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                </div>
            </div>
            <br />
            @if (Model.EventFamily != null && Model.EventFamily.Events.Count > 0) {
                <div id="eventFamily" class="mt-3">
                    <div>
                        <h4 class="h4">All events of @Model.EventFamily.FamilyName</h4>
                    </div>
                    <ul id="lightSlider">
                        @foreach (Event e in Model.EventFamily.Events) {
                            <li>
                                <div class="card">
                                    <a href="/Home/ViewEvent/@e.EventId" class="familylink">
                                        <img class="card-img-top" src="@e.CoverImage" alt="Card image cap" style="height: 150px;">
                                        <div class="card-body">
                                            <h6 class="card-title FamilyEventHeader" title="@e.EventName">@e.EventName</h6>
                                        </div>
                                        <div class="card-footer">
                                            @if (e.OpenDate.Date == e.CloseDate.Date) {
                                                <span class="FamilyEventDate">@e.OpenDate.ToDateTimeString() to @e.CloseDate.ToTimeString()</span>
                                            }
                                            else {
                                                <span class="FamilyEventDate">@e.OpenDate.ToDateTimeString() to @e.CloseDate.ToDateTimeString()</span>
                                            }
                                        </div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            <!-- feedback region-->
            <hr />
            <div name="feedback">
                <h4 class="h4">Feedback</h4>
                <h5>Your feedback</h5>
                @{FacebookModel fbUSer = new FacebookModel();}
                @if (Session["fbToken"] == null) {
                    <span>Please login before leaving feedback.</span>
                    <p class="lead">
                        @{
                            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                            using (Html.BeginForm("ExternalLogin", "Authentication")) {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("ReturnUrl", Request.Url.AbsolutePath)
                                var provider = loginProviders.First();
                                <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email" onlogin="checkLoginState();" style="display: inline"></div>
                                <button type="submit" id="@provider.AuthenticationType" name="provider" class="btn btn-danger p-2 mt-1" value="@provider.AuthenticationType">
                                    <i class="fa fa-google"></i> Login
                                </button>
                            }
                        }
                    </p>
                }
                else {
                    fbUSer = (FacebookModel)Session["fbUSer"];
                    <input hidden id="UserId" value="@fbUSer.Id" />
                    <div id="yourfeedback">
                        @if (ViewBag.Feedback != null) {
                            <div class="card mt-1">
                                <div class="card-body" style="padding: 0.5rem">
                                    <div class="float-right">
                                        <!-- Button trigger delete feedback -->
                                        <button type="button" class="btn btn-danger float-right mr-1" data-toggle="modal" data-target="#deleteFeedbackModal">Delete</button>
                                        <button type="button" class="btn btn-info float-right mr-1" data-toggle="modal" data-target="#feedbackModal">Update</button>
                                    </div>
                                    <div name="header">
                                        <div name="img" class="float-left pt-1 pr-2">
                                            <a href="javascript:void(0);"><img src="@fbUSer.Picture" class="rounded-circle border" height="50" /></a>
                                        </div>
                                        <div name="text" class="overflow-hidden">
                                            <div><a href="javascript:void(0);">@fbUSer.Name</a></div>
                                            <div><span class="font-weight-bold" style="color: rgb(255,215,0)">@ViewBag.Feedback.Value</span><img src="~/Images/Events/Star.png" style="margin-top: -0.3rem" height="15" /> @CalendarHelper.ToDateTimeString(ViewBag.Feedback.CreatedDate)</div>
                                        </div>
                                    </div>
                                    <div name="body">
                                        <span style="white-space: pre-line">
                                            @ViewBag.Feedback.FeedbackContent
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        else {
                            <div>
                                <span>You haven't written anything yet, want to make some?</span><button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#feedbackModal">Send your feedback</button>
                            </div>
                        }
                    </div>
                }
                <div class="modal fade" id="deleteFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="deleteFeedbackModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="return Delete();">Yes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Feedback of @fbUSer.Name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-3 pl-3 pr-3">
                                        <img src="@Model.CoverImage" class="img-fluid rounded"><br />
                                        @Model.EventName
                                    </div>
                                    <div class="col-9 pr-3">
                                        <form>
                                            @if (ViewBag.Feedback != null) {
                                                <textarea class="form-control bg-light" id="FeedbackContent" rows="12" style="resize: none" placeholder="Write your feedback here">@ViewBag.Feedback.FeedbackContent</textarea>
                                                <fieldset class="rating">
                                                    @if (ViewBag.Feedback.Value == 5) {
                                                        <input type="radio" id="star5" name="Value" value="5" checked /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star5" name="Value" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 4.5) {
                                                        <input type="radio" id="star4half" name="Value" value="4.5" checked /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star4half" name="Value" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 4) {
                                                        <input type="radio" id="star4" name="Value" value="4" checked /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star4" name="Value" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 3.5) {
                                                        <input type="radio" id="star3half" name="Value" value="3.5" checked /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star3half" name="Value" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 3) {
                                                        <input type="radio" id="star3" name="Value" value="3" checked /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star3" name="Value" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 2.5) {
                                                        <input type="radio" id="star2half" name="Value" value="2.5" checked /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star2half" name="Value" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 2) {
                                                        <input type="radio" id="star2" name="Value" value="2" checked /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star2" name="Value" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 1.5) {
                                                        <input type="radio" id="star1half" name="Value" value="1.5" checked /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star1half" name="Value" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 1) {
                                                        <input type="radio" id="star1" name="Value" value="1" checked /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="star1" name="Value" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                    }
                                                    @if (ViewBag.Feedback.Value == 0.5) {
                                                        <input type="radio" id="starhalf" name="Value" value="0.5" checked /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                    }
                                                    else {
                                                        <input type="radio" id="starhalf" name="Value" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                    }
                                                </fieldset>
                                            }
                                            else {
                                                <textarea class="form-control bg-light" id="FeedbackContent" rows="12" style="resize: none" placeholder="Write your feedback here"></textarea>
                                                <fieldset class="rating">
                                                    <input type="radio" id="star5" name="Value" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                    <input type="radio" id="star4half" name="Value" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                    <input type="radio" id="star4" name="Value" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                    <input type="radio" id="star3half" name="Value" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                    <input type="radio" id="star3" name="Value" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                    <input type="radio" id="star2half" name="Value" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                    <input type="radio" id="star2" name="Value" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                    <input type="radio" id="star1half" name="Value" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                    <input type="radio" id="star1" name="Value" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                    <input type="radio" id="starhalf" name="Value" value="0.5" checked /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                </fieldset>
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="return Update();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div name="others feedback">
                    <h5>See what others think</h5>
                    @if (ViewBag.Feedbacks.Count == 0) {
                        <span>Nobody hasn't feedbacked yet.</span>
                    }
                    else {
                        <div id="d-otherFeedbacks">
                            @{List<FeedbackModel> feedbacks = ViewBag.Feedbacks;}
                            @foreach (FeedbackModel feedback in ViewBag.Feedbacks) {
                                <div class="card mt-1">
                                    <div class="card-body" style="padding: 0.5rem">
                                        <div name="header">
                                            <div name="img" class="float-left pt-1 pr-2">
                                                <a href="javascript:void(0);"><div class="feedback-div rounded-circle border"><img src="@feedback.UserImage" /></div></a>
                                            </div>
                                            <div name="text" class="overflow-hidden">
                                                <div><a href="javascript:void(0);">@feedback.Username</a></div>
                                                <div><span class="font-weight-bold" style="color: rgb(255,215,0)">@feedback.Value</span><img src="~/Images/Events/Star.png" style="margin-top: -0.3rem" height="15" /> @feedback.CreatedDate.ToDateTimeString()</div>
                                            </div>
                                        </div>
                                        <div name="body">
                                            <span style="white-space: pre-line">
                                                @feedback.Content
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        if (feedbacks.Count == ViewBag.NumberFeedbacksPerLoad) {
                            <div class="text-center" id="btnViewMore">
                                <input type="hidden" id="skipFeedback" value="1" />
                                <a class="text-center small" href="javascript:void(0);" onclick="loadFeedbacks()">&lt;View more&gt;</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        @if (ViewBag.RelatedEvent.Count > 0) {
            <div class="col-md-3 col-sm-4 h-100">
                <h4 class="h4">You may also like</h4>
                @foreach (Event e in ViewBag.RelatedEvent) {
                    <div class="card bg-light mb-2">
                        <img class="card-img-top" src="@e.CoverImage" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@e.EventName</h5>
                            <p class="card-text FamilyEventContent">@e.EventDescription</p>
                            @Html.ActionLink("View event", "ViewEvent", new { id = e.EventId }, new { @class = "btn btn-outline-dark btn-sm" })
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/Content/Home/ViewEvent.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Home/lightslider.css" />
    <style>
        .category {
            font-weight: 500
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/Home/ViewEventAnonymous.js"></script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    <script src="~/Scripts/Home/lightslider.js"></script>
}