﻿@using capstone.database.Entities;
@using capstone.Constants;
@using capstone.Helpers;

@{
    ViewBag.Title = "View profile";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 text-center">@ViewBag.Profile.LastName @ViewBag.Profile.FirstName</h1>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-sm" style="max-width: 200px;">
                <img src="@ViewBag.Profile.ProfileImage" class="card-img">
            </div>
            <div class="col-sm">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <div class="row">
                        <div class="col-sm-3 font-weight-light">Email</div>
                        <div class="col-sm-9">@ViewBag.User.Email</div>
                    </div>
                    @if (ViewBag.Profile.DOB != null) {
                        <div class="row">
                            <div class="col-sm-3 font-weight-light">Date of Birth</div>
                            <div class="col-sm-9">@CalendarHelper.ToDateString(ViewBag.Profile.DOB)</div>
                        </div>
                    }
                    @if (ViewBag.User.IsStudent) {
                        <h5 class="card-title mt-2">@UserRoleConstants.STUDENT</h5>
                        <div class="row">
                            <div class="col-sm-3 font-weight-light">Roll number</div>
                            <div class="col-sm-9">@ViewBag.Profile.RollNumber</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 font-weight-light">Campus</div>
                            <div class="col-sm-9">@ViewBag.Profile.Campus</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 font-weight-light">Major</div>
                            <div class="col-sm-9">@ViewBag.Profile.Major</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 font-weight-light">Specialization</div>
                            <div class="col-sm-9">@ViewBag.Profile.Specialization</div>
                        </div>
                    }
                    @if (ViewBag.User.IsOrganizer || ViewBag.User.IsManager || ViewBag.User.IsAdmin) {
                        if (ViewBag.User.IsOrganizer) {
                            <h5 class="card-title mt-2">@UserRoleConstants.ORGANIZER</h5>
                            <div class="row">
                                <div class="col-sm-3 font-weight-light">Phone</div>
                                <div class="col-sm-9">@ViewBag.Profile.Phone</div>
                            </div>
                            if (ViewBag.Events.Count > 0) {
                                <div class="card-title mt-2 mb-0">Recent events</div>
                                foreach (Event eventt in ViewBag.Events) {
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.ActionLink(eventt.EventName, "ViewEvent", new { id = eventt.EventId })
                                    </div>
                                    <div class="col-sm-3 font-weight-light text-md-right text-sm-left small">@eventt.CreatedDate.ToDateTimeString()</div>
                                </div>
                                }
                                @Html.ActionLink("View more", "ViewAllEvents", new { OrganizerOrGroup = ViewBag.User.UserId, IsGroup = false, Range = "All", Status = "All" }, new { @class = "small" })
                            }
                        }
                        if (ViewBag.User.IsManager) {
                            <h5 class="card-title mt-2">@UserRoleConstants.MANAGER</h5>
                        }
                        if (ViewBag.User.IsAdmin) {
                            <h5 class="card-title mt-2">@UserRoleConstants.ADMIN</h5>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
