﻿@{
    ViewBag.Title = "View team";
}

<div class="text-center" style="margin-left: auto; margin-right: auto; align-items: center; align-content: center; align-self: center">
    <h1 class="display-4 mb-2">YPHDT</h1>
    <div class="lead mb-2">Young and PHantastic Development Team</div>
    <div class="container">
        <div class="container clear" id="container">
            <div id="about-us" class="clear">
                <div id="team" class=" container text-center align-content-center">
                    <ul class="clear row justify-content-center">
                        <li class="col-4">
                            <figure>
                                <a href="https://www.facebook.com/detrang97">
                                    <img class="imgTeam" src="~/Images/Students/ThangLV.jpg" alt="">
                                </a>
                                <figcaption>
                                    <a href="https://www.facebook.com/detrang97" class="team_name">Lê Việt Thắng</a>
                                    <p class="team_title">Project Manager</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4">
                            <figure>
                                <a href="https://www.facebook.com/dinhlanhuong172">
                                    <img class="imgTeam" src="~/Images/Students/HuongDL.jpg" alt="">
                                </a>
                                <figcaption>
                                    <a href="https://www.facebook.com/dinhlanhuong172" class="team_name">Đinh Lan Hương</a>
                                    <p class="team_title">Technical Leader</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4">
                            <figure>
                                <a href="https://www.facebook.com/MomoVelia3108">
                                    <img class="imgTeam" src="~/Images/Students/PhuongNM.jpg" alt="">
                                </a>
                                <figcaption>
                                    <a href="https://www.facebook.com/MomoVelia3108" class="team_name">Nguyễn Minh Phương</a>
                                    <p class="team_title">Developer</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <ul class="clear row justify-content-center">
                        <li class="col-4">
                            <figure>
                                <a href="https://www.facebook.com/trungduyen0220">
                                    <img class="imgTeam" src="~/Images/Students/DuyenNTM.jpg" alt="">
                                </a>
                                <figcaption>
                                    <a href="https://www.facebook.com/trungduyen0220" class="team_name">Nguyễn Thị Mỹ Duyên</a>
                                    <p class="team_title">Business Analysis</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4">
                            <figure>
                                <a href="https://www.facebook.com/boconganh56279">
                                    <img class="imgTeam" src="~/Images/Students/YenLT.jpg" alt="">
                                </a>
                                <figcaption>
                                    <a href="https://www.facebook.com/boconganh56279" class="team_name">Luyện Thị Yên</a>
                                    <p class="team_title">Test Leader</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Home/framework.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/ViewTeam.css" />
    <style>
        .team_name {
            margin-top: 15px
        }

        .imgTeam {
            height: 205px;
            width: 205px;
            margin-bottom: 15px;
        }

        .line {
            width: 205px;
            height: 1px;
            border-bottom: 1px solid #CCCCCC;
        }

        li {
            min-width: 230px;
        }
    </style>
}
