﻿@using capstone.Helpers;
@using capstone.database.Entities;

@model List<Group>

@{
    ViewBag.Title = "View all groups";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">View list of currently active groups in campus.</div>
    <br />
    <div class="table-responsive">
        @if (User.IsCurrentlyOrganizer() && ViewBag.LeaderGroup != null && ViewBag.LeaderGroup.Count != 0) {
            <input type="hidden" id="isOrganizer" value="1" />
            <input type="hidden" id="isLeader" value="1" />
            <table id="groups" class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 5%">No</th>
                        <th class="w-25">Group name</th>
                        <th>Group leader</th>
                        <th>Your role</th>
                        <th style="width: 5%">Members</th>
                        <th>Mail</th>
                        <th style="width: 5%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Group item in ViewBag.LeaderGroup) {
                        <tr id="row_@item.GroupId">
                            <td></td>
                            <td>
                                @Html.ActionLink(item.GroupName, "ViewGroup", new { id = item.GroupId })
                            </td>
                            <td>
                                @Html.ActionLink(item.Leader.UserProfile.LastName + " " + item.Leader.UserProfile.FirstName, "ViewProfile", new { id = item.LeaderId })
                            </td>
                            <td data-order="0"><b>Leader</b></td>
                            <td>
                                @item.UserGroups.Count
                            </td>
                            <td>
                                @item.GroupMail
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "../Organizer/EditGroup", new { id = item.GroupId }, new { @class = "btn btn-outline-primary btn-sm d-block w-100" })
                            </td>
                        </tr>
                    }
                    @if (ViewBag.MemberGroup != null) {
                        foreach (Group item in ViewBag.MemberGroup) {
                            <tr id="row_@item.GroupId">
                                <td></td>
                                <td>
                                    @Html.ActionLink(item.GroupName, "ViewGroup", new { id = item.GroupId })
                                </td>
                                <td>
                                    @Html.ActionLink(item.Leader.UserProfile.LastName + " " + item.Leader.UserProfile.FirstName, "ViewProfile", new { id = item.LeaderId })
                                </td>
                                <td data-order="1">Member</td>
                                <td>
                                    @item.UserGroups.Count
                                </td>
                                <td>
                                    @item.GroupMail
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                    @foreach (Group item in Model) {
                        <tr id="row_@item.GroupId">
                            <td></td>
                            <td>
                                @Html.ActionLink(item.GroupName, "ViewGroup", new { id = item.GroupId })
                            </td>
                            <td>
                                @Html.ActionLink(item.Leader.UserProfile.LastName + " " + item.Leader.UserProfile.FirstName, "ViewProfile", new { id = item.LeaderId })
                            </td>
                            <td data-order="2"></td>
                            <td>
                                @item.UserGroups.Count
                            </td>
                            <td>
                                @item.GroupMail
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if ((User.IsCurrentlyOrganizer() || User.IsCurrentlyStudent()) && ViewBag.MemberGroup != null && ViewBag.MemberGroup.Count != 0) {
            <input type="hidden" id="isOrganizer" value="1" />
            <input type="hidden" id="isLeader" value="0" />
            <table id="groups" class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 5%">No</th>
                        <th class="w-25">Group name</th>
                        <th>Group leader</th>
                        <th>Your role</th>
                        <th style="width: 5%">Members</th>
                        <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Group item in ViewBag.MemberGroup) {
                        <tr id="row_@item.GroupId">
                            <td></td>
                            <td>
                                @Html.ActionLink(item.GroupName, "ViewGroup", new { id = item.GroupId })
                            </td>
                            <td>
                                @Html.ActionLink(item.Leader.UserProfile.LastName + " " + item.Leader.UserProfile.FirstName, "ViewProfile", new { id = item.LeaderId })
                            </td>
                            <td data-order="1">Member</td>
                            <td>
                                @item.UserGroups.Count
                            </td>
                            <td>
                                @item.GroupMail
                            </td>
                        </tr>
                    }
                    @foreach (Group item in Model) {
                        <tr id="row_@item.GroupId">
                            <td></td>
                            <td>
                                @Html.ActionLink(item.GroupName, "ViewGroup", new { id = item.GroupId })
                            </td>
                            <td>
                                @Html.ActionLink(item.Leader.UserProfile.LastName + " " + item.Leader.UserProfile.FirstName, "ViewProfile", new { id = item.LeaderId })
                            </td>
                            <td data-order="2"></td>
                            <td>
                                @item.UserGroups.Count
                            </td>
                            <td>
                                @item.GroupMail
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else {
            if (User.IsCurrentlyManager()) {
                <input type="hidden" id="isManager" value="1" />
            }
            else {
                <input type="hidden" id="isManager" value="0" />
            }
            <input type="hidden" id="isOrganizer" value="0" />
            <table id="groups" class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 5%">No</th>
                        <th class="w-25">Group name</th>
                        <th>Group leader</th>
                        <th style="width: 5%">Members</th>
                        <th>Mail</th>
                        @if (User.IsCurrentlyManager()) {
                            <th style="width: 5%"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Group item in Model) {
                        <tr id="row_@item.GroupId">
                            <td></td>
                            <td>
                                @Html.ActionLink(item.GroupName, "ViewGroup", new { id = item.GroupId })
                            </td>
                            <td>
                                @Html.ActionLink(item.Leader.UserProfile.LastName + " " + item.Leader.UserProfile.FirstName, "ViewProfile", new { id = item.LeaderId })
                            </td>
                            <td>
                                @item.UserGroups.Count
                            </td>
                            <td>
                                @item.GroupMail
                            </td>
                            @if (User.IsCurrentlyManager()) {
                                <td>
                                    @Html.ActionLink("Change leader", "../Manager/ChangeLeader", new { groupid = item.GroupId }, new { @class = "btn d-block btn-outline-danger btn-sm w-100" })
                                    @Html.ActionLink(
                                        "Delete",
                                        "DeleteGroup",
                                        "Manager",
                                        new { @id = item.GroupId },
                                        new { @onclick = "return confirm('Are you sure?');", @class = "btn d-block btn-outline-dark mt-1 btn-sm w-100" })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
    <style>
        .GroupDescription {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#isOrganizer').val() == 1) {
                if ($('#isLeader').val() == 1) {
                    var t = $('#groups').DataTable({
                        "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": [0, 6]
                        }],
                        "order": [[3, "asc"]]
                    });
                } else {
                    var t = $('#groups').DataTable({
                        "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": [0]
                        }],
                        "order": [[3, "asc"]]
                    });
                }
            } else {
                if ($('#isManager').val() == 1) {
                    var t = $('#groups').DataTable({
                        "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": [0, 5]
                        }],
                        "order": [[1, "asc"]]
                    });
                } else {
                    var t = $('#groups').DataTable({
                        "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": [0]
                        }],
                        "order": [[1, "asc"]]
                    });
                }
            }

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}
