﻿@using capstone.Helpers;
@using capstone.Models;
@using capstone.database.Entities;
@using capstone.database.Database;

@model Group

@{
    ViewBag.Title = Model.GroupName;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", null, new { @class = "breadcrumb-item" })
                @Html.ActionLink("View all groups", "../Home/ViewAllGroups", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 text-center">@Model.GroupName</h1>
    <div class="row">
        <div class="col-md-9 col-sm-8 mb-2">
            <div>
                <hr />
                <div class="dl-horizontal">
                    @if (Model.GroupImage != null && Model.GroupImage != "") {
                        <div>
                            <div name="img" class="float-left pt-1 pr-2">
                                <img class="card-img-top w-100" src="@Model.GroupImage" alt="Card image cap" />
                            </div>
                        </div>
                    }
                    <div>
                        @Html.DisplayFor(model => model.GroupDescription)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 h-100">
            <div>
                <span class="font-weight-bold">Leader: @Model.Leader.UserProfile.LastName @Model.Leader.UserProfile.FirstName </span>(@Model.Leader.Email)
                @if (User.IsCurrentlyManager()) {
                    @Html.ActionLink("Change leader", "../Manager/ChangeLeader", new { groupid = Model.GroupId }, new { @class = "btn-info p-2 border-info mr-1 rounded d-inline-block" })
                    @Html.ActionLink(
                                        "Delete group",
                                        "DeleteGroup",
                                        "Manager",
                                        new { @id = Model.GroupId },
                                        new { @onclick = "return confirm('Are you sure?');", @class = "btn-danger border-danger rounded p-2 d-inline-block" })
                    <br />
                }
            </div>
            <div>
                @if (Model.GroupMail != null && Model.GroupMail.Trim() != "") {
                    <span class="font-weight-bold">Group mail: </span>@Model.GroupMail
                }
            </div>
            <div>
                @if (Model.FoundedYear.HasValue) {
                    <span class="font-weight-bold">Founded date: </span>@Model.FoundedYear.Value.ToString("dd/MM/yyyy")
                }
            </div>
            <div>
                <span class="font-weight-bold btn btn-outline-info mt-2" data-toggle="modal" data-target="#MemberModal">List of Members</span>
                <br /><br />
                @if (Model.LeaderId == User.GetUser().UserId && User.IsCurrentlyOrganizer()) {
                    <div>
                        @Html.ActionLink("Edit group info", "../Organizer/EditGroup", new { id = Model.GroupId }, new { @class = "btn-info p-2 border-primary rounded d-inline-block" })
                    </div>
                }
                <div>
                    <div class="modal fade bd-example-modal-lg" id="MemberModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content w-100">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Members of @Model.GroupName</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body overflow-auto">
                                    @{Database db = new Database(); }
                                    @if (Model.LeaderId == User.GetUser().UserId && User.IsCurrentlyOrganizer()) {
                                        <div class="row no-gutters">
                                            <div class="col-1">
                                                <button class="btn btn-info m-auto w-100" id="btnAdd">Add</button>
                                            </div>
                                            <div class="col-11">
                                                <input type="text" id="txtMember" class="form-control" placeholder="Enter the email of new member" />
                                                <div class="position-relative">
                                                    <ul class="list-group position-absolute w-100" id="listOrganizer" style="max-height: 200px; overflow: auto; cursor: pointer; z-index: 99;"></ul>
                                                </div>
                                            </div>
                                            <span class="text-danger" id="addError"></span>
                                        </div>
                                        <br />
                                        <input type="hidden" id="isLeader" value="1" />
                                        <table class="table table-striped table-bordered" id="GroupMembers">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Name</th>
                                                    <th>Role</th>
                                                    <th>Mail</th>
                                                    <th>Joined Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (MemberModel member in ViewBag.GroupMember) {
                                                    if (member.Id == Model.LeaderId) {
                                                        <tr id="row_@member.Id">
                                                            <td></td>
                                                            <th>
                                                                <a href="/Home/ViewProfile/@member.Id" class="text-dark">@member.Name</a>
                                                            </th>
                                                            <th data-order="0">Leader</th>
                                                            <th>
                                                                @member.Email
                                                            </th>
                                                            <th data-order="@member.JoinedDate.Ticks">
                                                                @member.JoinedDate.ToDateTimeString()
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                    } else if (db.Users.Single(u => u.UserId == member.Id).IsOrganizer) {
                                                        <tr id="row_@member.Id">
                                                            <td></td>
                                                            <td>
                                                                <a href="/Home/ViewProfile/@member.Id" class="text-dark">@member.Name</a>
                                                            </td>
                                                            <td data-order="1">Organizer</td>
                                                            <td>
                                                                @member.Email
                                                            </td>
                                                            <td data-order="@member.JoinedDate.Ticks">
                                                                @member.JoinedDate.ToDateTimeString()
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-info" value="@member.Id">Remove</button>
                                                            </td>
                                                        </tr>
                                                    } else {
                                                        <tr id="row_@member.Id">
                                                            <td></td>
                                                            <td>
                                                                <a href="/Home/ViewProfile/@member.Id" class="text-dark">@member.Name</a>
                                                            </td>
                                                            <td data-order="2">Member</td>
                                                            <td>
                                                                @member.Email
                                                            </td>
                                                            <td data-order="@member.JoinedDate.Ticks">
                                                                @member.JoinedDate.ToDateTimeString()
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-info" value="@member.Id">Remove</button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    } else {
                                        <input type="hidden" id="isLeader" value="0" />
                                        <table class="table table-striped table-bordered" id="GroupMembers">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort">No</th>
                                                    <th>Name</th>
                                                    <th>Role</th>
                                                    <th>Mail</th>
                                                    <th>Joined Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (MemberModel member in ViewBag.GroupMember) {
                                                    if (member.Id == Model.LeaderId) {
                                                        <tr id="row_@member.Id">
                                                            <td></td>
                                                            <th>
                                                                <a href="/Home/ViewProfile/@member.Id" class="text-dark">@member.Name</a>
                                                            </th>
                                                            <th data-order="0">Leader</th>
                                                            <th>
                                                                @member.Email
                                                            </th>
                                                            <th data-order="@member.JoinedDate.Ticks">
                                                                @member.JoinedDate.ToDateTimeString()
                                                            </th>
                                                        </tr>
                                                    } else if (db.Users.Single(u => u.UserId == member.Id).IsOrganizer) {
                                                        <tr id="row_@member.Id">
                                                            <td></td>
                                                            <td>
                                                                <a href="/Home/ViewProfile/@member.Id" class="text-dark">@member.Name</a>
                                                            </td>
                                                            <td data-order="1">Organizer</td>
                                                            <td>
                                                                @member.Email
                                                            </td>
                                                            <td data-order="@member.JoinedDate.Ticks">
                                                                @member.JoinedDate.ToDateTimeString()
                                                            </td>
                                                        </tr>
                                                    } else {
                                                        <tr id="row_@member.Id">
                                                            <td></td>
                                                            <td>
                                                                <a href="/Home/ViewProfile/@member.Id" class="text-dark">@member.Name</a>
                                                            </td>
                                                            <td data-order="2">Member</td>
                                                            <td>
                                                                @member.Email
                                                            </td>
                                                            <td data-order="@member.JoinedDate.Ticks">
                                                                @member.JoinedDate.ToDateTimeString()
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="recentEvents">
        @if (ViewBag.recentEvents.Count > 0) {
            <br />
            <h5>Recent events:</h5>
            <p>Recent event created by members of this group.</p>
            foreach (Event e in ViewBag.recentEvents) {
                <span>@e.CreatedDate.ToDateTimeString() - <b><a href="/Home/ViewEvent/@e.EventId">@e.EventName</a></b></span><br />
            }
            <a class="small" href="/Home/ViewAllEvents?OrganizerOrGroup=@Model.GroupId&IsGroup=True&Status=All&Range=All">View more</a>
        }
    </div>
    <br />
    <div>
        @Html.ActionLink("Back to List", "ViewAllGroups", null, new { @class = "btn-info p-2 border-primary rounded d-inline-block" })
    </div>
</div>

@section styles {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            if ($('#isLeader').val() == 1) {
                var t = $('#GroupMembers').DataTable({
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": [0, 5]
                    }],
                    "order": [[2, "asc"]]
                });
            } else {
                var t = $('#GroupMembers').DataTable({
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": [0]
                    }],
                    "order": [[2, "asc"]]
                });
            }

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

        $("body").on('focusout', "#txtMember", function () {
            window.setTimeout(function () { $('#listOrganizer').hide(); }, 100);
        });

        $("body").on('focusin', "#txtMember", function () {
            $('#listOrganizer').show();
        });

        $("body").on('keyup', "#txtMember", function () {
            if ($(this).val() != "") {
                var data = {
                    searchStr: $(this).val().trim(),
                    groupId: '@Model.GroupId'
                };
                $.ajax({
                    url: "/Organizer/SearchOrganizersNotMember",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#listOrganizer li').remove();
                        if (result.length != 0) {
                            $('#listOrganizer').show();
                            $.each(result, function (index, value) {
                                $('#listOrganizer').append('<li class="list-group-item list-group-item-action p-2" value="' + value.Id + '">' + value.Email + '</li>');
                            });
                        } else {
                            $('#listOrganizer').append('<li class="list-group-item list-group-item-action p-2" value="1" id="null">No items in result.</li>');
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            } else {
                $('#listOrganizer').html("");
            }
        });
        //list member item click
        $(document).on('click', '#listOrganizer li', function () {
            if (this.id != "null") {
                $('#txtMember').val($(this).text());
                $('#listOrganizer').html("");
            }
        });
        $(document).on('click', '#GroupMembers button', function () {
            var result = confirm("Are you sure?");
            var deletedRow = $(this).parents('tr');
            if (result == true) {
                var data = {
                    groupId: @Model.GroupId,
                    userId: $(this).val()
                }
                $.ajax({
                    url: "/Organizer/RemoveMember",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function () {
                            $('#GroupMembers').DataTable().row(deletedRow).remove().draw(false);
                setTimeout(function () {
                    alert('Successfully removed member.');
                }, 100);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        });
        //add member btn click
        $(document).on('click', '#btnAdd', function () {
            var res = validate();
            if (res == false) {
                return false;
            }
            $('#addError').html('');
            var addMemberObj = {
                groupId: '@Model.GroupId',
                userEmail: $('#txtMember').val()
            };
            $.ajax({
                url: "/Organizer/AddMember",
                data: JSON.stringify(addMemberObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == 404) {
                        $('#addError').html('There is no account with this email.');
                    } else if (result == 405) {
                        $('#addError').html('This user is already in group.');
                    } else {
                        $('#txtMember').val("");
                        var rowCount = parseInt($('#GroupMembers tr:last td:first').html(), 10) + 1;
                        if (result.Role == "Organizer") {
                            $('#GroupMembers').DataTable().row.add($('<tr>' +
                                '<td></td>' +
                                '<td>' +
                                '    <a href="/Home/ViewProfile/' + result.Id + '" class="text-dark">' + result.Name + '</a>' +
                                '</td>' +
                                '<td data-order="1">Organizer</td>' +
                                '<td>' +
                                result.Email +
                                '</td>' +
                                '<td data-order="'+result.Ticks+'">' +
                                result.strJoinedDate +
                                '</td>' +
                                '<td>' +
                                '    <button type="button" class="btn btn-info" value="' + result.Id + '">Remove</button>' +
                                '</td>' +
                                '</tr>')).draw();
                        } else {
                            $('#GroupMembers').DataTable().row.add($('<tr>' +
                                '<td></td>' +
                                '<td>' +
                                '    <a href="/Home/ViewProfile/' + result.Id + '" class="text-dark">' + result.Name + '</a>' +
                                '</td>' +
                                '<td data-order="2">Member</td>' +
                                '<td>' +
                                result.Email +
                                '</td>' +
                                '<td data-order="' + result.Ticks +'">' +
                                result.strJoinedDate +
                                '</td>' +
                                '<td>' +
                                '    <button type="button" class="btn btn-info" value="' + result.Id + '">Remove</button>' +
                                '</td>' +
                                '</tr>')).draw();
                        }
                        setTimeout(function () {
                            alert('Successfully added member.');
                        }, 100);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        //Valdidation using jquery
        function validate() {
            var isValid = true;
            //if ($('#FeedbackContent').val().trim() == "") {
            //    $('#FeedbackContent').css('border-color', 'Red');
            //    isValid = false;
            //}
            //else {
            //    $('#FeedbackContent').css('border-color', 'lightgrey');
            //}
            return isValid;
        }
    </script>
}


