﻿@using capstone.Models;
@using capstone.Helpers;

@model EditAccountViewModel

@{
    ViewBag.Title = "Edit account";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Administrator", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("View all accounts", "ViewAllAccounts", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Edit roles of an account.</div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Email)
        <div class="form-group form-row">
            @Html.LabelFor(m => m.Email, new { @class = "col-2 col-form-label" })
            <div class="col-10">
                @Html.DisplayTextFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.ValidationMessage("Email", new { @class = "text-danger" })
        </div>
        <div class="form-group form-row">
            @Html.Label("Roles", new { @class = "col-2 col-form-label" })
            <div class="col-10">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.IsStudent, new { @class = "custom-control-input" })
                    @Html.LabelFor(m => m.IsStudent, new { @class = "custom-control-label" })
                </div>
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.IsOrganizer, new { @class = "custom-control-input" })
                    @Html.LabelFor(m => m.IsOrganizer, new { @class = "custom-control-label" })
                </div>
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.IsManager, new { @class = "custom-control-input" })
                    @Html.LabelFor(m => m.IsManager, new { @class = "custom-control-label" })
                </div>
                <div class="custom-control custom-checkbox">
                    @if (Model.IsAdmin && Model.Id != User.GetUser().UserId) {
                        @Html.CheckBoxFor(m => m.IsAdmin, new { @class = "custom-control-input", @disabled = true })
                        @Html.LabelFor(m => m.IsAdmin, new { @class = "custom-control-label text-dark" })
                    }
                    else {
                        @Html.CheckBoxFor(m => m.IsAdmin, new { @class = "custom-control-input" })
                        @Html.LabelFor(m => m.IsAdmin, new { @class = "custom-control-label text-dark" })
                    }

                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.ValidationMessage("Roles", new { @class = "text-danger" })
        </div>
        <button class="btn btn-primary mt-2" type="submit">Edit</button>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).on()
        $('#IsAdmin').click(function () {
            if ($('#IsAdmin').is(":checked") && @Model.Id != @User.GetUser().UserId) {
                return confirm("Are you sure? You can't change Administrator role of other accounts.");
            }
        });
    </script>
}
