﻿@using capstone.Models;
@using capstone.Helpers;


@model EditAccountViewModel

@{
    ViewBag.Title = "Create account";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create-account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />

    <link rel="stylesheet" href="~/Scripts/css/edit-account.css" />

</head>

<body>

    <div class="wrapper d-flex align-items-stretch" style="margin-top: 0px; ">
        <nav id="sidebar" class="active">
            <div class="custom-menu ">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> My tickets</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Quan tâm</a>
                    </li>

                </ul>
            </div>
        </nav>
        <section class="content">
            <div class="h1 text-center text-uppercase" style="margin: 0 3%;">Create account</div>
            <div class="text-center mt-2">Create new account in the system</div>
            <div class="profile__info mt-5">
                @using (Html.BeginForm("EditAccount", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Email)
                <div class="col-12 p-0 mt-4">
                    <label for="" class="font-weight-bold">Email</label>


                    @*<div class="effect-2">
                        @Html.DisplayTextFor(m => m.Email, new { @class = "effect-2"})
                    </div>*@


                    @Html.TextBoxFor(m => m.Email, new { @class = "effect-2", @placeholder = "Email", @disabled = "disabled" })

                    @Html.ValidationMessage("Email", new { @class = "col-form-label text-danger" })
                    @*<input class="effect-2" type="text" placeholder="Mã TV">
        <span class="focus-border"></span>*@
                </div>
                    <div class="col-12 p-0 mt-4">
                        <label for="" class="font-weight-bold">Roles</label>

                        <input type="checkbox" id="weekday-1" name="IsStudent" checked="@Model.IsStudent" value="true">
                        <label for="weekday-1">Student</label>
                        <input name="IsStudent" type="hidden" value="false">

                        <input type="checkbox" id="weekday-2" name="IsOrganizer" checked="@Model.IsOrganizer" autocomplete="off" value="true">
                        <label for="weekday-2">Organizers</label>
                        <input name="IsOrganizer" type="hidden" value="false">

                        <input type="checkbox" id="weekday-3" name="IsManager" checked="@Model.IsManager" value="true">
                        <label for="weekday-3">Manager</label>
                        <input name="IsManager" type="hidden" value="false">

                    

                        @if (Model.IsAdmin && Model.Id != User.GetUser().UserId)
                        {
                            <input type="checkbox" id="weekday-4" name="IsAdmin" checked="@Model.IsAdmin" value="true" disabled>
                            <label for="weekday-4">Administrator</label>
                            <input name="IsManager" type="hidden" value="false">
                        }
                        else
                        {
                            <input type="checkbox" id="weekday-4" name="IsAdmin" checked="@Model.IsAdmin" value="true">
                            <label for="weekday-4">Administrator</label>
                            <input name="IsManager" type="hidden" value="false">
                        }
                    </div>
                    @Html.ValidationMessage("Roles", new { @class = "text-danger" })
                    <div class="col-btn col-12 p-0 mt-4">
                        <button class="btn-done text-white" type="submit">Edit</button>
                    </div>
                }
            </div>

        </section>

    </div>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="~/Scripts/js/hierarchy-select.min.js"></script>

    <script src="~/Scripts/js/main.js"></script>

    <script> @Scripts.Render("~/bundles/jqueryval") </script>
    <script>
        $(document).on()
        $('#weekday-4').click(function () {
            if ($('#weekday-4').is(":checked")) {
                return confirm("Are you sure? You can't change Administrator role of other accounts.");
            }
        });
    </script>


</body>

