﻿@{
    ViewBag.Title = "Administrator";
}

<div class="container">
    <h1 class="display-4 mb-2">Administrator</h1>
    <div class="card-deck">
        <div class="card mb-2">
            <h5 class="card-header">Manage accounts</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all accounts", "ViewAllAccounts", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("Create account", "CreateAccount", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h5 class="card-header">View events</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View university event calendar", "ViewUniversityEventCalendar", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("View all events", "ViewAllEvents", "Home", null, new { @class = "list-group-item list-group-item-action" })

                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h5 class="card-header">View groups</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all groups", "ViewAllGroups", "Home", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-2">
            <h5 class="card-header">View campuses and buildings</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all campuses", "ViewAllCampus", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("View all buildings", "ViewAllBuilding", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <h5 class="card-header">View SmartTv</h5>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    @Html.ActionLink("View all SmartTv", "ViewAllSmartTv", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
    </div>
</div>