﻿@{
    ViewBag.Title = "Login as account";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Administrator", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-group form-row">
            @Html.Label("Email", new { @class = "col-2 col-form-label" })
            <div class="input-group col-10">
                @Html.TextBox("email", "", new { @class = "form-control", @placeholder = "Email" })
            </div>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Login</button>
    }
</div>
