﻿@using capstone.Constants;
@using capstone.Models;

@model SmartTvViewModel

@{
    ViewBag.Title = "ViewAllSmartTv";
}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="~/Scripts/css/config.css" />

    <link rel="stylesheet" href="~/Scripts/css/view-tv.css" />
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Administrator", "Index", null, new { @class = "breadcrumb-item" })
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<body>
    <div class=" d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> My tickets</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Quan tâm</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5">
            <div class="content-name">
                <p class="h1 d-inline">Danh sách TV</p>

                <!-- <button class="custom-btn2 btn-13" data-toggle="modal" data-target="#modalContactForm">Tạo mới</button> -->
                <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Tạo mới TV</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="CreateSmartTv" method="post">
                                @Html.AntiForgeryToken()
                                <div class="modal-body mx-3 my-5">
                                    <div class="md-form">
                                        <div class="profile__info mt-3">
                                            <div class="col-12 p-0">
                                                <div class="select">
                                                    <select name="campusId" id="selectCampus">
                                                        <option value="-1" selected>--Select a campus--</option>
                                                        @for (int i = 0; i < ViewBag.campus.Count; i++)
                                                        {
                                                            CampusViewModel cam = ViewBag.campus[i];
                                                            <option value="@cam.CampusId">@cam.CampusName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-12 p-0">
                                                <div class="select">
                                                    <select name="buildingId" id="listBuilding">
                                                        <option value="-1">--Select a building--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-12 p-0">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Mã TV</label>
                                                <input class="effect-2" type="text" placeholder="Nhập mã TV" name="tvCode" id="tvCode">
                                                <span class="focus-border"></span>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-12 p-0">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Tên TV</label>
                                                <input class="effect-2" type="text" placeholder="Nhập tên TV" name="tvName" id="tvName">
                                                <span class="focus-border"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="col-btn col-12 p-0">
                                        <input class="btn-done text-white" type="submit" value="Tạo" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Chỉnh sửa TV</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="window.location.reload();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="EditSmartTv" method="post">
                                @Html.AntiForgeryToken()
                                <div class="modal-body mx-3 my-5">
                                    <div class="md-form">
                                        <div class="profile__info mt-3">
                                            <div class="col-12 p-0">
                                                <div class="select">
                                                    <select name="campusId" id="selectCampus2">
                                                        <option id="display" selected></option>
                                                        @for (int i = 0; i < ViewBag.campus.Count; i++)
                                                        {
                                                            CampusViewModel cam = ViewBag.campus[i];
                                                            <option value="@cam.CampusId">@cam.CampusName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-12 p-0">
                                                <div class="select">
                                                    <select name="buildingId" id="listBuilding2">
                                                        <option id="display2" selected></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-12 p-0">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Mã TV</label>
                                                <input class="effect-2" type="text" placeholder="Nhập mã TV" name="tvCode" id="tvCode">
                                                <span class="focus-border"></span>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="col-12 p-0">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Tên TV</label>
                                                <input class="effect-2" type="text" placeholder="Nhập tên TV" name="tvName" id="tvName">
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="tvId" id="tvId" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="col-btn col-12 p-0">
                                        <input class="btn-done text-white" type="submit" value="Tạo" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <!-- <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Launch
                    Modal Contact Form</a> -->
                    <button class="custom-btn2 btn-13" data-toggle="modal" data-target="#modalContactForm">Tạo mới</button>
                </div>
            </div>
            <div class="search-downdown mt-3">

                <div class="search-form">
                    <form action="ViewAllSmartTv" method="post" name="search" role="search" class="formxyz">
                        <p class="inp-wrap cat-wrap">
                            <label for="categories" class="grid-40">Cơ sở</label>
                            <select id="searchCampus" name="searchCampus" class="grid-60" onchange="this.form.submit()">
                                <option>Chọn cơ sở</option>
                                @for (int i = 0; i < ViewBag.campus.Count; i++)
                                {
                                    CampusViewModel cam = ViewBag.campus[i];
                                    <option value="@cam.CampusId">@cam.CampusName</option>
                                }
                                <option value="-1">Tất cả cơ sở</option>
                            </select>
                        </p>
                        <p class="inp-wrap search-wrap">
                            <label for="search-field" class="search-label grid-25">Tìm kiếm</label>
                            <input type="search" name="searchterm" id="search-field" class="grid-75" value="" placeholder="Search by TV Code" />
                        </p>
                        <p class="inp-wrap submit-wrap">
                            <button class="grid-100 btn">
                                <span class="search-icon-container">
                                    <?xml version="1.0" encoding="utf-8" ?>
                                    <!-- Generated by IcoMoon.io -->
                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         id="search-icon" width="768" height="768" viewBox="0 0 768 768">
                                        <g id="icomoon-ignore">
                                        </g>
                                        <path d="M304.5 448.5c79.5 0 144-64.5 144-144s-64.5-144-144-144-144 64.5-144 144 64.5 144 144 144zM496.5 448.5l159 159-48 48-159-159v-25.5l-9-9c-36 31.5-84 49.5-135 49.5-115.5 0-208.5-91.5-208.5-207s93-208.5 208.5-208.5 207 93 207 208.5c0 51-18 99-49.5 135l9 9h25.5z">
                                        </path>
                                    </svg>
                                </span>
                                Search
                            </button>
                        </p>
                    </form>
                </div>

                <div class="table__content mt-4">
                    <div class="list__table">
                        <ul>
                            <li>No</li>
                            <li>Tên TV</li>
                            <li>Mã Tv</li>
                            <li>Tòa nhà</li>
                            <li>Cơ sở</li>
                            <li style="text-align: center;">Hành động</li>
                        </ul>

                        @for (int i = 0; i < ViewBag.TV.Count; i++)
                        {
                            SmartTvViewModel tv = ViewBag.TV[i];
                            <ul>
                                <li data-label="no">@(i + 1)</li>
                                <li data-label="Category Name">@tv.TvName</li>
                                <li data-label="Category Name">@tv.TvCodeId</li>
                                <li data-label="Category Name">@tv.Building.BuildingName</li>
                                <li data-label="Category Name">@tv.Building.Campus.CampusName</li>
                                <li data-label="Action" class="action-btn">
                                    <a data-toggle="modal" data-tvid="@tv.id" data-tvcode="@tv.TvCodeId" data-tvname="@tv.TvName" data-buildingid="@tv.BuildingId"
                                       data-buildingname="@tv.Building.BuildingName" data-campusid="@tv.Building.Campus.CampusId" data-campusname="@tv.Building.Campus.CampusName" data-target="#modalEditForm" class="open-AddBookDialog" href="#addBookDialog"><i class="fa fa-edit"></i></a>
                                    <a href="DeleteSmartTv/@tv.id"><i class="fa fa-trash"></i></a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="~/Scripts/js/hierarchy-select.min.js"></script>

    <script src="~/Scripts/js/main.js"></script>
    <script>
        $(document).on("click", ".open-AddBookDialog", function () {
            var tvid = $(this).data('tvid');
            var tvcode = $(this).data('tvcode');
            var tvname = $(this).data('tvname');
            var buildingid = $(this).data('buildingid');
            var buildingname = $(this).data('buildingname');
            var campusid = $(this).data('campusid');
            var campusname = $(this).data('campusname');

            $(".modal-body #tvId").val(tvid);
            $(".modal-body #tvCode").val(tvcode);
            $(".modal-body #tvName").val(tvname);


            $(".modal-body #display").val(campusid);
            $(".modal-body #display").text('Current campus: ' + campusname);
            $(".modal-body #display2").val(buildingid);
            $(".modal-body #display2").text('Current bulding: ' + buildingname);
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#selectCampus").change(function () {
                console.log('alo123');
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                url: "@Url.Action("GetBuildingByCampusId")",
                data: JSON.stringify({ "campId": $("#selectCampus").val() }),
                success: function (result, status, xhr) {
                    //$("#listBuilding").html(result);
                    //$('#listFamily').show();
                    $('#listBuilding option').remove();
                    var buildingList = $('#listBuilding');
                    console.log('đã có list building');
                    for (let ele of result) {
                        buildingList.append('<option value=' + ele.BuildingId + '>' + ele.BuildingName + '</option>');
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#selectCampus2").change(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                url: "@Url.Action("GetBuildingByCampusId")",
                data: JSON.stringify({ "campId": $("#selectCampus2").val() }),
                success: function (result, status, xhr) {
                    //$("#listBuilding").html(result);
                    //$('#listFamily').show();
                    $('#listBuilding option').remove();
                    var buildingList = $('#listBuilding2');
                    buildingList.empty();
                    for (let ele of result) {
                        buildingList.append('<option value=' + ele.BuildingId + '>' + ele.BuildingName + '</option>');
                    }
                },
                error: function (errormessage)
                    {
                    alert(errormessage.responseText);
                }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#searchCampus").change(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                url: "@Url.Action("GetBuildingByCampusId")",
                data: JSON.stringify({ "campId": $("#searchCampus").val() }),
                success: function (result, status, xhr) {
                    //$("#listBuilding").html(result);
                    //$('#listFamily').show();
                    $('#listBuilding option').remove();
                    var buildingList = $('#searchBuilding');
                    buildingList.empty();
                    for (let ele of result) {
                        buildingList.append('<option value=' + ele.BuildingId + '>' + ele.BuildingName + '</option>');
                    }
                },
                error: function (errormessage)
                    {
                    alert(errormessage.responseText);
                }
                });
            });
        });
    </script>
</body>

