﻿@using capstone.Constants;
@using capstone.Models;

@model AccountSearchFilterViewModel

@{
    ViewBag.Title = "View all accounts";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />
    <link rel="stylesheet" href="~/Scripts/css/view-all-account.css" />
</head>


<body>

    <div class="wrapper d-flex align-items-stretch" style="margin-top: 0px; ">
        <nav id="sidebar" class="active">
            <div class="custom-menu ">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> Chờ xử lý</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Đang diễn ra</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-sticky-note mr-3"></span> Đã kết thúc</a>
                    </li>
                </ul>
            </div>
        </nav>
        
            <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">

            <p class="h1">View all account</p>
            <div>
                <p class="h5">Show all Organizers, Managers and Administrators in the system</p>
                @using (Html.BeginForm("ViewAllAccounts", "Admin", FormMethod.Get))
                {

                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-control-lg", @placeholder = "Account name or email...", @autocomplete = "off" })

                    @*<input class="form-control form-control-lg" type="text" placeholder="Account name or email..."
                           aria-label=".form-control-lg example" name="Search" autocomplete="off">*@
                    <div class="mb-2 py-2 bg-light rounded">



                        <input type="checkbox" id="weekday-3" name="IsOrganizer" autocomplete="off" checked="@Model.IsOrganizer" value="true">
                        <label for="weekday-3">Organizers</label>
                        <input name="IsOrganizer" type="hidden" value="false">

                        <input type="checkbox" id="weekday-4" name="IsManager" checked="@Model.IsManager" value="true">
                        <label for="weekday-4">Manager</label>
                        <input name="IsManager" type="hidden" value="false">

                        <input type="checkbox" id="weekday-5" name="IsAdmin" checked="@Model.IsAdmin" value="true">
                        <label for="weekday-5">Administrator</label>
                        <input name="IsManager" type="hidden" value="false">


                        <div class="form-group mb-0">
                            <button class="custom-btn2 btn-x">Tìm kiếm</button>
                        </div>

                    </div>}
            </div>
            @if (ViewBag.Accounts.Count > 0)
            {
                <div class="table__content">
                    <div class="list__table">
                        <ul>
                            <li>No</li>
                            <li>Name</li>
                            <li>Email</li>
                            <li>Student</li>
                            <li>Organizer</li>
                            <li>Manager</li>
                            <li>Administrator</li>
                        </ul>
                        @for (int i = 0; i < ViewBag.Accounts.Count; i++)
                        {
                            AccountModel account = ViewBag.Accounts[i];
                            <ul>
                                <li data-label="no">@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</li>
                                <li data-label="event">@Html.ActionLink(account.Name, "EditAccount", new { id = account.Id })</li>
                                <li data-label="Email">@account.Email</li>
                                <li data-label="Student">
                                    <input type="checkbox" id="weekday-6" name="weekday-6" value="Saturday" checked=@account.IsStudent disabled>
                                    <label for="weekday-6"></label>
                                </li>
                                <li data-label="Organizer">
                                    <input type="checkbox" id="weekday-7" name="weekday-7" value="Saturday" checked=@account.IsOrganizer disabled>
                                    <label for="weekday-7"></label>
                                </li>
                                <li data-label="Manager">
                                    <input type="checkbox" id="weekday-8" name="weekday-8" value="Saturday" checked=@account.IsManager disabled>
                                    <label for="weekday-8"></label>
                                </li>
                                <li data-label="Administrator">
                                    <input type="checkbox" id="weekday-9" name="weekday-9" value="Saturday" checked=@account.IsAdmin disabled>
                                    <label for="weekday-9"></label>
                                </li>



                            </ul>
                        }

                    </div>
                    
                </div>
                @Html.Partial("Pages")
            }
            else
            {
                <div>No accounts found</div>
            }
        </div>
       
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="js/hierarchy-select.min.js"></script>


    <script src="./js/main.js"></script>
    <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        })(jQuery);

    </script>
</body>

