﻿@using capstone.Constants;
@using capstone.Models;

@model AccountSearchFilterViewModel

@{
    ViewBag.Title = "View all accounts";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Administrator", "Index", null, new { @class = "breadcrumb-item" })
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">Show all Organizers, Managers and Administrators in the system</div>
    <div class="mb-2 p-2 bg-light rounded">
        @using (Html.BeginForm("ViewAllAccounts", "Admin", FormMethod.Get)) {
            <div class="form-group mb-2">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = "Account name or email...", @autocomplete = "off" })
            </div>
            <div class="form-group mb-2">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.IsOrganizer, new { @class = "custom-control-input" })
                    @Html.LabelFor(m => m.IsOrganizer, new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.IsManager, new { @class = "custom-control-input" })
                    @Html.LabelFor(m => m.IsManager, new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="form-group mb-2">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.IsAdmin, new { @class = "custom-control-input" })
                    @Html.LabelFor(m => m.IsAdmin, new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="form-group mb-0">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        }
    </div>
    @if (ViewBag.Accounts.Count > 0) {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>@UserRoleConstants.STUDENT</th>
                    <th>@UserRoleConstants.ORGANIZER</th>
                    <th>@UserRoleConstants.MANAGER</th>
                    <th>@UserRoleConstants.ADMIN</th>
                </tr>
                @for (int i = 0; i < ViewBag.Accounts.Count; i++) {
                    AccountModel account = ViewBag.Accounts[i];
                    <tr>
                        <td>@(ViewBag.Pages.Size * (ViewBag.Pages.Current - 1) + i + 1)</td>
                        <td>@Html.ActionLink(account.Name, "EditAccount", new { id = account.Id })</td>
                        <td>@account.Email</td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox(" ", account.IsStudent, new { @class = "custom-control-input", @disabled = true })
                                @Html.Label(" ", new { @class = "custom-control-label" })
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox(" ", account.IsOrganizer, new { @class = "custom-control-input", @disabled = true })
                                @Html.Label(" ", new { @class = "custom-control-label" })
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox(" ", account.IsManager, new { @class = "custom-control-input", @disabled = true })
                                @Html.Label(" ", new { @class = "custom-control-label" })
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox(" ", account.IsAdmin, new { @class = "custom-control-input", @disabled = true })
                                @Html.Label(" ", new { @class = "custom-control-label" })
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        @Html.Partial("Pages")
    }
    else {
        <div>No accounts found</div>
    }
</div>
