﻿@using capstone.Constants;
@using capstone.Models;

@model CampusViewModel

@{
    ViewBag.Title = "ViewAllCampus";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="~/Scripts/css/config.css" />

    <link rel="stylesheet" href="~/Scripts/css/view-campus.css" />
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Administrator", "Index", null, new { @class = "breadcrumb-item" })
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> My tickets</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Quan tâm</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5">
            <div class="content-name">
                <p class="h1 d-inline">Danh sách cơ sở</p>

                <!-- <button class="custom-btn2 btn-13" data-toggle="modal" data-target="#modalContactForm">Tạo mới</button> -->
                <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Tạo mới cơ sở</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="CreateCampus" method="post">
                                @Html.AntiForgeryToken()
                                <div class="modal-body mx-3 my-5">
                                    <div class="md-form">
                                        <div class="profile__info mt-3">
                                            <div class="col-12 p-0">
                                                <label for="" style="font-size: 1.2rem; font-weight: bold;">Tên cơ sở</label>
                                                <input class="effect-2" type="text" placeholder="Nhập tên cơ sở" name="campusName">
                                                <span class="focus-border"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="col-btn col-12 p-0">
                                        <input class="btn-done text-white" type="submit" value="Tạo" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Chỉnh sửa cơ sở</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="EditCampus" method="post">
                                @Html.AntiForgeryToken()
                                <div class="modal-body mx-3 my-5">
                                    <div class="md-form">
                                        <div class="profile__info mt-3">
                                            <div class="col-12 p-0">
                                                <label for="" style="font-size: 1.2rem; font-weight: bold;">Nhập tên cơ sở</label>
                                                <input class="effect-2" type="text" placeholder="Nhập tên cơ sở" name="campusName" id="campusName">
                                                <div class="modal-body">
                                                    <input type="hidden" name="campusId" id="campusId" value="" />
                                                </div>
                                                <span class="focus-border"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="col-btn col-12 p-0">
                                        <input class="btn-done text-white" type="submit" value="Chỉnh sửa" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <!-- <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Launch
                    Modal Contact Form</a> -->
                    <button class="custom-btn2 btn-13" data-toggle="modal" data-target="#modalContactForm">Tạo mới</button>
                </div>
            </div>

            <div class="table__content mt-4">
                <div class="list__table">
                    <ul>
                        <li>No</li>
                        <li>Cơ sở</li>
                        <li style="text-align: center;">Hành động</li>
                    </ul>
                    @for (int i = 0; i < ViewBag.Campus.Count; i++)
                    {
                        CampusViewModel cam = ViewBag.Campus[i];
                        <ul>
                            <li data-label="no">@(i + 1)</li>
                            <li data-label="Category Name">@cam.CampusName</li>

                            <li data-label="Action" class="action-btn">
                                <a data-toggle="modal" data-id="@cam.CampusId" data-name="@cam.CampusName" data-target="#modalEditForm" class="open-AddBookDialog" href="#addBookDialog"><i class="fa fa-edit"></i></a>
                                @*<a href="DeleteCampus/@cam.CampusId"><i class="fa fa-trash"></i></a>*@
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="~/Scripts/js/hierarchy-select.min.js"></script>

    <script src="~/Scripts/js/main.js"></script>
    <script>
        $(document).on("click", ".open-AddBookDialog", function () {
            var campusId = $(this).data('id');
            $(".modal-body #campusId").val(campusId);
            var campusName = $(this).data('name');
            $(".modal-body #campusName").val(campusName);
        });
    </script>
    <script>
        (function ($) {
            'use strict';

            var fullHeight = function () {
                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });
            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        })(jQuery);

        (function () {
            window.inputNumber = function (el) {
                var min = el.attr('min') || false;
                var max = el.attr('max') || false;

                var els = {};

                els.dec = el.prev();
                els.inc = el.next();

                el.each(function () {
                    init($(this));
                });

                function init(el) {
                    els.dec.on('click', decrement);
                    els.inc.on('click', increment);

                    function decrement() {
                        var value = el[0].value;
                        value--;
                        if (!min || value >= min) {
                            el[0].value = value;
                        }
                    }

                    function increment() {
                        var value = el[0].value;
                        value++;
                        if (!max || value <= max) {
                            el[0].value = value++;
                        }
                    }
                }
            };
        })();

        inputNumber($('.input-number'));
    </script>
</body>
