﻿@using capstone.Models;

@model BuildingViewModel

@{
    ViewBag.Title = "ViewAllBuidling";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="~/Scripts/css/config.css" />

    <link rel="stylesheet" href="~/Scripts/css/view-building.css" />
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Administrator", "Index", null, new { @class = "breadcrumb-item" })
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<body>
    <div class=" d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> My tickets</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Quan tâm</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5">
            <div class="content-name">
                <p class="h1 d-inline">Danh sách cơ sở</p>
                <!-- <button class="custom-btn2 btn-13" data-toggle="modal" data-target="#modalContactForm">Tạo mới</button> -->
                <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Tạo mới tòa nhà</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="CreateBuilding" method="post">
                                @Html.AntiForgeryToken()
                                <div class="modal-body mx-3 my-5">
                                    <div class="md-form">
                                        <div class="profile__info mt-3">
                                            <div class="col-12 p-0">
                                                <div class="select">
                                                    <select name="campusId" id="format">
                                                        @for (int i = 0; i < ViewBag.campus.Count; i++)
                                                        {
                                                            CampusViewModel cam = ViewBag.campus[i];
                                                            <option value="@cam.CampusId">@cam.CampusName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 p-0">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Tên tòa</label>
                                                <input class="effect-2" type="text" placeholder="Nhập tên cơ sở" name="building" id="campusName">
                                                <span class="focus-border"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="col-btn col-12 p-0">
                                        <input class="btn-done text-white" type="submit" value="Tạo" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Chỉnh sửa tòa nhà</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="EditBuilding" method="post">
                                @Html.AntiForgeryToken()
                                <div class="modal-body mx-3 mb-5">
                                    <div class="search-downdown">
                                        <div class="profile__info mt-5">
                                            <div class="col-12 p-0 mt-4">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Chọn cơ sở</label>
                                                <div class="select">
                                                    <select name="campusId" id="format">
                                                        <option id="display" selected></option>
                                                        @for (int i = 0; i < ViewBag.campus.Count; i++)
                                                        {
                                                            CampusViewModel cam = ViewBag.campus[i];
                                                            <option value="@cam.CampusId">@cam.CampusName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 p-0 mt-4">
                                                <label for="" style="background-color: white; color: black; font-weight: bold;">Tên tòa</label>
                                                <input class="effect-2" type="text" placeholder="Tòa nhà" id="txtbd" name="txtbd">
                                                <div class="modal-body">
                                                    <input type="hidden" name="buildingId" id="buildingId" value="" />
                                                </div>
                                                <span class="focus-border"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="col-btn col-12 p-0">
                                        <button class="btn-done text-white">Chỉnh sửa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <!-- <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Launch
                    Modal Contact Form</a> -->
                    <button class="custom-btn2 btn-13" data-toggle="modal" data-target="#modalContactForm">Tạo mới</button>
                </div>
            </div>
            <div class="search-downdown mt-3">
                <div class="search-form">
                    <form action="ViewAllBuilding" method="post" class="formxyz">
                        <p class="inp-wrap cat-wrap">
                            <label for="categories" class="grid-40">Cơ sở</label>
                            <select name="campusId" id="categories" class="grid-60" onchange="this.form.submit()">
                                <option>Chọn cơ sở</option>
                                @for (int i = 0; i < ViewBag.campus.Count; i++)
                                {
                                    CampusViewModel cam = ViewBag.campus[i];
                                    <option value="@cam.CampusId">@cam.CampusName</option>
                                }
                                <option value="-1">Tất cả cơ sở</option>
                            </select>
                        </p>
                    </form>
                </div>
                <div class="table__content mt-4">
                    <div class="list__table">
                        <ul>
                            <li>No</li>
                            <li>Cơ sở</li>
                            <li>Tòa nhà</li>
                            <li style="text-align: center;">Hành động</li>
                        </ul>
                        @for (int i = 0; i < ViewBag.Building.Count; i++)
                        {
                            BuildingViewModel bd = ViewBag.Building[i];
                            <ul>
                                <li data-label="no">@(i + 1)</li>
                                <li data-label="Category Name">@bd.Campus.CampusName</li>
                                <li data-label="Category Name">@bd.BuildingName</li>
                                <li data-label="Action" class="action-btn">
                                    <a data-toggle="modal" data-id="@bd.BuildingId" data-name="@bd.BuildingName" data-cid="@bd.CampusId" data-cname="@bd.Campus.CampusName" data-target="#modalEditForm" class="open-AddBookDialog" href="#addBookDialog"><i class="fa fa-edit"></i></a>
                                    <a href="DeleteBuilding/@bd.BuildingId"><i class="fa fa-trash"></i></a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="~/Scripts/js/hierarchy-select.min.js"></script>

    <script src="~/Scripts/js/main.js"></script>
    <script>
        $(document).on("click", ".open-AddBookDialog", function () {
            var buildingId = $(this).data('id');
            var buildingName = $(this).data('name');
            var campusId = $(this).data('cid');
            var campusName = $(this).data('cname');

            $(".modal-body #txtbd").val(buildingName);
            $(".modal-body #buildingId").val(buildingId);

            $(".modal-body #display").val(campusId);
            $(".modal-body #display").text(campusName);
        });
    </script>
    <script>
        $(".default_option").click(function () {
            $(".dropdown ul").addClass("active");
        });

        $(".dropdown ul li").click(function (e) {
            var text = $(this).text();
            $(".default_option").text(text);
            $(".dropdown ul").removeClass("active"); c


        });
        $(window).on("click", function (event) {

            if ($(event.target).closest(".dropdown ").length === 0) {
                $(".dropdown ul").removeClass("active");
            }
        });

        // CREATE
        $(".default_option1").click(function () {
            $(".dropdown1 ul").addClass("active");
        });

        $(".dropdown1 ul li").click(function (e) {
            var text = $(this).text();
            $(".default_option1").text(text);
            $(".dropdown1 ul").removeClass("active"); c


        });
        $(window).on("click", function (event) {

            if ($(event.target).closest(".dropdown1 ").length === 0) {
                $(".dropdown1 ul").removeClass("active");
            }
        });

        // SIDEBAR
        (function ($) {
            'use strict';

            var fullHeight = function () {
                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });
            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        })(jQuery);
    </script>
</body>