#about-us {
    display: block;
    width: 100%;
    line-height: 1.6em;
}

#about-us #about-intro {
    margin-bottom: 50px;
}

#about-us #about-intro .imgholder {
    padding: 9px;
}

#about-us #about-intro h2 {
    margin-bottom: auto;
}

#about-us #about-intro p {
}

#about-us #about-intro p:first-child {
}

#about-us #about-intro ul {
}

#about-us #about-intro ul li {
    margin-top: 5px;
}

#about-us #about-intro ul li:first-child {
    margin-top: 0;
}

#about-us #client_logos {
    margin-bottom: 50px;
    padding: 40px 0;
    border: solid #CCCCCC;
    border-width: 1px 0;
}

#about-us #client_logos ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#about-us #client_logos ul li {
}

#about-us #client_logos ul li:first-child {
    margin-left: 0;
}

#about-us #client_logos ul li img {
}

#about-us #team {
}

#about-us #team ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#about-us #team ul li {
    margin-bottom: 20px;
}

#about-us #team ul li figure {
}

#about-us #team ul li figure img {
    padding: 9px;
    border: 1px solid #CCCCCC;
    height: 205px;
    width: 205px;
}

#about-us #team ul li figure figcaption {
}

#about-us #team ul li p {
    margin: 15px 0 0 0;
    padding: 0;
}

#about-us #team ul li p:first-child {
}

#about-us #team ul li figure figcaption .team_name {
    font-size: 18px;
    margin: 15px 0 0 0;
    padding: 0;
}

#about-us #team ul li figure figcaption .team_title {
    margin: 0;
    font-size: 11px;
    line-height: normal;
}
