﻿@using capstone.Helpers;
@using capstone.Models;

<!DOCTYPE html>
<html class="position-relative" style="min-height: 100%; min-width: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="YPHDT - FPT University">
    <meta name="description" content="Event management system for FPT University made by FPT students.">
    <meta name="keywords" content="fpt,fpt events,fpt event calendar,fpt student event calendar,fpt university events,fpt university">
    <meta name="robots" content="index">
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    @if (TempData["Meta"] != null)
    {
        MetaModel meta = TempData["Meta"] as MetaModel;
        <meta property="fb:app_id" content="324932534893173" />
        <meta property="og:title" content="@meta.Title" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@meta.Url" />
        <meta property="og:image" content="@meta.Image" />
        <meta property="og:image:secure_url" content="@meta.Image" />
        <meta property="og:image:width" content="1367" />
        <meta property="og:image:height" content="1367" />
        <meta property="og:description" content="@meta.Description" />
        <meta property="og:determiner" content="the" />
        <meta property="og:locale" content="vn_VI" />
        <meta property="og:site_name" content="FPT Student Event Calendar" />
        <meta name="twitter:title" content="@meta.Title" />
        <meta name="twitter:description" content="@meta.Description" />
        <meta name="twitter:image" content="@meta.Image" />
    }
    <title>@ViewBag.Title - FPT Student Event Calendar</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Scripts/css/layout.css" />
</head>
<body style="padding-top: 66px; padding-bottom: 50px;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top header-navbar" style="background-color:white;">
        @Html.ActionLink("FPT ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mr-auto" style="gap:20px">
                @if (Request.IsAuthenticated)
                {
                    <div class="navbar-search">
                        <div class="navbar-search-box">
                            <svg width="24" height="24" fill="none" class="search-icon">
                                <path d="M11 17a6 6 0 100-12 6 6 0 000 12zM18.5 18.5l-3-3" stroke="#2A2D34" stroke-width="2"
                                      stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <input placeholder="Tìm kiếm" value="" class="search-input" />
                        </div>
                        <ul class="navbar-left-ul"></ul>

                    </div>
                    <div class="dropdown-container2 ">
                        <div class="dropdown-toggle2 click-dropdown2">
                            Role: @User.GetCurrentRole()
                        </div>
                        <div class="dropdown-menu2">
                            <ul>
                                @if (User.IsStudent())
                                {
                                    @Html.ActionLink("Student", "Index", "Student", null, new { @class = "dropdown-item" })
                                }
                                @if (User.IsOrganizer())
                                {
                                    @Html.ActionLink("Organizer", "Index", "Organizer", null, new { @class = "dropdown-item" })
                                }
                                @if (User.IsManager())
                                {
                                    @Html.ActionLink("Manager", "Index", "Manager", null, new { @class = "dropdown-item" })
                                }
                                @if (User.IsAdmin())
                                {
                                    @Html.ActionLink("Administrator", "Index", "Admin", null, new { @class = "dropdown-item" })
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <div class="nav-item dropdown m-1" id="Notifications">
                        <a href="#" class="dropdown-toggle btn-create-event" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notificatios <span id="NotificationsNumber"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right overflow-auto">
                            <div class="list-group list-group-flush" id="NotificationList">
                                <div class="list-group-item list-group-item-action p-2" id="NotificationsMore">
                                    <span class="small">See more</span>
                                    <span class="spinner-border spinner-border-sm text-info" role="status" style="display: none;" id="NotificationsLoading">
                                        <span class="sr-only">Loading...</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    using (Ajax.BeginForm("GetNotifications", "Home", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "NotificationsMore", InsertionMode = InsertionMode.ReplaceWith, LoadingElementId = "NotificationsLoading", OnSuccess = "GetNotifications" }, new { @id = "GetNotifications" }))
                    {
                        @Html.Hidden("skip", 0, new { id = "NotificationSkip" })
                        @Html.Hidden("seen", 0, new { id = "NotificationSeen" })
                    }
                    using (Ajax.BeginForm("GetNotificationsNumber", "Home", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "NotificationsNumber", InsertionMode = InsertionMode.ReplaceWith, OnSuccess = "GetNotificationsNumber" }, new { @id = "GetNotificationsNumber" })) { }
                }
                <div class="navbar-nav">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="mt-1">
        @RenderBody()
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="fixed-bottom">
            <div class="alert alert-success alert-dismissible d-inline-block m-2 text-truncate mw-100">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Message"]
            </div>
        </div>
    }
    <footer class="position-absolute text-left w-100 " style="bottom: 0; background-color: #303b46; color:white;">
        <div class="container">
            @*<div class="p-2">Developed by @Html.ActionLink("YPHDT Team", "ViewTeam", "Home") - <a href="http://fpt.edu.vn">FPT University</a></div>*@
            <div class="p-2 mr-3 text-center">
                Trang web này thuộc quản lý đại học FPT
                <img src="https://upload.wikimedia.org/wikipedia/vi/1/1d/Logo_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_FPT.png" alt="Alternate Text" style="height:30px" />
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryunob")
    @if (Request.IsAuthenticated)
    {
        <script>
            $("#GetNotificationsNumber").trigger("submit");
            setInterval(function () {
                $("#GetNotificationsNumber").trigger("submit");
            }, 60000);
            $(document).on("click", "#NotificationsMore", function (e) {
                e.stopPropagation();
                $("#GetNotifications").trigger("submit");
            });
            $('#Notifications').on('shown.bs.dropdown', function () {
                if ($("#NotificationSeen").val() == "0" || $("#NotificationSeen").val() == "false") {
                    $("#NotificationSeen").val(true);
                    $("#GetNotifications").trigger("submit");
                }
            });
            function GetNotifications() {
                $("#NotificationSkip").val($("#NotificationList").children().length - 1);
                $("#GetNotificationsNumber").trigger("submit");
            }
            function GetNotificationsNumber() {
                if ($("#NotificationsNumber").text() != "") {
                    $("#NotificationSkip").val(0);
                    $("#NotificationSeen").val(false);
                    $("#NotificationList").html('<div class="list-group-item list-group-item-action p-2" id="NotificationsMore"><span class="small">See more</span> <span class="spinner-border spinner-border-sm text-info" role="status" style="display: none;" id="NotificationsLoading"><span class="sr-only">Loading...</span></span></div>');
                }
            }


            // Get all the dropdown from document
            document.querySelectorAll('.dropdown-toggle2').forEach(dropDownFunc);

            // Dropdown Open and Close function
            function dropDownFunc(dropDown) {
                console.log(dropDown.classList.contains('click-dropdown2'));

                if (dropDown.classList.contains('click-dropdown2') === true) {
                    dropDown.addEventListener('click', function (e) {
                        e.preventDefault();

                        if (this.nextElementSibling.classList.contains('dropdown-active') === true) {
                            // Close the clicked dropdown
                            this.parentElement.classList.remove('dropdown-open2');
                            this.nextElementSibling.classList.remove('dropdown-active');

                        } else {
                            // Close the opend dropdown
                            closeDropdown();

                            // add the open and active class(Opening the DropDown)
                            this.parentElement.classList.add('dropdown-open2');
                            this.nextElementSibling.classList.add('dropdown-active');
                        }
                    });
                }

                if (dropDown.classList.contains('hover-dropdown') === true) {

                    dropDown.onmouseover = dropDown.onmouseout = dropdownHover;

                    function dropdownHover(e) {
                        if (e.type == 'mouseover') {
                            // Close the opend dropdown
                            closeDropdown();

                            // add the open and active class(Opening the DropDown)
                            this.parentElement.classList.add('dropdown-open2');
                            this.nextElementSibling.classList.add('dropdown-active');

                        }

                    }
                }

            };


            // Listen to the doc click
            window.addEventListener('click', function (e) {

                // Close the menu if click happen outside menu
                if (e.target.closest('.dropdown-container2') === null) {
                    // Close the opend dropdown
                    closeDropdown();
                }
            });


            // Close the openend Dropdowns
            function closeDropdown() {
                console.log('run');

                // remove the open and active class from other opened Dropdown (Closing the opend DropDown)
                document.querySelectorAll('.dropdown-container2').forEach(function (container) {
                    container.classList.remove('dropdown-open2')
                });

                document.querySelectorAll('.dropdown-menu2').forEach(function (menu) {
                    menu.classList.remove('dropdown-active');
                });
            }

            // close the dropdown on mouse out from the dropdown list
            document.querySelectorAll('.dropdown-menu2').forEach(function (dropDownList) {
                // close the dropdown after user leave the list
                dropDownList.onmouseleave = closeDropdown;
            });
        </script>
    }
</body>
</html>
