﻿@using capstone.Helpers;
@using capstone.Models;
@using Microsoft.Owin.Security;

@if (Request.IsAuthenticated)
{
    <div class="nav-item m-1 mr-2">

        <div class="navbar-name">
            <div class="navbar-name-box">
                <img src="https://static.ticketbox.vn/avatar.png" alt="Avatar" class="navbar-name-img" />
                @Html.ActionLink(User.GetUser().UserProfile.FirstName, "ManageProfile", "Home", null, new { @class = "" })
            </div>
        </div>
    </div>
    using (Html.BeginForm("Logout", "Authentication", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="nav-item m-1 mr-2">
            <div>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-block">Logout</a>
            </div>
        </div>
    }
}
@if (Session["fbToken"] != null && !Request.Url.AbsoluteUri.Contains("Authentication"))
{
    var fbUser = (FacebookModel)Session["fbUSer"];
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Authentication"))
    {
        @Html.AntiForgeryToken()
        var provider = loginProviders.First();
        <button type="submit" id="@provider.AuthenticationType" name="provider" class="btn btn-danger mr-2" value="@provider.AuthenticationType">
            <i class="fa fa-google"></i> Login
        </button>
    };
    using (Html.BeginForm("FbLogout", "Authentication", FormMethod.Post, new { id = "logoutFormFb", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right rounded">
            <li>
                <div class="btn" style="background-color: rgb(71,103,177); color: white"><img src="@fbUser.Picture" class="rounded-circle" height="20" /> @fbUser.Name</div>
            </li>
            <li>
                <button type="button" class="btn btn-danger" onclick="document.getElementById('logoutFormFb').submit()">Logout</button>
            </li>
        </ul>
    };
}