﻿@using capstone.Helpers;

@model object

@if (ViewBag.Pages.Max > 1 && ViewBag.Pages.Current >= 1 && ViewBag.Pages.Current <= ViewBag.Pages.Max) {
    <nav aria-label="Pages">
        <ul class="pagination justify-content-end">
            <li class="page-item@(ViewBag.Pages.Current == 1 ? " active" : string.Empty)">
                @Html.ActionLink("1", ViewBag.Pages.Action as string, PagesHelper.GetPage(1, Model), new Dictionary<string, object>() { { "class", "page-link" } })
            </li>
            @if (ViewBag.Pages.Current - 4 >= 1) {
                <li class="page-item">
                    <div class="page-link">...</div>
                </li>
            }
            @for (int i = Math.Max(ViewBag.Pages.Current - 2, 2); i <= Math.Min(ViewBag.Pages.Current + 2, ViewBag.Pages.Max - 1); i++) {
                <li class="page-item@(i == ViewBag.Pages.Current ? " active" : string.Empty)">
                    @Html.ActionLink(i.ToString(), ViewBag.Pages.Action as string, PagesHelper.GetPage(i, Model), new Dictionary<string, object>() { { "class", "page-link" } })
                </li>
            }
            @if (ViewBag.Pages.Current + 4 <= ViewBag.Pages.Max) {
                <li class="page-item">
                    <div class="page-link">...</div>
                </li>
            }
            <li class="page-item@(ViewBag.Pages.Current == ViewBag.Pages.Max ? " active" : string.Empty)">
                @Html.ActionLink(((int)ViewBag.Pages.Max).ToString(), ViewBag.Pages.Action as string, PagesHelper.GetPage((int)ViewBag.Pages.Max, Model), new Dictionary<string, object>() { { "class", "page-link" } })
            </li>
        </ul>
    </nav>
}
