﻿@{
    ViewBag.Title = "Unauthorized";
}

<div class="container">
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <div class="lead mb-2">You are not authorized to view this page</div>
    <a href="javascript:history.go(-1)" class="btn btn-outline-primary">Go back</a>
    <a href="/" class="btn btn-primary">Home</a>
</div>
