
/* SIDEBAR */


ul.list-ctrl li {
  margin-bottom: 1px;
  /* position: relative; */
  margin: 0 auto;
}
ul.list-ctrl li a {
  display: block;
  padding: 1em 1rem 1.5em 1em;
}

.lk-your-profile-legal span {
  font-size: 20px;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
ul.list-ctrl li.active,
ul.list-ctrl li:hover {
  background: #dadada;
  transition: all 0.2s ease-in-out 0s;
  color: black;
}

li:hover a {
  color: #262f38 !important;
}
.content {
  margin-left: 5%;
  /* margin-top: 20px; */
  line-height: 1.8rem;
  width:100%;
}
.content .container {
  padding-top: 100px;
}
.title-form {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

/* CHOOSE BANNER */
.image-preview-container {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 20px;
}

.image-preview-container img {
  width: 100%;
  display: none;
  margin-bottom: 30px;
}
.image-preview-container input {
  display: none;
}

.image-preview-container label {
  display: block;
  width: 100%;
  height: 45px;
  /* margin-left: 25%; */
  text-align: center;
  background: #8cc275;
  color: #fff;
  font-size: 15px;
  text-transform: Uppercase;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BLOCK */
.block-info {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 30px 15px;
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.block-info2 {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 30px 15px;
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #ffffff;
}

.block-info .row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}
.block-info label {
  display: block;
}
.block-info-left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.block-left-1 i {
  font-size: 28px;
  transform: translateY(4px);
}
.block-info-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
.block-tv-bot {
  display: flex;
}
.block-bot-left {
  display: flex;
  gap: 10px;
}
.block-bot-right {
  display: flex;
  gap: 10px;
}

/* INPUT */
/* input[type='text'],
input[type='date'],
input[type='time'] {
  background: #eaeff1;
  border: none;
  border-bottom: 4px solid #c9d6da;
  display: block;
  margin-bottom: 0.625em;
  margin-top: 0.3em;
  outline-offset: 3px;
  padding: 0.45em 0.45em 0.45em 0.65em;
  width: 255px;
  outline: none;
} */
input {
  background: #eaeff1;
  border: none;
  border-bottom: 4px solid #c9d6da;
  display: block;
  margin-bottom: 0.625em;
  margin-top: 0.3em;
  outline-offset: 3px;
  padding: 0.45em 0.45em 0.45em 0.65em;
  width: 255px;
  outline: none;
}
.btn-form-res {
  display: block;
  padding: 3px 30px;
  text-align: center;
  background: #8cc275;
  color: #fff;
  font-size: 15px;
  text-transform: Uppercase;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
.block-left-1 p {
  font-size: 16px;
}

/* CHECKBOX */

.legal-dropdown p {
  display: inline-block;
  font-size: 20px;
}
.btn-submit {
  margin-left: 37%;
}


/* SELECT OPTION  */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #eaeff1;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 1.7em;
  line-height: 1.7;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25em;
}
.block-tv-top .select {
  line-height: 2.5;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #b5b9b9;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
/* END SELECT */

/* BUTTON */
.custom-btn {
  padding: 30px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-btn2 {
  padding: 30px;
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  line-height: 0.2;
}

/* 1 */
.btn-1 {
  background: rgb(6, 14, 131);
  background: linear-gradient(
    0deg,
    rgba(6, 14, 131, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
  border: none;
  margin-right: 10px;
}
.btn-1:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}
.btn-x {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  margin-right: 10px;
}
.btn-x:hover {
  background: rgb(57, 145, 64);
  background: linear-gradient(0deg, rgb(64, 158, 69) 0%, rgb(19, 141, 60) 100%);
}

/* 15 */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
  margin-left: 10px;
}
.btn-15:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
.block-info .select::after {
  padding-top: 7px;
  padding-bottom: 7px;
}
input[type='checkbox'] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-family: 'Arial';
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  content: '\2714';
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding-left: 0.1em;
  padding-bottom: 0.3em;
  margin-right: 0.6em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
  line-height: 1;
}

input[type='checkbox'] + label:active:before {
  transform: scale(0);
}

input[type='checkbox']:checked + label:before {
  background-color: rgb(45, 194, 117);
  border-color: rgb(45, 194, 117);
  color: #fff;
}

input[type='checkbox']:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type='checkbox']:checked:disabled + label:before {
  transform: scale(1);
  background-color: #f7c28f;
  border-color: #f7c28f;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .block-info-left,
  .block-info-right {
    justify-content: space-around;
    margin: 30px 0;
  }
  .block-info-legal {
    /* justify-content: space-around; */
    width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {

  .image-preview-container {
    width: 65%;
  }
  .btn-15 {
    margin-top: 5px;
    margin-left: 0 !important;
  }
  .btn-submit {
    /* margin-left: 37%; */
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .block-info {
    display: flex;
    flex-direction: column-reverse;
  }
  .block-info-left,
  .block-info-right {
    flex-direction: column;
  }
  .input-hidden {
    display: none !important;
  }
  input {
    width: 100%;
  }
  .block-info-left {
    flex-direction: column-reverse;
  }

  .content .container {
    /* padding-top: 5%; */
    margin-left: 0 important;
  }
  .content {
    margin: 0;
  }
 
  .block-left-2 {
    display: none;
  }
}



@media only screen and (max-width: 1200px) {
  .block-info {
    display: block;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .block-info-left,
  .block-info-right {
    flex-direction: column !important;
  }
  .block-info {
    width: 100%;
  }
  .input-hidden {
    display: none !important;
  }
}
/* START SIDEBAR */
.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #303b46;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

    #sidebar .h6 {
        color: #fff;
    }

    #sidebar.active {
        margin-left: -270px;
    }

        #sidebar.active .custom-menu {
            margin-right: -50px;
        }

    #sidebar h1 {
        margin-bottom: 20px;
        font-weight: 700;
    }

        #sidebar h1 .logo {
            color: #fff;
        }

    #sidebar ul.components {
        padding: 0;
    }

    #sidebar ul li {
        font-size: 20px;
    }

        #sidebar ul li > ul {
            margin-left: 10px;
        }

            #sidebar ul li > ul li {
                font-size: 14px;
            }

        #sidebar ul li a {
            padding: 10px 0;
            display: block;
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

            #sidebar ul li a:hover {
                color: #fff;
            }

        #sidebar ul li.active > a {
            background: transparent;
            color: #fff;
        }

@media (min-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }

        #sidebar.active {
            margin-left: 0;
        }

        #sidebar .custom-menu {
            margin-right: -60px !important;
            top: 10px !important;
        }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

    #sidebar .custom-menu .btn.btn-primary {
        background: #303b46;
        border-color: #303b46;
    }

        #sidebar .custom-menu .btn.btn-primary:hover,
        #sidebar .custom-menu .btn.btn-primary:focus {
            background: #303b46 !important;
            border-color: #303b46 !important;
        }

a[data-toggle='collapse'] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}
/* END SIDEBAR */