/* START SIDEBAR */
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #2b3e51;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
#sidebar .h6 {
  color: #fff;
}
#sidebar.active {
  margin-left: -270px;
}
#sidebar.active .custom-menu {
  margin-right: -50px;
}
#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
}
#sidebar h1 .logo {
  color: #fff;
}
#sidebar ul.components {
  padding: 0;
}
#sidebar ul li {
  font-size: 16px;
}
#sidebar ul li > ul {
  margin-left: 10px;
}
#sidebar ul li > ul li {
  font-size: 14px;
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a:hover {
  color: #fff;
}
#sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}
/* @media (max-width: 991.98px) {
  #sidebar {
    margin-left: -270px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar .custom-menu {
    margin-right: -60px !important;
    top: 10px !important;
  }
} */
@media (min-width: 768px) {
  #sidebar {
    margin-left: -270px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar .custom-menu {
    margin-right: -60px !important;
    top: 10px !important;
  }
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#sidebar .custom-menu .btn.btn-primary {
  background: #393c7f;
  border-color: #393c7f;
}
#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
  background: #393c7f !important;
  border-color: #393c7f !important;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* END SIDEBAR */

.content {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  line-height: 1.8rem;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
}

#Notifications .dropdown-toggle::after {
  display: none;
}

.header-navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  /*height: 76px;*/
  background-color: rgb(255, 255, 255);
  /* border-bottom: 2px solid rgb(230, 235, 245); */
  padding-left: 32px;
  padding-right: 32px;
}

.navbar-left {
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.navbar-left a {
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.logo-img {
  height: 44px;
  overflow: clip;
  margin-right: 32px;
}

.navbar-search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 70%;
}

.navbar-search-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.navbar-search-box .search-icon {
  position: absolute;
  left: 8px;
}

.navbar-left-ul {
  background: rgb(255, 255, 255);
  box-shadow: rgb(42 45 52 / 20%) 0px 4px 20px;
  border-radius: 8px;
  position: absolute;
  top: 52px;
  z-index: 2;
  display: none;
}

.navbar-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0px;
  justify-content: center;
}

.btn-create-event:hover {
  text-decoration: none;
}

.navbar-name {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 72px;
}

.navbar-name-box {
  background-color: rgb(245, 247, 252);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-name-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
}

/* HÙNG */
.dropdown-container2 {
  position: relative;
  width: 80%;
}

.dropdown-container2 .dropdown-toggle2 {
  color: rgb(45, 194, 117);
  background-color: #fff;
  font-size: 17px;
  padding: 10px 13px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.dropdown-container2 .dropdown-toggle2 label {
  cursor: pointer;
  width: 100%;
}

.dropdown-container2 .dropdown-toggle2:hover,
.dropdown-container2 .dropdown-toggle2:active,
.dropdown-container2 .dropdown-toggle2:focus {
  background-color: #0979ce;
  color: #fff;
}

.dropdown-container2 .dropdown-menu2 {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  margin-top: 17px;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  background-color: #fff;
  z-index: 10;
  padding: 0;
}

.dropdown-container2 .dropdown-menu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  z-index: 10;
}

.dropdown-container2 .dropdown-menu2 a {
  text-decoration: none;
  display: block;
  color: #000;
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 600;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s;
}

.dropdown-container2 .dropdown-menu2 a:hover,
.dropdown-container2 .dropdown-menu2 a:active,
.dropdown-container2 .dropdown-menu2 a:focus {
  background-color: #0979ce;
  color: #fff;
}

.dropdown-menu2,
.dropdown-toggle2 {
  position: relative;
}

.dropdown-menu2::before,
.dropdown-toggle2::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border: 5px solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  margin-top: -2.5px;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
}

.dropdown-menu2 {
  z-index: 10;
  position: relative;
}

.dropdown-menu2::before {
  z-index: -1;
  transform: rotate(-135deg);
  top: -4px;
  border-color: #000;
  box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
}

.dropdown-open2 .dropdown-menu2.dropdown-active {
  display: block;
}

.dropdown-container2.dropdown-open2 .dropdown-toggle2 {
  background-color: #0979ce;
  color: #fff;
}

.dropdown-container2.dropdown-open2 .dropdown-toggle2:before {
  transform: rotate(-135deg);
}

.dropdown-toggle2::after {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navbar-search,
  .dropdown-container2 {
    width: 100%;
  }
  .navbar-right {
    justify-content: space-between;
    width: 100%;
  }
  .navbar-right .navbar-nav {
    flex-direction: row;
  }
  .content {
    width: 80%;
  }
}
/*= input focus effects css
=========================== */
:focus {
  outline: none;
}

/* necessary to give position: relative to parent. */
input[type='text'] {
  font: 15px/24px 'Lato', Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-2 {
  border: 0;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}
.btn-done {
  padding: 20px 10px;
}

.effect-2 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}
.effect-2:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.btn-done {
  margin-top: 50px;
  width: 100%;
  background-color: #23b499;
}

/** Custom Select **/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container__title {
  width: 100%;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}
.select-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select-dropdown:last-child {
  margin-right: 0px;
}
.select-dropdown__button {
  padding: 20px 10px;
  background-color: #fff;
  color: #616161;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.select-dropdown__button:focus {
  outline: none;
}
.select-dropdown__button .fa-chevron-down {
  position: absolute;
  right: 10px;
  top: 20px;
}
.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #cecece;
  border-top: 0px solid transparent;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1, 0);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}
.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}
.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: #616161;
  text-align: left;
  transition: all ease-in-out 0.3s;
}
.select-dropdown__list-item:hover {
  background-color: #1fc69d;
  color: #fff;
  transition: all ease-in-out 0.3s;
}
.profile__info label {
  font-size: 1.2rem;
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}
input[type='checkbox'] + label {
  display: block;
  margin: 0.5em 0;
  cursor: pointer;
  font-family: 'Arial';
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  content: '\2714';
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding-left: 0.1em;
  padding-bottom: 0.3em;
  margin-right: 0.6em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
  line-height: 1;
}

input[type='checkbox'] + label:active:before {
  transform: scale(0);
}

input[type='checkbox']:checked + label:before {
  background-color: rgb(45, 194, 117);
  border-color: rgb(45, 194, 117);
  color: #fff;
}

input[type='checkbox']:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type='checkbox']:checked:disabled + label:before {
  transform: scale(1);
  background-color: #f7c28f;
  border-color: #f7c28f;
}
