/* CSS */
.header {
  position: fixed;
  background-color: #484848;
  padding-bottom: 0;
  padding: 10px 20px;
  border: 0;
  border-color: transparent;
  background: #262f38;
  border-radius: 0;
  min-height: 43px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.header__left--logo {
  width: 50px;
}
.header__right--user img {
  width: 50px;
}
.header__right--user {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
}
.header__left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 30px;
}

.header__right {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 30px;
  justify-content: flex-end;
}
.header__right--user span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 7px;
}
.header__right--user i {
  color: white;
}

/* SIDEBAR */
.sidebar {
  float: left;
  width: 20%;
  position: fixed;
  height: 100%;
  background: #303b46;
  color: #e9edf0;
  font-family: 'Roboto Slab', Serif, Arial;
  background-size: cover;
  padding-top: 63px;
}

ul.list-ctrl li {
  margin-bottom: 1px;
  /* position: relative; */
  margin: 0 auto;
}
ul.list-ctrl li a {
  display: block;
  padding: 1em 1rem 1.5em 1em;
}
.sidebar a {
  color: #e9edf0;
}
.lk-your-profile-legal span {
  font-size: 20px;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
ul.list-ctrl li.active,
ul.list-ctrl li:hover {
  background: #dadada;
  transition: all 0.2s ease-in-out 0s;
  color: black;
}

li:hover a {
  color: #262f38 !important;
}
.content {
  margin-left: 20%;
  margin-top: 80px;
  line-height: 1.8rem;
  padding: 30px;
}

.title-form {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 0 20px;
}
.title-text {
  margin: 0 20px;
}
/* END SIDEBAR */

/* SELECT OPTION  */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #eaeff1;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 2.2em;
  line-height: 2.2;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #b5b9b9;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
/* END SELECT */

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header__left,
  .header__right {
    width: 100%;
  }

  .btn-15 {
    margin-top: 5px;
    margin-left: 0 !important;
  }

  .sidebar {
    width: 100%;
    position: unset;
  }
  .sidebar .nav-bar {
    padding-top: calc(70px);
    margin: 0 auto;
    text-align: center;
  }
  .content {
    margin-left: 0;
    margin-top: 10px;
  }
}

/*SEARCH*/
.search-event {
  margin: 30px 0;
}
.input-box {
  position: relative;
  height: 76px;
  background: #fff;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

/* LIST TABLE */

.list__table {
  width: 100%;
  padding-right: 20px;
}

.list__table ul:nth-child(odd) {
  background-color: #ddd;
}

.list__table ul:nth-child(even) {
  background-color: #fff;
}

/* big */
@media screen and (min-width: 600px) {
  .list__table {
    display: table;
    margin: 1em;
  }

  .list__table ul {
    display: table-row;
  }

  .list__table ul:first-child li {
    background-color: #444;
    color: #fff;
  }

  .list__table ul > li {
    display: table-cell;
    padding: 0.5em 1em;
  }
}

/* small */
@media screen and (max-width: 599px) {
  .list__table ul {
    border: solid 1px #ccc;
    display: block;
    list-style: none;
    margin: 1em;
    padding: 0.5em 1em;
  }

  .list__table ul:first-child {
    display: none;
  }

  .list__table ul > li {
    display: block;
    padding: 0.25em 0;
  }

  .list__table ul:nth-child(odd) > li + li {
    border-top: solid 1px #ccc;
  }

  .list__table ul:nth-child(even) > li + li {
    border-top: solid 1px #eee;
  }

  .list__table ul > li:before {
    color: #000;
    content: attr(data-label);
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: top;
    width: 50%;
  }

  .list__table p {
    margin: -1em 0 0 50%;
  }
  .list__table {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 349px) {
  .list__table ul > li:before {
    display: block;
  }

  .list__table p {
    margin: 0;
  }
}

/* END LIST TABLE */
/* BUTTON */
.btn-danger {
  background: #e74c3c;
  color: #ffffff;
}

.btn-danger:hover {
  background: #c0392b;
  color: #ffffff;
}

.btn-warning {
  background: #f1c40f;
  color: #ffffff;
}

.btn-warning:hover {
  background: #f39c12;
  color: #ffffff;
}
.btn-status {
  padding: 0.374rem 0.75rem;
  border-radius: 0.25rem;
}
/* END SEARCH */

/* START PAGINATION */
.pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.pagination ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}
.pagination li {
  display: inline;
  margin: 0;
  padding: 0;
}
.pagination li a {
  border: 1px solid #c9c9c9;
  color: #242424;
  text-decoration: none;
  display: inline-block;
  transition: all 0.8s ease 0s;
  height: 40px;
  line-height: 40px;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
  width: 40px;
  margin-top: 10px;
}
.pagination li a:hover {
  background-color: #4caf50;
  color: white;
}
.pagination li a.active {
  background-color: #4caf50;
  color: white;
}

/* END PAGINATION */

@media screen and (max-width: 992px) {
  .sidebar {
    padding-top: 7%;
  }
}
@media screen and (min-width: 993px) {
  .btn-status {
    width: 100px;
  }
}

/* OTHER */

/* declare a 7 column grid on the table */
#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#calendar tr,
#calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
  color: #8e352e;
  text-decoration: none;
}

#calendar td,
#calendar th {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

#calendar .weekdays {
  background: #8e352e;
}

#calendar .weekdays th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

#calendar td {
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
  background: #d3d3d3;
}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  background: #333;
  color: #fff;
  width: 20px;
  border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

/* ============================
				Mobile Responsiveness
   ============================*/

@media (max-width: 768px) {
  #calendar .weekdays,
  #calendar .other-month {
    display: none;
  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  #calendar,
  #calendar tr,
  #calendar tbody {
    grid-template-columns: 1fr;
  }

  #calendar tr {
    grid-column: 1 / 2;
  }

  #calendar .date {
    align-self: flex-start;
  }
}
