body {
    background-color: #f1f1f1;
}

.menu-detail {
    width: 100%;
    display: flex;
    padding: 5px 0;
    border: 0;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0;
    min-height: 43px;
    /* position: absolute; */
    width: 100%;
}

    .menu-detail a:focus,
    .menu-detail a:visited {
        text-decoration: none;
    }

.menu-logo {
    width: 43px;
    margin-left: 15px;
    padding-left: 0;
    padding: 5px;
    overflow: hidden;
    height: 42px;
    color: #777;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.logo-img {
    display: inline-block;
    height: 33px;
}

/* START CALENDER */
.event-info-calender {
    width: 120px;
    z-index: 7;
    /* position: relative; */
    border-radius: 2px;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
}

    .event-info-calender p {
        margin-bottom: 0;
    }

    .event-info-calender .month {
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        font-size: 12px;
        background-color: #eb1212;
        padding: 5px 0;
    }

    .event-info-calender .date {
        font-size: 42px;
        font-weight: 400;
        color: #666;
        margin-bottom: 0;
    }

    .event-info-calender .day {
        margin-bottom: 5px;
        color: #666;
        font-size: 12px;
        font-weight: 400;
    }

.banner .event-name-content h1 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
}

.event-name-detail2 {
    text-align: left;
}

.text-indent {
    padding-left: 2em;
    text-indent: -1.5em;
    margin-bottom: 0;
    font-size: 16px;
    color: #333;
    font-weight: 70;
}

.ello-clock,
.ello-location {
    /* font-family: fontello; */
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
}

    .ello-clock::before {
        content: ' » ';
        /* font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; */
    }

    .ello-location::before {
        content: ' » ';
    }

.text-indent {
    padding-left: 2em;
    text-indent: -1.5em;
    margin-bottom: 0;
}

.note {
    padding-left: 1.3em;
}

.banner .btn-gr {
    margin: 20px auto 15px;
    display: inline-block;
}

.banner-event-name {
    display: flex;
}
/* END CALENDER */

/* BANNER */
.banner {
    background-color: white;
    margin-top: 76px;
}

.cover-photo {
    width: 100%;
    height: calc(100vw * 0.38);
    background-image: url('../assets/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    /* position: relative; */
}

.banner-container {
    margin-right: auto;
    margin-left: auto;
}

    .banner-container .row {
        margin-bottom: 0;
        margin-top: 30px;
    }

        .banner-container .row::before {
            display: table;
            content: ' ';
        }

/* END CONTAINER */
.event-info {
}

.event-info-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.event-info-right {
    text-align: center;
    margin-left: auto;
}

.btn-booking {
    background-color: #eb1212;
    border: solid 1px #d0021b;
    color: #fff;
    display: block;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
}

.banner i {
    margin-right: 3px;
}

.btn-first {
    border: 1px solid #ccc;
    padding: 1px 40px;
}

.share-btn,
.wr-btn {
    border: 1px solid #ccc;
    padding: 10px 0;
    font-size: 13px;
}

.qtam {
    color: #969696;
}

/* START CONTENT */
.mainContainer {
    /* background-color: #fff; */
    padding-top: 30px;
    position: relative;
}

.mainContent-left {
    background-color: #fff;
}

.mainContent-right {
    /* background-color: #fff; */
    margin-left: auto;
    padding: 0 !important;
    padding-left: 15px !important;
}

.hold {
    position: sticky;
    top: 10vh;
}

.mainContainer .title {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    padding: 20px;
    border-bottom: solid 1px #ccc;
}

.ev-txt {
    display: inline-block;
}

.s1,
.s2 {
    padding: 10px 15px;
}

.mainContent-booking {
    text-align: center;
}

/* END CONTENT */

/* FOOTER */
footer {
    color: #999;
    font-size: 12px;
    background-color: #303747;
    padding: 30px 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.event-name-content {
    width: 100%;
}

.btn-count {
    padding: 0;
}

@media only screen and (max-width: 575px) {
    .event-info-left {
        flex-direction: column;
    }

    .event-name-detail .title {
        text-align: left;
    }

    .btn-count {
        justify-content: center;
    }

    .share-btn,
    .wr-btn {
        width: 100%;
    }

    .header-navbar {
        flex-direction: column;
        height: 115px;
    }

    .navbar-right,
    .navbar-left {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .mainContent-right {
        display: none;
    }

    .mainContainer {
        padding: 30px;
    }

    .banner-container {
        padding: 30px;
    }

    .mainContainer img {
        width: 100% !important;
        height: auto !important;
    }

    .footer,
    .footer-left,
    .footer-right {
        flex-direction: column !important;
    }

    .footer-right {
        width: 75% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dis-none {
        display: none;
    }
}
/* RESPONSIVE */
@media only screen and (min-width: 576px) {
    .banner {
        border-bottom-color: transparent;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        padding-bottom: 50px;
        margin-bottom: auto;
        border-bottom: none;
        border-top: none;
    }

    .banner-container {
        width: 750px;
    }

    .calendar-image {
        float: left;
    }

    .event-name-detail {
        width: 100%;
        float: left;
        text-align: left;
    }

    .event-name-detail2 {
        width: 100%;
    }

    .event-time {
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn-gr {
        margin-top: 0;
    }

    .mainContainer .container section {
        margin-top: 20px;
        border-radius: 2px;
        background-color: #fff;
    }

    .panel-group > div:first-child {
        border-top: none;
    }

    .elist-container-se {
        min-height: 300px;
    }

    .col-sm-6-se {
        width: 50%;
    }

    .event-title a {
        font-size: 16px;
        display: inline-block;
        overflow: hidden;
    }

    .event-date {
        width: 67px;
    }

    .mainContainer {
        width: 750px;
        margin: 0 auto;
    }
    /* .content-32 {
    width: 32%;
  } */
    /* .mainContent-left {
    width: 100%;
  } */
}

@media only screen and (min-width: 992px) {
    .banner-container {
        width: 970px;
    }

    .mainContainer {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .mainContainer {
        width: 1170px;
        margin: 0 auto;
    }

    .banner-container {
        width: 1175px;
    }

    .mainContent-right,
    .event-info-right {
        padding-left: 3% !important;
    }

    .container-1170 {
        /* width: 1170px; */
    }
}

.content-video {
    margin: 50px 0;
    background-color: #303747;
    height: 300px;
    width: 100%;
}
