.menu-detail {
    width: 100%;
    display: flex;
    padding: 5px 0;
    border: 0;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0;
    min-height: 43px;
    /* position: absolute; */
    width: 100%;
}

    .menu-detail a:focus,
    .menu-detail a:visited {
        text-decoration: none;
    }

.menu-logo {
    width: 43px;
    margin-left: 15px;
    padding-left: 0;
    padding: 5px;
    overflow: hidden;
    height: 42px;
    color: #777;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.logo-img {
    display: inline-block;
    width: 33px;
    height: 33px;
}

/* BANNER */
.banner {
    background-color: white;
    margin-top: 76px;
}

.cover-photo {
    width: 100%;
    height: calc(100vw * 0.38);
    background-image: url('../assets/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    /* position: relative; */
}

.banner-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

    .banner-container::before,
    .mainContainer .container::before,
    .mainContainer .intro .row::before .row::before,
    .container-se:after,
    .container-se:before,
    .row-se:after,
    .row-se:before {
        display: table;
        content: ' ';
    }

    .banner-container .row {
        margin-bottom: 0;
        margin-top: 30px;
        margin-right: -15px;
        margin-left: -15px;
    }

        .banner-container .row::before {
            display: table;
            content: ' ';
        }

.event-info-name {
    text-align: center;
}

.calendar-image {
    width: 85px;
    z-index: 7;
    /* position: relative; */
    border-radius: 2px;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
}

    .calendar-image p {
        margin-bottom: 0;
    }

    .calendar-image .month {
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        font-size: 12px;
        background-color: #eb1212;
        padding: 5px 0;
    }

    .calendar-image .date {
        font-size: 42px;
        font-weight: 400;
        color: #666;
        margin-bottom: 0;
    }

    .calendar-image .day {
        margin-bottom: 5px;
        color: #666;
        font-size: 12px;
        font-weight: 400;
    }

.banner .event-name-content h1 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
}

.event-name-detail2 {
    text-align: left;
}

.text-indent {
    padding-left: 2em;
    text-indent: -1.5em;
    margin-bottom: 0;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.ello-clock,
.ello-location {
    /* font-family: fontello; */
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
}

    .ello-clock::before {
        content: ' » ';
        /* font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; */
    }

    .ello-location::before {
        content: ' » ';
    }

.text-indent {
    padding-left: 2em;
    text-indent: -1.5em;
    margin-bottom: 0;
}

.note {
    padding-left: 1.3em;
}

.banner .btn-gr {
    margin: 20px auto 15px;
    display: inline-block;
}

.banner-event-name {
    display: flex;
}

.btn-booking {
    background-color: #eb1212;
    border: solid 1px #d0021b;
    color: #fff;
    display: block;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
}

.banner i {
    margin-right: 3px;
}

.btn-first {
    border: 1px solid #ccc;
    padding: 1px 40px;
}

.btn-count {
}

.share-btn,
.wr-btn {
    border: 1px solid #ccc;
    padding: 3px 0;
    font-size: 13px;
}

.qtam {
    color: #969696;
}

.mainContainer .container {
    margin-right: auto;
    margin-left: auto;
    /* height: 50vh; */
    width: 100%;
    margin-top: 20px;
}

    .mainContainer .container section {
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
    }

.mainContainer .intro .row {
    margin-right: -15px;
    margin-left: -15px;
}

.mainContainer .intro .title {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    padding: 20px;
    border-bottom: solid 1px #ccc;
}

.mainContainer .intro .detail-box {
    max-height: none;
    height: auto;
}

.mainContainer .intro,
.mainContainer .intro .really-height {
    padding: 20px;
    overflow: hidden;
}

    .mainContainer .intro .really-height img {
        border-style: solid;
        border-width: 0px;
        height: 850px;
        width: 600px;
        max-width: 100%;
        height: auto !important;
    }

.mainContainer .title {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    padding: 20px;
    border-bottom: solid 1px #ccc;
}

.panel-group .panel {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default > .panel-heading {
    background-color: #fff;
    margin-bottom: 0.5px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.container-se {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-similar-event {
    font-size: 16px;
    margin-top: 16px;
}

.row-se {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
}

.col-md-4-se,
.col-sm-6-se {
    /* position: relative; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row-se .item-recommend .card {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.card {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
    border-radius: 2px;
    margin: 20px 0;
}

.card-cover {
    border-radius: 2px 2px 0 0;
    width: 100%;
    padding-top: 38%;
    background-image: url('https://images.tkbcdn.com/1/780/300/Upload/eventcover/2022/12/24/B4A8E5.jpg?w=360&maxheight=137&mode=crop&anchor=topcenter');
    background-repeat: no-repeat;
    /* background-position: left center; */
    background-size: 100% auto;
    border-bottom: 1px solid #eee;
}

.row-se .item-recommend .card .card-body {
    height: 100%;
}

    .row-se .item-recommend .card .card-body .thumbnail-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.elist-container-se .event-title a {
    font-size: 18px;
}

.event-title a {
    white-space: initial;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

.elist-container-se .event-price-se {
    margin-bottom: 5px;
}

    .elist-container-se .event-price-se .price-green {
        color: #2dc275;
    }

.elist-container-se .event-calendar-time {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #64646d;
    white-space: nowrap;
}

.elist-container-se .event-date {
    display: none;
}

.event-date {
    width: 48px;
    text-align: center;
    /* position: absolute; */
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
}

.elist-container-se .date-with-calendar-icon {
    display: flex;
    align-items: center;
}

.event-tags {
    max-width: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.elist-container-se .etags-line.etags-line-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elist-container-se .tag-kinds {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.tag-kinds {
    font-size: 12px;
    color: #666;
}

.tag-kind {
    color: inherit;
    margin-left: 5px;
}

.tag-venue {
    margin-right: 6px;
    font-size: 12px;
    padding: 1.5px 6px;
    color: #666;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 2px;
}

.similarEvent.similarEvent-bottom .seemore-recommend-event {
    margin-bottom: 20px;
    border-radius: 50px;
    border: 0;
    width: 100px;
    padding: 5px;
    background: #4caf50;
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* END CONTAINER */

/* FOOTER */
footer {
    color: #999;
    font-size: 12px;
    background-color: #303747;
    padding: 30px 10px;
}
/* .ft-img {
  width: 10%;
  height: 10%;
} */
.footer img {
    /* width: 100%; */
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

/* START DEMO */

/* RESPONSIVE */
@media only screen and (min-width: 576px) {
    .banner {
        border-bottom-color: transparent;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        padding-bottom: 50px;
        margin-bottom: auto;
        border-bottom: none;
        border-top: none;
    }

    .banner-container {
        width: 750px;
    }

    .calendar-image {
        float: left;
    }

    .event-name-detail {
        width: 100%;
        float: left;
        text-align: left;
    }

    .event-name-detail2 {
        width: 100%;
    }

    .event-time {
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .event-name-content {
        margin-left: 120px;
    }

    .btn-gr {
        margin-top: 0;
    }

    .mainContainer .container section {
        margin-top: 20px;
        border-radius: 2px;
        background-color: #fff;
    }

    .panel-group > div:first-child {
        border-top: none;
    }

    .elist-container-se {
        min-height: 300px;
    }

    .col-sm-6-se {
        width: 50%;
    }

    .event-title a {
        font-size: 16px;
        display: inline-block;
        overflow: hidden;
    }

    .event-date {
        width: 67px;
    }

    .mainContainer .container {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .mainContainer .container {
        width: 970px;
    }

    .col-md-4-se {
        width: 33.33333333%;
    }
}

@media only screen and (min-width: 1200px) {
    .mainContainer .container {
        width: 1170px;
    }
}
