.header__navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 76px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(230, 235, 245);
  /* padding-left: 32px;
  padding-right: 32px; */
  padding: 0 32px;
}
.header__left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.header__left a {
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.header__left--logo {
  height: 40px;
  overflow: clip;
  margin-right: 32px;
}
.header__left--search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  gap: 30px;
}

.search-input {
  color: rgb(42, 45, 52);
  background: rgb(245, 247, 252);
  line-height: 24px;
  font-size: 16px;
  height: 44px;
  width: 100%;
  padding: 12px 36px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  caret-color: rgb(45, 194, 117);
  box-shadow: none;
}

.header__right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0px;
}
.header__btn--create {
  background: transparent;
  color: rgb(45, 194, 117);
  border: 1px solid rgb(45, 194, 117);
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  margin: 0px 8px;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 148px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.header__right--user {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 72px;
}
.header__user--box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.header__user--avt {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
}

.header__search--box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 90%;
}
.header__search--box .search-icon {
  position: absolute;
  left: 8px;
}
.search-input {
  color: rgb(42, 45, 52);
  background: rgb(245, 247, 252);
  line-height: 24px;
  font-size: 16px;
  height: 44px;
  width: 100%;
  padding: 0 36px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  caret-color: rgb(45, 194, 117);
  box-shadow: none;
}
/* SELECT OPTION  */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #eaeff1;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.header__select {
  position: relative;
  display: flex;
  width: 15em;
  height: 2.8em;
  line-height: 2.8;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25em;
  width: 80%;
}
.header__select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #b5b9b9;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.header__select:hover::after {
  color: #23b499;
}
/* END SELECT */

@media screen and (max-width: 576px) {
  .header__navbar {
    flex-direction: column;
    height: 130px;
    justify-content: center;
  }
  .header__right {
    width: 100%;
    justify-content: space-around;
  }
  .header__left {
    justify-content: space-around;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header__navbar {
    flex-direction: column;
    height: 130px;
    justify-content: center;
  }
  .header__right {
    width: 100%;
    justify-content: space-around;
  }
  .header__left {
    justify-content: space-around;
  }
}
