.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #484848;
    color: white;
}

    .header .header-logo {
        display: inline-block;
        width: 50px;
    }

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.in-up {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
}

.bw {
    font-size: 0.857em;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding: 0 10px;
}

.sign-in:hover,
.sign-up:hover {
    color: red;
    cursor: pointer;
}

/* SELECT OPTION  */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #eaeff1;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #000;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

    select::-ms-expand {
        display: none;
    }

.select {
    position: relative;
    display: flex;
    width: 15em;
    height: 1.7em;
    line-height: 1.7;
    background: #ffffff;
    overflow: hidden;
    border-radius: 0.25em;
}

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #b5b9b9;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s all ease;
    }

    .select:hover::after {
        color: #23b499;
    }

/* END SELECT */

/* START TICKET */
.ticket-system {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

    .ticket-system .top {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

        .ticket-system .top .title {
            font-weight: normal;
            font-size: 1.6em;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 50px;
            color: #fff;
        }

        .ticket-system .top .printer {
            width: 90%;
            height: 20px;
            border: 5px solid #888;
            border-radius: 10px;
            box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
        }

    .ticket-system .receipts-wrapper {
        overflow: hidden;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .ticket-system .receipts {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateY(-510px);
        animation-duration: 2.5s;
        animation-delay: 500ms;
        animation-name: print;
        animation-fill-mode: forwards;
    }

        .ticket-system .receipts .receipt {
            padding: 25px 30px;
            text-align: left;
            min-height: 200px;
            width: 88%;
            background-color: #fff;
            border-radius: 10px 10px 20px 20px;
            box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
        }

            .ticket-system .receipts .receipt .route {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px 0;
            }

                .ticket-system .receipts .receipt .route .plane-icon {
                    width: 30px;
                    height: 30px;
                    transform: rotate(90deg);
                }

                .ticket-system .receipts .receipt .route h2 {
                    font-weight: 300;
                    font-size: 2.2em;
                    margin: 0;
                }

            .ticket-system .receipts .receipt .details {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

                .ticket-system .receipts .receipt .details .item {
                    display: flex;
                    flex-direction: column;
                    min-width: 70px;
                }

                    .ticket-system .receipts .receipt .details .item span {
                        font-size: 0.8em;
                        color: rgba(28, 28, 28, 0.7);
                        font-weight: 500;
                    }

                    .ticket-system .receipts .receipt .details .item h3 {
                        margin-top: 10px;
                        margin-bottom: 25px;
                    }

            .ticket-system .receipts .receipt.qr-code {
                height: 250px;
                min-height: unset;
                position: relative;
                border-radius: 20px 20px 10px 10px;
                display: flex;
                align-items: center;
            }

.qr-img {
    padding-right: 18%;
    height: 250px;
    min-height: unset;
    position: relative;
    border-radius: 20px 20px 10px 10px;
    display: block;
    align-items: center;
}

.ticket-system .receipts .receipt.qr-code::before {
    content: '';
    background: linear-gradient(to right, #fff 50%, #3f32e5 50%);
    background-size: 22px 4px, 100% 4px;
    height: 4px;
    width: 90%;
    display: block;
    left: 0;
    right: 0;
    top: -1px;
    position: absolute;
    margin: auto;
}

.ticket-system .receipts .receipt.qr-code .qr {
    width: 100%;
    height: 100%;
}

.ticket-system .receipts .receipt.qr-code .description {
    margin-left: 20px;
}

    .ticket-system .receipts .receipt.qr-code .description h2 {
        margin: 0 0 5px 0;
        font-weight: 500;
    }

    .ticket-system .receipts .receipt.qr-code .description p {
        margin: 0;
        font-weight: 400;
    }

@keyframes print {
    0% {
        transform: translateY(-510px);
    }

    35% {
        transform: translateY(-395px);
    }

    70% {
        transform: translateY(-140px);
    }

    100% {
        transform: translateY(0);
    }
}

/* END QR TICKET */

/* FOOTER */
footer {
    color: #ccc;
    font-size: 12px;
    background-color: #303747;
    padding: 30px 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
