﻿

#Notifications .dropdown-toggle::after {
    display: none;
}

.header-navbar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    /*height: 76px;*/
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(230, 235, 245);
    padding-left: 32px;
    padding-right: 32px;
}


.navbar-left {
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

    .navbar-left a {
        text-decoration: none;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

.logo-img {
    height: 44px;
    overflow: clip;
    margin-right: 32px;
}

.navbar-search {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 70%;
}

.navbar-search-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}

    .navbar-search-box .search-icon {
        position: absolute;
        left: 8px;
    }

.search-input {
    color: rgb(42, 45, 52);
    background: rgb(245, 247, 252);
    line-height: 24px;
    font-size: 16px;
    height: 44px;
    width: 100%;
    padding: 12px 36px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    caret-color: rgb(45, 194, 117);
    box-shadow: none;
}

.navbar-left-ul {
    background: rgb(255, 255, 255);
    box-shadow: rgb(42 45 52 / 20%) 0px 4px 20px;
    border-radius: 8px;
    position: absolute;
    top: 52px;
    z-index: 2;
    display: none;
}

.navbar-right {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0px;
    justify-content: center;
}

.btn-create-event {
    background: transparent;
    color: rgb(45, 194, 117);
    border: 1px solid rgb(45, 194, 117);
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    min-width: 88px;
    padding: 0px 24px;
    /*margin: 0px 8px;*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 148px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

    .btn-create-event:hover {
        text-decoration: none
    }

.navbar-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 50px;
}

.navbar-name-box {
    background-color: rgb(245, 247, 252);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-name-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 8px;
}

.navbar-language {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 72px;
}

    .navbar-language::before {
        display: block;
        content: '';
        background: rgb(230, 235, 245);
        height: 44px;
        width: 1px;
        margin: 0px 8px;
    }

.navbar-language-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

    .navbar-language-box img {
        margin-left: 8px;
        width: 24px;
    }
footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* HÙNG */
.dropdown-container2 {
    position: relative;
    width: 80%;
}

    .dropdown-container2 .dropdown-toggle2 {
        color: rgb(45, 194, 117);
        background-color: #fff;
        font-size: 17px;
        padding: 10px 13px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        transition: all ease-in-out 0.3s;
    }

        .dropdown-container2 .dropdown-toggle2 label {
            cursor: pointer;
            width: 100%;
        }

        .dropdown-container2 .dropdown-toggle2:hover,
        .dropdown-container2 .dropdown-toggle2:active,
        .dropdown-container2 .dropdown-toggle2:focus {
            background-color: #0979ce;
            color: #fff;
        }

    .dropdown-container2 .dropdown-menu2 {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        margin-top: 17px;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background-color: #fff;
        z-index: 10;
        padding: 0;
    }

        .dropdown-container2 .dropdown-menu2 ul {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            border-radius: 10px;
            z-index: 10;
        }

        .dropdown-container2 .dropdown-menu2 a {
            text-decoration: none;
            display: block;
            color: #000;
            font-size: 15px;
            padding: 10px 15px;
            font-weight: 600;
            box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
            transition: all ease-in-out 0.3s;
        }

            .dropdown-container2 .dropdown-menu2 a:hover,
            .dropdown-container2 .dropdown-menu2 a:active,
            .dropdown-container2 .dropdown-menu2 a:focus {
                background-color: #0979ce;
                color: #fff;
            }

.dropdown-menu2,
.dropdown-toggle2 {
    position: relative;
}

    .dropdown-menu2::before,
    .dropdown-toggle2::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border: 5px solid;
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0);
        margin-top: -2.5px;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease-in-out 0.2s;
    }

.dropdown-menu2 {
    z-index: 10;
    position: relative;
}

    .dropdown-menu2::before {
        z-index: -1;
        transform: rotate(-135deg);
        top: -4px;
        border-color: #000;
        box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }

.dropdown-open2 .dropdown-menu2.dropdown-active {
    display: block;
}

.dropdown-container2.dropdown-open2 .dropdown-toggle2 {
    background-color: #0979ce;
    color: #fff;
}

    .dropdown-container2.dropdown-open2 .dropdown-toggle2:before {
        transform: rotate(-135deg);
    }

.dropdown-toggle2::after {
    display: none;
}

@media only screen and (max-width: 767px) {
    .navbar-search, .dropdown-container2 {
        width: 100%;
    }

    .navbar-right {
        justify-content: space-between;
        width: 100%;
    }

        .navbar-right .navbar-nav {
            flex-direction: row;
        }
    /*.navbar-nav{
        margin-top:20px
    }*/

}
