﻿/* SELECT OPTION  */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #eaeff1;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #000;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

    select::-ms-expand {
        display: none;
    }

.select {
    position: relative;
    display: flex;
    /* width: 15em; */
    height: 2.2em;
    line-height: 2.2;
    background: #ffffff;
    overflow: hidden;
    border-radius: 0.25em;
}

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #b5b9b9;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s all ease;
    }

    .select:hover::after {
        color: #23b499;
    }
/* END SELECT */


/*SEARCH*/
.search-event {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.input-box {
    width: 50%;
    position: relative;
    height: 76px;
    background: #fff;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

    .input-box i,
    .input-box .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-box i {
        left: 20px;
        font-size: 30px;
        color: #707070;
    }

    .input-box input {
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        border: none;
        padding: 0 155px 0 65px;
        background-color: transparent;
    }

    .input-box .button {
        right: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        background-color: #4070f4;
        cursor: pointer;
    }

        .input-box .button:active {
            transform: translateY(-50%) scale(0.98);
        }

/* Responsive */
@media screen and (max-width: 500px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

        .input-box i {
            left: 12px;
            font-size: 25px;
        }

        .input-box input {
            padding: 0 112px 0 50px;
        }

        .input-box .button {
            right: 12px;
            font-size: 14px;
            padding: 8px 18px;
        }
}

/* OTHER */

.line {
    width: 100%;
    height: 3px;
    background-color: #ccc;
}

.content__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: row;
    gap: 30px;
    padding: 20px 10px;
    width: 70%;
    margin: 0 auto;
    background-color: #23b499;
    margin-top: 30px;
}

/* MAIN EVENT */

.main-event {
    width: 70%;
    margin: 0 auto;
}

.event__desc--title {
    height: 55px;
    font-weight: bold;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event__desc--detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

    .event__desc--detail i,
    .event__desc--category i {
        color: #cc2626;
    }

.event__desc--category {
    padding-bottom: 10px;
}

.content__input input {
    background: #eaeff1;
    border: none;
    border-bottom: 6px solid #545a5c;
    display: block;
    outline-offset: 3px;
    padding: 0.43em 0.45em 0.43em 0.65em;
    width: 255px;
    outline: none;
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .list__event {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .content__filter {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 576px) {
    .list__event {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .main-event {
        width: 70%;
    }

    .content__filter {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .list__event {
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .header__left,
    .header__right {
        width: 100%;
    }

    .btn-15 {
        margin-top: 5px;
        margin-left: 0 !important;
    }

    .sidebar {
        width: 100%;
        position: unset;
    }

        .sidebar .nav-bar {
            padding-top: calc(70px);
            margin: 0 auto;
            text-align: center;
        }

    .content {
        margin-left: 0;
        margin-top: 10px;
    }

    .list__event {
        padding: 0;
    }

    .main-event {
        width: 70%;
    }

    .content__filter {
        grid-template-columns: repeat(1, 1fr)
    }
}
.loadmore {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn-more {
    background-color: transparent;
    border: 2px solid #666;
    color: #666;
    height: 50px;
    line-height: 50px;
    width: 300px;
    padding: 0;
    font-size: 16px;
    margin-top: 30px;
    font-weight: 600;
}

.flex-bw {
    display: flex;
}
.event__item--cover img{
    height:200px;
}
/* SEARCH */
/* BUTTON */
.custom-btn-dis {
    padding: 30px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* 1 */
.btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient( 0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100% );
    border: none;
    /* margin-right: 10px; */
}

    .btn-1:hover {
        background: rgb(0, 3, 255);
        background: linear-gradient( 0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100% );
    }

.btn-x {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    /* margin-right: 10px; */
}

    .btn-x:hover {
        background: rgb(57, 145, 64);
        background: linear-gradient(0deg, rgb(64, 158, 69) 0%, rgb(19, 141, 60) 100%);
    }

/* 15 */
.btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
    margin-left: 10px;
}

    .btn-15:after {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: #663dff;
        border-radius: 5px;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .btn-15:hover {
        color: #fff;
    }

        .btn-15:hover:after {
            left: 0;
            width: 100%;
        }

    .btn-15:active {
        top: 2px;
    }
