* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: rgb(42, 45, 52);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(245, 247, 252);
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button,
input {
  overflow: visible;
}
ul,
ol,
dd {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  border-style: none;
}

.header-navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 76px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(230, 235, 245);
  padding-left: 32px;
  padding-right: 32px;
}
.navbar-left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.navbar-left a {
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.logo-img {
  height: 44px;
  overflow: clip;
  margin-right: 32px;
}
.navbar-search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.navbar-search-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.navbar-search-box .search-icon {
  position: absolute;
  left: 8px;
}
.search-input {
  color: rgb(42, 45, 52);
  background: rgb(245, 247, 252);
  line-height: 24px;
  font-size: 16px;
  height: 44px;
  width: 100%;
  padding: 12px 36px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  caret-color: rgb(45, 194, 117);
  box-shadow: none;
}
.navbar-left-ul {
  background: rgb(255, 255, 255);
  box-shadow: rgb(42 45 52 / 20%) 0px 4px 20px;
  border-radius: 8px;
  position: absolute;
  top: 52px;
  z-index: 2;
  display: none;
}

.navbar-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0px;
}
.btn-create-event {
  background: transparent;
  color: rgb(45, 194, 117);
  border: 1px solid rgb(45, 194, 117);

  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  margin: 0px 8px;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 148px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.navbar-name {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 72px;
}
.navbar-name-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.navbar-name-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
}
.navbar-language {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-left: 12px;
  height: 72px;
}

.navbar-language::before {
  display: block;
  content: '';
  background: rgb(230, 235, 245);
  height: 44px;
  width: 1px;
  margin: 0px 8px;
}
.navbar-language-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.navbar-language-box img {
  margin-left: 8px;
  width: 24px;
}

/* SIDE BAR */
.sidebar {
  width: 270px;
  /* display: none; */
  position: fixed;
  top: 76px;
  height: calc(100vh - 76px);
  overflow: hidden;
}
.sidebar-wrap {
  margin: 0px;
  padding: 16px 0px;
  list-style-type: none;
}
.sidebar-item {
  width: 100%;
  display: flex;
  padding-left: 16px;
  /* background: rgb(255, 255, 255); */
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.sidebar-item a {
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  color: rgb(42, 45, 52);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.sidebar-item:active {
  background: rgb(255, 255, 255);
}
.sidebar-item.active {
  background: rgb(255, 255, 255);
}
.sidebar-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 8px;
}
.sidebar-item :hover {
  background: rgb(255, 255, 255);
}

/* MAIN */
main {
  display: block;
}
.main {
  margin-top: 92px;
  margin-left: 270px;
  margin-bottom: 24px;
}
.main-container {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.main-wrap {
  margin: 0px auto;
  display: flex;
  min-height: 100%;
  padding: 16px;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
.main-event-title {
  display: block;
  text-align: center;
  /* padding-top: 50px; */
  margin: 24px 0px;
}
.main-title-content {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 24px 0;
}
.main-title-content::before {
  right: -48px;
}
.main-title-content::before,
.main-title-content::after {
  position: absolute;
  height: 2px;
  background: rgb(42, 45, 52);
  border-radius: 80px;
  bottom: -2px;
  content: '';
  display: block;
  width: 40px;
}
.main-title-content::after {
  left: -48px;
}
.main-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: rgb(45, 194, 117);
  margin-bottom: 8px;
  align-self: flex-end;
  margin-right: -18px;
}
.main-title-img {
  align-self: flex-end;
  margin: 0px 8px;
}
.title-line {
  width: 100%;
  position: absolute;
  height: 2px;
  background: rgb(42, 45, 52);
  border-radius: 80px;
  bottom: -2px;
}

.main-more {
  width: 100%;
  text-align: center;
  margin: 24px 0px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
}
.main-more::before {
  margin-right: 50px;
}
.main-more::after {
  margin-right: 50px;
}
.main-more::before,
.main-more::after {
  content: '';
  display: block;
  background: rgb(230, 235, 245);
  height: 2px;
  width: 100%;
}
.main-more::after {
  right: 0px;
  margin-left: 50px;
}
.main-more button {
  max-width: 178px;
  margin: auto;
  text-transform: capitalize;
}
.main-more-btn {
  background: rgb(45, 194, 117);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

/* EVENT */
.event {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
}
.event-container {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
}
.event-item {
  margin-top: 16px;
}
.event-item-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: start;
  justify-content: start;
  cursor: pointer;
  color: rgb(42, 45, 52);
  text-align: left;
}
.chdJUl:link,
.chdJUl:visited {
  text-decoration: none;
  color: rgb(42, 45, 52);
}
.event-item-img {
  object-fit: cover;
  width: 1266px;
  max-width: 100%;
  height: 120px;
  border-radius: 8px;
  align-self: center;
}
.event-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.event-item-link > :not(:first-child) {
  margin-top: 4px;
}
.event-date {
  font-size: 14px;
  line-height: 20px;
}
.event-cate {
  font-size: 14px;
  line-height: 20px;
  color: rgb(130, 139, 160);
}

.carousel {
  width: 90%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: white;
}

/* UPCOMGING */
.event-upcoming-link {
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgb(96, 103, 120);
}

.upcoming-top {
  position: relative;
}
.upcoming-top::before {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  padding-bottom: calc(150%);
}
.event-upcoming-img {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
}
.upcoming-bottom {
  background: linear-gradient(rgba(42, 45, 52, 0) 0%, rgb(42, 45, 52) 100%);
  visibility: hidden;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0px;
}
.upcoming-action:first-child {
  background: transparent;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.upcoming-action {
  z-index: 1;
  margin-bottom: 16px;
  width: calc(100% - 48px);
  height: 40px;
}

.upcoming-btn {
  background: transparent;
  border: none;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  min-width: 88px;
  padding: 0px 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}
.upcoming-detail {
  /* position: relative;
  display: flex;
  flex-direction: column; */
  color: rgb(96, 103, 120);
  text-align: left;
}
.upcoming-name {
  cursor: pointer;
  color: rgb(42, 45, 52);
  padding-top: 8px !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}
.upcoming-title {
  padding-top: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: rgb(96, 103, 120) !important;
}
.upcoming-desc {
  padding-top: 4px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.upcoming-desc span:not(:last-child)::after {
  content: '|';
  padding: 0px 8px;
}
.event-upcoming-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* .event-upcoming-item:hover .event-upcoming-link {
  display: block;
  background-color: black;
} */

/* RESPONSIVE */
@media only screen and (min-width: 576px) {
  .main-container,
  .event-container {
    max-width: 540px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .event-list {
    margin-left: -8px;
    margin-right: -8px;
  }
  .event-upcoming-img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-left-ul {
    width: 372px;
  }
  .side-bar {
    display: block;
  }
  .main-container,
  .event-container {
    max-width: 720px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .event-list {
    margin-left: -12px;
    margin-right: -12px;
  }
  .event-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .navbar-search {
    width: 372px;
  }
  .event-upcoming-list {
    margin: 0 -12px;
  }
  .event-upcoming-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-container {
    max-width: 936px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .event-list {
    margin-left: -12px;
    margin-right: -12px;
  }
  .event-container {
    max-width: 936px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .event-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .event-upcoming-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-container {
    max-width: 1248px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .event-list {
    margin-left: -16px;
    margin-right: -16px;
  }
  .event-container {
    max-width: 1248px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .event-upcoming-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* HÙNG */
.wrapper-dropdown-3 {
  /* Size and position */
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;

  /* Styles */
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
  color: #8aa8bd;
}
.wrapper-dropdown-3:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent;
}
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;

  /* Styles */
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8aa8bd;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
  transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
  float: right;
  color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
  border-radius: 0 0 7px 7px;
  border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
  background: #f3f8f8;
}
.wrapper-dropdown-3 .dropdown:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}
.wrapper-dropdown-3.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}
