h2 {
  color: #fff;
}
h4 {
  color: #666;
}

main {
  margin: 50px auto;
  width: 500px;
}

.dropdown {
  width: 230px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.dropdown.toggle > input {
  display: none;
}
.dropdown > a,
.dropdown.toggle > label {
  border-radius: 2px;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
}
.dropdown > a::after,
.dropdown.toggle > label::after {
  content: '';
  float: right;
  margin: 15px 15px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ccc;
}
.dropdown ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.dropdown a,
.dropdown.toggle > label {
  display: block;
  padding: 0 0 0 10px;
  text-decoration: none;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  background-color: #fff;
}
.dropdown li {
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}
.dropdown.hover li {
  transition-delay: 300ms;
}
.dropdown li:first-child a {
  border-radius: 2px 2px 0 0;
}
.dropdown li:last-child a {
  border-radius: 0 0 2px 2px;
}
.dropdown li:first-child a::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  margin: -10px 0 0 30px;
}
.dropdown a:hover,
.dropdown.toggle > label:hover,
.dropdown.toggle > input:checked ~ label {
  background-color: #eee;
  color: #666;
}
.dropdown > a:hover::after,
.dropdown.toggle > label:hover::after,
.dropdown.toggle > input:checked ~ label::after {
  border-top-color: #aaa;
}
.dropdown li:first-child a:hover::before {
  border-bottom-color: #eee;
}
.dropdown.hover:hover li,
.dropdown.toggle > input:checked ~ ul li {
  height: 40px;
}
.dropdown.hover:hover li:first-child,
.dropdown.toggle > input:checked ~ ul li:first-child {
  padding-top: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CSS */
.header {
  position: fixed;
  background-color: #484848;
  padding-bottom: 0;
  padding: 5px 20px;
  border: 0;
  border-color: transparent;
  background: #262f38;
  border-radius: 0;
  min-height: 43px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.tkb-logo {
  width: 50px;
}
.user img {
  width: 50px;
}
.user {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
}
.left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 30px;
}

.right {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 30px;
  justify-content: flex-end;
}
.user span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 7px;
}
.user i {
  color: white;
}

/* SIDEBAR */
.sidebar {
  float: left;
  width: 20%;
  position: fixed;
  height: 100%;
  background: #303b46;
  color: #e9edf0;
  font-family: 'Roboto Slab', Serif, Arial;
  background-size: cover;
  padding-top: 53px;
}

ul.list-ctrl li {
  margin-bottom: 1px;
  /* position: relative; */
  margin: 0 auto;
}
ul.list-ctrl li a {
  display: block;
  padding: 1em 1rem 1.5em 1em;
}
.sidebar a {
  color: #e9edf0;
}
.lk-your-profile-legal span {
  font-size: 20px;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
ul.list-ctrl li.active,
ul.list-ctrl li:hover {
  background: #dadada;
  transition: all 0.2s ease-in-out 0s;
  color: black;
}

li:hover a {
  color: #262f38 !important;
}
.content {
  margin-left: 20%;
  /* margin-top: 20px; */
  line-height: 1.8rem;
}
.content .container {
  padding-top: 100px;
}
.title-form {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

/* END SIDEBAR */

/* FOOTER */
footer {
  color: #ccc;
  font-size: 12px;
  background-color: #303747;
  padding: 30px 10px;
  margin-left: 20%;
}
/* .ft-img {
  width: 10%;
  height: 10%;
} */
.footer img {
  /* width: 100%; */
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

/* SELECT OPTION  */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #eaeff1;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 1.7em;
  line-height: 1.7;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #b5b9b9;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
/* END SELECT */

/* BUTTON */
.custom-btn {
  padding: 30px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 1 */
.btn-1 {
  background: rgb(6, 14, 131);
  background: linear-gradient(
    0deg,
    rgba(6, 14, 131, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
  border: none;
  margin-right: 10px;
}
.btn-1:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

/* 15 */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
  margin-left: 10px;
}
.btn-15:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
@media screen and(max-width:575px) {
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }

  .btn-15 {
    margin-top: 5px;
    margin-left: 0 !important;
  }

  .input-hidden {
    display: none !important;
  }
  input {
    width: 100%;
  }

  .sidebar {
    /* display: none; */
    width: 100%;
    position: unset;
  }
  .sidebar .nav-bar {
    padding-top: calc(70px);
    /* text-align: center; */
    margin: 0 auto;
    text-align: center;
  }

  footer {
    margin: 0 !important;
  }
  .footer {
    flex-direction: column !important;
  }
  .footer-left,
  .footer-right {
    flex-direction: column !important;
  }
  .footer-right img {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .sidebar {
    padding-top: 7%;
  }
}

@media only screen and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .input-hidden {
    display: none !important;
  }
}
