﻿.card {
    position: relative;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /*width: 300px;*/
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 370px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 15px;
}

.user {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
}

    .user img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

.location {
    width: 100%;
    display: flex;
}

.card-body svg {
    width: 20px;
    margin-right: 5px
}

.button-wrapper {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center
}

.form-to {
    margin-bottom: 20px
}

.btn-cuss {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    cursor: pointer;
}
.word-dot {
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.btn + .btn {
            margin-left: 10px;
        }*/
.form-search{ 
    border: 1px solid black;
}
.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
}

    .outline:hover {
        transform: scale(1.125);
        color: #7398bf;
        border-color: #7398bf;
        transition: all .3s ease;
    }

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

    .fill:hover {
        transform: scale(1.125);
        border-color: rgba(255, 255, 255, 0.9);
        filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
        transition: all .3s ease;
    }
@media screen and (max-width: 992px) {
    .card-columns {
        column-count: 2
    }
}
@media screen and (max-width: 768px) {
    .card-columns {
        column-count: 1
    }
}