﻿.content {
    width: 70%;
    height: 1000px;
    background-color: aqua;
    margin: 0 auto;
    padding: 20px 0;
}

/* START SIDEBAR */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #2b3e51;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

    #sidebar .h6 {
        color: #fff;
    }

    #sidebar.active {
        margin-left: -270px;
    }

        #sidebar.active .custom-menu {
            margin-right: -50px;
        }

    #sidebar h1 {
        margin-bottom: 20px;
        font-weight: 700;
    }

        #sidebar h1 .logo {
            color: #fff;
        }

    #sidebar ul.components {
        padding: 0;
    }

    #sidebar ul li {
        font-size: 20px;
    }

        #sidebar ul li > ul {
            margin-left: 10px;
        }

            #sidebar ul li > ul li {
                font-size: 14px;
            }

        #sidebar ul li a {
            padding: 10px 0;
            display: block;
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

            #sidebar ul li a:hover {
                color: #fff;
            }

        #sidebar ul li.active > a {
            background: transparent;
            color: #fff;
        }

@media (min-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }

        #sidebar.active {
            margin-left: 0;
        }

        #sidebar .custom-menu {
            margin-right: -60px !important;
            top: 10px !important;
        }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

    #sidebar .custom-menu .btn.btn-primary {
        background: #393c7f;
        border-color: #393c7f;
    }

        #sidebar .custom-menu .btn.btn-primary:hover,
        #sidebar .custom-menu .btn.btn-primary:focus {
            background: #393c7f !important;
            border-color: #393c7f !important;
        }

a[data-toggle='collapse'] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}
/* END SIDEBAR */

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-primary {
    background: #494ca2;
    border-color: #494ca2;
}

    .btn.btn-primary:hover,
    .btn.btn-primary:focus {
        background: #494ca2 !important;
        border-color: #494ca2 !important;
    }

input[type='checkbox'] + label {
    display: block;
    /* margin: 0.2em; */
    cursor: pointer;
    /* padding: 0.2em; */
    font-family: 'Arial';
}

input[type='checkbox'] {
    display: none;
}

    input[type='checkbox'] + label:before {
        content: '\2714';
        border: 0.1em solid #000;
        border-radius: 0.2em;
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        padding-left: 0.1em;
        padding-bottom: 0.3em;
        margin-right: 0.6em;
        vertical-align: bottom;
        color: transparent;
        transition: 0.2s;
        line-height: 1;
    }

    input[type='checkbox'] + label:active:before {
        transform: scale(0);
    }

    input[type='checkbox']:checked + label:before {
        background-color: rgb(45, 194, 117);
        border-color: rgb(45, 194, 117);
        color: #fff;
    }

    input[type='checkbox']:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    input[type='checkbox']:checked:disabled + label:before {
        transform: scale(1);
        background-color: #f7c28f;
        border-color: #f7c28f;
    }

/* BUTTON */
.custom-btn2 {
    padding: 30px;
    width: 120px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    line-height: 0.2;
}

.btn-x {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    margin-right: 10px;
}

    .btn-x:hover {
        background: rgb(57, 145, 64);
        background: linear-gradient(0deg, rgb(64, 158, 69) 0%, rgb(19, 141, 60) 100%);
    }

.btn-10 {
    background: rgb(22, 9, 240);
    background: linear-gradient( 0deg, rgba(22, 9, 240, 1) 0%, rgba(49, 110, 244, 1) 100% );
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

    .btn-10:after {
        position: absolute;
        content: ' ';
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    .btn-10:hover {
        color: #fff;
        border: none;
        background: transparent;
    }

        .btn-10:hover:after {
            background: rgb(0, 3, 255);
            background: linear-gradient( 0deg, rgba(2, 126, 251, 1) 0%, rgba(0, 3, 255, 1) 100% );
            -webkit-transform: scale(1);
            transform: scale(1);
        }
/* 5 */
.btn-5 {
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient( 0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100% );
}

    .btn-5:hover {
        color: #f0094a;
        background: transparent;
        box-shadow: none;
    }

    .btn-5:before,
    .btn-5:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #f0094a;
        box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
        transition: 400ms ease all;
    }

    .btn-5:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .btn-5:hover:before,
    .btn-5:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }
/* 10 */

.btn-10:after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.btn-10:hover {
    color: #fff;
    border: none;
    background: rgb(54, 48, 165);
}

    .btn-10:hover:after {
        background: rgb(0, 3, 255);
        background: linear-gradient( 0deg, rgba(2, 126, 251, 1) 0%, rgba(0, 3, 255, 1) 100% );
        -webkit-transform: scale(1);
        transform: scale(1);
    }

/* 13 */
.btn-13 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}

    .btn-13:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }

    .btn-13:hover {
        color: #fff;
    }

        .btn-13:hover:after {
            top: 0;
            height: 100%;
        }

    .btn-13:active {
        top: 2px;
    }

.list__table {
    width: 100%;
}

    .list__table ul:nth-child(odd) {
        background-color: #ddd;
    }

    .list__table ul:nth-child(even) {
        background-color: #fff;
    }

    .list__table li.img {
        width: 250px;
        height: auto;
        padding: 0.5em 0;
    }

    .list__table img {
        width: 70%;
    }

.action-btn {
    margin: 0 auto;
    display: flex !important;
    flex-direction: row;
    width: 100%;
}

    .action-btn i {
        font-size: 20px;
        cursor: pointer;
    }

    .action-btn .fa-edit {
        color: #03c8a8;
    }

    .action-btn .fa-trash {
        color: #f0094a;
        margin-left: 30px;
    }
/* START PAGINATION */
.pagination {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    justify-content: center;
}

    .pagination ul {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: 0 0;
    }

    .pagination li {
        display: inline;
        margin: 0;
        padding: 0;
    }

        .pagination li a {
            border: 1px solid #c9c9c9;
            color: #242424;
            text-decoration: none;
            display: inline-block;
            transition: all 0.8s ease 0s;
            height: 40px;
            line-height: 40px;
            margin: 0 10px 0 0;
            padding: 0;
            text-align: center;
            width: 40px;
            margin-top: 10px;
        }

            .pagination li a:hover {
                background-color: #4caf50;
                color: white;
            }

            .pagination li a.active {
                background-color: #4caf50;
                color: white;
            }

/* END PAGINATION */
/* big */
@media screen and (min-width: 600px) {
    .list__table {
        display: table;
        margin-right: 1em;
    }

        .list__table ul {
            display: table-row;
        }

            .list__table ul:first-child li {
                background-color: #444;
                color: #fff;
            }

            .list__table ul > li {
                display: table-cell;
                padding: 1em 3em;
            }

    .action-btn {
        margin: 0 auto;
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

        .action-btn i {
            cursor: pointer;
        }

        .action-btn .fa-edit {
            color: #03c8a8;
        }

        .action-btn .fa-trash {
            color: #f0094a;
        }
}

/* small */
@media screen and (max-width: 599px) {
    .list__table ul {
        border: solid 1px #ccc;
        display: block;
        list-style: none;
        margin: 1em;
        padding: 1em 1em;
    }

        .list__table ul:first-child {
            display: none;
        }

        .list__table ul > li {
            display: block;
            padding: 0.25em 0;
        }

        .list__table ul:nth-child(odd) > li + li {
            border-top: solid 1px #ccc;
        }

        .list__table ul:nth-child(even) > li + li {
            border-top: solid 1px #eee;
        }

        .list__table ul > li:before {
            color: #000;
            content: attr(data-label);
            display: inline-block;
            font-size: 75%;
            font-weight: bold;
            text-transform: capitalize;
            vertical-align: top;
            width: 50%;
        }

    .list__table p {
        margin: -1em 0 0 50%;
    }

    .list__table {
        margin: 0 !important;
        padding: 0 !important;
    }

    .content-name .h1 {
        width: 60%;
        /* flex-direction: column; */
    }

    .content-name {
        padding: 1rem;
    }
}

@media screen and (max-width: 349px) {
    .list__table ul > li:before {
        display: block;
    }

    .list__table p {
        margin: 0;
    }
}

/* END LIST TABLE */

/* DROPDOWN */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#Notifications .dropdown-toggle::after {
    display: none;
}

.header-navbar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    /*height: 76px;*/
    background-color: rgb(255, 255, 255);
    /* border-bottom: 2px solid rgb(230, 235, 245); */
    padding-left: 32px;
    padding-right: 32px;
}

.navbar-left {
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

    .navbar-left a {
        text-decoration: none;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

.logo-img {
    height: 44px;
    overflow: clip;
    margin-right: 32px;
}

.navbar-search {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 70%;
}

.navbar-search-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}

    .navbar-search-box .search-icon {
        position: absolute;
        left: 8px;
    }

.search-input {
    color: rgb(42, 45, 52);
    background: rgb(245, 247, 252);
    line-height: 24px;
    font-size: 16px;
    height: 44px;
    width: 100%;
    padding: 12px 36px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    caret-color: rgb(45, 194, 117);
    box-shadow: none;
}

.navbar-left-ul {
    background: rgb(255, 255, 255);
    box-shadow: rgb(42 45 52 / 20%) 0px 4px 20px;
    border-radius: 8px;
    position: absolute;
    top: 52px;
    z-index: 2;
    display: none;
}

.navbar-right {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0px;
    justify-content: center;
}

.btn-create-event {
    background: transparent;
    color: rgb(45, 194, 117);
    border: 1px solid rgb(45, 194, 117);
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    min-width: 88px;
    padding: 0px 24px;
    /*margin: 0px 8px;*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 148px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

    .btn-create-event:hover {
        text-decoration: none;
    }

.navbar-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 72px;
}

.navbar-name-box {
    background-color: rgb(245, 247, 252);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-name-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 8px;
}

.navbar-language {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 72px;
}

    .navbar-language::before {
        display: block;
        content: '';
        background: rgb(230, 235, 245);
        height: 44px;
        width: 1px;
        margin: 0px 8px;
    }

.navbar-language-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

    .navbar-language-box img {
        margin-left: 8px;
        width: 24px;
    }
/* HÙNG */
.dropdown-container2 {
    position: relative;
    width: 80%;
}

    .dropdown-container2 .dropdown-toggle2 {
        color: rgb(45, 194, 117);
        background-color: #fff;
        font-size: 17px;
        padding: 10px 13px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        transition: all ease-in-out 0.3s;
    }

        .dropdown-container2 .dropdown-toggle2 label {
            cursor: pointer;
            width: 100%;
        }

        .dropdown-container2 .dropdown-toggle2:hover,
        .dropdown-container2 .dropdown-toggle2:active,
        .dropdown-container2 .dropdown-toggle2:focus {
            background-color: #0979ce;
            color: #fff;
        }

    .dropdown-container2 .dropdown-menu2 {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        margin-top: 17px;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background-color: #fff;
        z-index: 10;
        padding: 0;
    }

        .dropdown-container2 .dropdown-menu2 ul {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            border-radius: 10px;
            z-index: 10;
        }

        .dropdown-container2 .dropdown-menu2 a {
            text-decoration: none;
            display: block;
            color: #000;
            font-size: 15px;
            padding: 10px 15px;
            font-weight: 600;
            box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
            transition: all ease-in-out 0.3s;
        }

            .dropdown-container2 .dropdown-menu2 a:hover,
            .dropdown-container2 .dropdown-menu2 a:active,
            .dropdown-container2 .dropdown-menu2 a:focus {
                background-color: #0979ce;
                color: #fff;
            }

.dropdown-menu2,
.dropdown-toggle2 {
    position: relative;
}

    .dropdown-menu2::before,
    .dropdown-toggle2::before {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border: 5px solid;
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0);
        margin-top: -2.5px;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease-in-out 0.2s;
    }

.dropdown-menu2 {
    z-index: 10;
    position: relative;
}

    .dropdown-menu2::before {
        z-index: -1;
        transform: rotate(-135deg);
        top: -4px;
        border-color: #000;
        box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }

.dropdown-open2 .dropdown-menu2.dropdown-active {
    display: block;
}

.dropdown-container2.dropdown-open2 .dropdown-toggle2 {
    background-color: #0979ce;
    color: #fff;
}

    .dropdown-container2.dropdown-open2 .dropdown-toggle2:before {
        transform: rotate(-135deg);
    }

.dropdown-toggle2::after {
    display: none;
}

.input-number {
    width: 60px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

    .input-number-decrement:active,
    .input-number-increment:active {
        background: #ddd;
    }

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

/*SEARCH*/

.input-box {
    display: inline-block;
    position: relative;
    height: 76px;
    background: #fff;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

    .input-box i,
    .input-box .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-box i {
        left: 20px;
        font-size: 30px;
        color: #707070;
    }

    .input-box input {
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        border: none;
        padding: 0 155px 0 65px;
        background-color: transparent;
    }

    .input-box .button {
        right: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        background-color: #4070f4;
        cursor: pointer;
    }

        .input-box .button:active {
            transform: translateY(-50%) scale(0.98);
        }

.content-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*= input focus effects css
=========================== */
:focus {
    outline: none;
}

/* necessary to give position: relative to parent. */
input[type='text'] {
    font: 15px/24px 'Lato', Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect-2 {
    border: 0;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
}

.btn-done {
    padding: 20px 10px;
}

.effect-2 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399ff;
    transition: 0.4s;
}

.effect-2:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn-done {
    width: 100%;
    background-color: #23b499;
}

/* DROPDOWN SEARCH */
.wrapper .search_box {
    width: 500px;
    background: #fff;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
}

    .wrapper .search_box .dropdown {
        width: 150px;
        border-right: 2px solid #dde2f1;
        color: #414244;
        position: relative;
        cursor: pointer;
    }

        .wrapper .search_box .dropdown .default_option {
            text-transform: uppercase;
            padding: 13px 15px;
            font-size: 14px;
        }

        .wrapper .search_box .dropdown ul {
            position: absolute;
            top: 70px;
            left: -10px;
            background: #fff;
            width: 150px;
            border-radius: 5px;
            padding: 20px;
            display: none;
            box-shadow: 8px 8px 6px -10px #b3c6ff;
        }

            .wrapper .search_box .dropdown ul.active {
                display: block;
            }

            .wrapper .search_box .dropdown ul li {
                padding-bottom: 20px;
            }

                .wrapper .search_box .dropdown ul li:last-child {
                    padding-bottom: 0;
                }

                .wrapper .search_box .dropdown ul li:hover {
                    color: #6f768d;
                }

        .wrapper .search_box .dropdown:before {
            content: '';
            position: absolute;
            top: 18px;
            right: 20px;
            border: 8px solid;
            border-color: #5078ef transparent transparent transparent;
        }

    .wrapper .search_box .search_field {
        width: 350px;
        height: 100%;
        position: relative;
    }

        .wrapper .search_box .search_field .input {
            width: 100%;
            height: 100%;
            border: 0px;
            font-size: 16px;
            padding-left: 20px;
            padding-right: 38px;
            color: #6f768d;
        }

        .wrapper .search_box .search_field .fas {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 22px;
            color: #5078ef;
            cursor: pointer;
        }

/* DROPDOWN CREATE */
.wrapper1 .search_box1 {
    /* width: 450px; */
    background: #fff;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 1px 1px 6px 1px #aaa;
}

    .wrapper1 .search_box1 .dropdown1 {
        width: 150px;
        border-right: 2px solid #dde2f1;
        color: #414244;
        position: relative;
        cursor: pointer;
    }

        .wrapper1 .search_box1 .dropdown1 .default_option1 {
            text-transform: uppercase;
            padding: 13px 15px;
            font-size: 14px;
        }

        .wrapper1 .search_box1 .dropdown1 ul {
            position: absolute;
            top: 70px;
            left: -10px;
            background: #fff;
            width: 150px;
            border-radius: 5px;
            padding: 20px;
            display: none;
            box-shadow: 8px 8px 6px -10px #b3c6ff;
        }

            .wrapper1 .search_box1 .dropdown1 ul.active {
                z-index: 10;
                display: block;
            }

            .wrapper1 .search_box1 .dropdown1 ul li {
                padding-bottom: 20px;
            }

                .wrapper1 .search_box1 .dropdown1 ul li:last-child {
                    padding-bottom: 0;
                }

                .wrapper1 .search_box1 .dropdown1 ul li:hover {
                    color: #6f768d;
                }

        .wrapper1 .search_box1 .dropdown1:before {
            content: '';
            position: absolute;
            top: 18px;
            right: 20px;
            border: 8px solid;
            border-color: #5078ef transparent transparent transparent;
        }

    .wrapper1 .search_box1 .search_field1 {
        width: 350px;
        height: 100%;
        position: relative;
    }

        .wrapper1 .search_box1 .search_field1 .input1 {
            width: 100%;
            height: 100%;
            border: 0px;
            font-size: 16px;
            padding-left: 20px;
            padding-right: 38px;
            color: #6f768d;
        }

        .wrapper1 .search_box1 .search_field1 .fas {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 22px;
            color: #5078ef;
            cursor: pointer;
        }

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #414244;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #414244;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #414244;
}

@media only screen and (max-width: 767px) {
    .navbar-search,
    .dropdown-container2 {
        width: 100%;
    }

    .navbar-right {
        justify-content: space-between;
        width: 100%;
    }

        .navbar-right .navbar-nav {
            flex-direction: row;
        }
}
/* small */
@media screen and (max-width: 599px) {
    .list__table ul {
        border: solid 1px #ccc;
        display: block;
        list-style: none;
        margin: 1em;
        padding: 1em 1em;
    }

        .list__table ul:first-child {
            display: none;
        }

        .list__table ul > li {
            display: block;
            padding: 0.25em 0;
        }

        .list__table ul:nth-child(odd) > li + li {
            border-top: solid 1px #ccc;
        }

        .list__table ul:nth-child(even) > li + li {
            border-top: solid 1px #eee;
        }

        .list__table ul > li:before {
            color: #000;
            content: attr(data-label);
            display: inline-block;
            font-size: 75%;
            font-weight: bold;
            text-transform: capitalize;
            vertical-align: top;
            width: 50%;
        }

    .list__table p {
        margin: -1em 0 0 50%;
    }

    .list__table {
        margin: 0 !important;
        padding: 0 !important;
    }

    .content-name .h1 {
        width: 60%;
        /* flex-direction: column; */
    }

    .content-name {
        padding: 1rem;
    }

    .wrapper .search_box {
        width: 315px;
        margin-left: 15px;
    }

        .wrapper .search_box .dropdown:before {
            right: 2px;
        }

        .wrapper .search_box .dropdown .default_option {
            padding: 13px 3px;
        }
}

.formxyz {
    /* font size 0 to remove inline-block whitespcae*/
    font-size: 0;
    max-width: 100%;
    margin: auto;
}

.inp-wrap {
    display: inline-block;
}

/* very messy "grid" styles */

[class*='grid-'] {
    vertical-align: middle;
    height: 3.125rem;
    font-size: 1.4rem;
}

.search-wrap {
    width: 50%;
}

.cat-wrap {
    width: 35%;
}

.submit-wrap {
    width: 15%;
}

.grid-40 {
    width: 40%;
}

.grid-25 {
    width: 25%;
}

.grid-75 {
    width: 75%;
}

.grid-60 {
    width: 60%;
}

.grid-100 {
    width: 100%;
}

/* input and label styles*/

label {
    margin: 0;
    padding: 0 0rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 3.125rem;
    background: #2f2f2f;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    color: #fff;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

    label:hover {
        background: #e1e1e1;
        color: #232323;
    }

.search-label {
    width: 25%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input,
select {
    transition: box-shadow 0.2s ease-in-out;
    border: 0;
    padding: 0 0 0 0.5em;
}

    #search-field:focus,
    select:focus {
        outline: none;
        border: 0;
        box-shadow: inset 0 0 0 5px #ffc519;
    }

/* select menu styles */

.cat-wrap {
    padding: 0;
    position: relative;
    z-index: 1;
}

    /* triangle */

    .cat-wrap::after {
        content: '\25BC';
        position: absolute;
        top: 0.6rem;
        right: 0.5em;
        color: #515151;
        font-size: 1.2rem;
        pointer-events: none;
    }

select {
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

option {
    margin: 0.6em 0;
}

/* search button and icon styles */

/* remove mozilla button styles */

button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}

.btn {
    text-transform: uppercase;
    font-size: 1.1rem;
    border: 0;
    padding: 0 0.3em 0 0;
    background: #ff1979;
    color: white;
    font-weight: 600;
    transition: background 0.25s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .btn:hover,
    .btn:focus,
    .btn:active {
        outline: 0;
        background: #ffc519;
        color: #232323;
    }

    .btn:active {
        transform: translateY(1px);
    }

.search-icon-container {
    outline: 0;
}

#search-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    outline: 0;
    fill: #fff;
}

.btn:hover #search-icon,
.btn:focus #search-icon {
    fill: #232323;
}

@media screen and (max-width: 820px) {
    .search-label {
        border-radius: 0;
    }

    .cat-wrap {
        width: 50%;
    }

    .submit-wrap {
        width: 50%;
        display: block;
        margin: 1rem auto 1rem;
    }

    .btn {
        border-radius: 5px;
    }

    .search-form {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 560px) {
    .cat-wrap,
    .search-wrap {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .grid-80 {
        width: 75%;
    }

    .grid-20 {
        width: 25%;
    }

    .grid-25 {
        width: 40%;
    }

    .grid-75 {
        width: 60%;
    }
}

/* CREATE */
.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #fff;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #616161;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #cecece;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    /* border: 1px solid #cecece; */
}

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #2b2e2e;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s all ease;
        color: #23b499;
    }

    .select:hover::after {
        color: #6ceed8;
    }
