﻿<a class="dropdown-item" data-group="false" data-value="">All organizers and groups</a>
@if (ViewBag.Organizers.Count > 0) {
    <h6 class="dropdown-header">Organizers</h6>
    foreach (SelectListItem item in ViewBag.Organizers) {
        <a class="dropdown-item" data-group="false" data-value="@item.Value">@item.Text</a>
    }
}
@if (ViewBag.Groups.Count > 0) {
    <h6 class="dropdown-header">Groups</h6>
    foreach (SelectListItem item in ViewBag.Groups) {
        <a class="dropdown-item" data-group="true" data-value="@item.Value">@item.Text</a>
    }
}