﻿<a class="dropdown-item" data-value="">All categories</a>
@if (ViewBag.Categories != null)
{
    foreach (SelectListItem item in ViewBag.Categories)
    {
        <a class="dropdown-item" data-value="@item.Value">@item.Text</a>
    }
}
