﻿@{
    ViewBag.Title = "Register event";
}

<div class="container">
    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
    <iframe src="@ViewBag.FormRegister" id="Form" class="w-100 border-0"></iframe>
</div>

@section styles {
    <style>
        #Form {
            height: calc(100vh - 100px);
        }
    </style>
}

@section scripts {
    <script>
        var submitted = false;
        $("#Form").on("load", () => {
            submitted = !submitted;
            if (!submitted)
                window.location.replace("@Url.Action("RegisterEvent", new { id = ViewBag.EventId, submitted = true })");
        });
    </script>
}