﻿@using capstone.Models

@model EventViewModel
@{
    ViewBag.Title = "ShowBookmarkedEvent";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quan tâm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />

    <link rel="stylesheet" href="~/Scripts/css/bookmark.css" />

</head>

<body>
    <div class="wrapper d-flex align-items-stretch" style="margin-top: 70px; ">
        <nav id="sidebar" class="active">
            <div class="custom-menu ">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> My tickets</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Quan tâm</a>
                    </li>

                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5">
            <p class="h1">Quan tâm</p>

            <div class="table__content">
                <div class="list__table">
                    <ul>
                        <li>No</li>
                        <li>Sự kiện</li>
                        <li>Ảnh</li>
                        <li>Địa điểm</li>
                        <li>Trạng Thái</li>
                        <li>Giờ mở cửa</li>
                        <li style="text-align : center">Hành động</li>

                    </ul>
                    @for (int i = 0; i < ViewBag.bm.Count; i++)
                    {
                        EventViewModel e = ViewBag.bm[i];
                        <ul>
                            <li data-label="no">@(i + 1)</li>
                            <li data-label="img" class="img">
                                <img src="@Html.DisplayFor(modelItem => e.CoverImage)">
                            </li>
                            <li data-label="Email">@e.EventName</li>
                            <li data-label="Email">@e.CampusName</li>
                            <li data-label="Email">@e.EventStatus</li>
                            <li data-label="Student">
                                @e.OpenDate
                            </li>
                            <li data-label="Action" style="margin-left:auto ;">
                                <button class="btn-5 custom-btn2 btn-transition">@Html.ActionLink("Uninterest", "UnBookmarked", new { id = e.EventId })</button>
                            </li>
                        </ul>
                    }
                </div>
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">&laquo;</a>
                        </li>

                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#" class="active">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="js/hierarchy-select.min.js"></script>


    <script src="~/Scripts/js/main.js"></script>
    <script>
    (function ($) {

      "use strict";

      var fullHeight = function () {

        $('.js-fullheight').css('height', $(window).height());
        $(window).resize(function () {
          $('.js-fullheight').css('height', $(window).height());
        });

      };
      fullHeight();

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });

    })(jQuery);

    </script>
</body>

