﻿@using capstone.Helpers;
@using capstone.Models;

@{
    ViewBag.Title = "View your event calendar";
}

<div id="toolbar" class="table-responsive overflow-auto position-fixed px-2">
    <div class="d-flex justify-content-between bg-light border p-2">
        @Html.ActionLink("Previous week", "ViewYourEventCalendar", new { week = ViewBag.Weeks.PreviousWeek, year = ViewBag.Weeks.PreviousYear }, new { @class = "btn btn-outline-secondary" })
        <div class="d-flex">
            @Html.ActionLink("This week", "ViewYourEventCalendarByDate", new { date = DateTime.Now }, new { @class = "btn btn-primary mr-2" })
            @using (Html.BeginForm("ViewYourEventCalendarByDate", "Student", FormMethod.Get, new { @id = "Date", @class = "form-inline d-inline" })) {
                @Html.TextBox("date", ((DateTime)ViewBag.Dates[0]).ToStandardString(), new { @type = "date", @class = "form-control", @onchange = "$('#Date').submit()" })
            }
        </div>
        @Html.ActionLink("Next week", "ViewYourEventCalendar", new { week = ViewBag.Weeks.NextWeek, year = ViewBag.Weeks.NextYear }, new { @class = "btn btn-outline-primary" })
    </div>
    <table id="header" class="table table-sm table-bordered bg-light mb-0">
        <tr>
            <td><span class="font-weight-normal" style="color: transparent;">@CalendarHelper.ToTimeString(ViewBag.Times[0])</span></td>
            @foreach (DateTime date in ViewBag.Dates) {
                <td>@date.ToDateString()<br />@date.DayOfWeek</td>
            }
        </tr>
        @for (int k = 0; k < ViewBag.StacksDay; k++) {
            <tr>
                <td></td>
                @for (int i = 0; i < ViewBag.Dates.Count; i++) {
                    bool added = false;
                    foreach (CalendarModel calendar in ViewBag.CalendarDay) {
                        if (calendar.Stack == k + 1) {
                            if (calendar.Start == i) {
                                added = true;
                                if (!calendar.IsPrivate) {
                                    <td class="table-primary border border-info calendar overflow-hidden position-relative" style="height: 35px;" colspan="@(calendar.End - calendar.Start + 1)" onclick="window.location = '@Url.Action("ViewEvent", "Home", new { id = calendar.Id })';" data-toggle="tooltip" data-html="true" title="<div>@calendar.Name</div><div class='small'>@calendar.StartDate.ToDateTimeString() - @calendar.EndDate.ToDateTimeString()</div>">
                                        <div class="position-absolute">
                                            @calendar.Name
                                        </div>
                                    </td>
                                }
                                else {
                                    <td class="table-danger border border-danger" colspan="@(calendar.End - calendar.Start + 1)" data-toggle="tooltip" data-html="true" title="<div>@calendar.Name</div><div class='small'>@calendar.StartDate.ToDateTimeString() - @calendar.EndDate.ToDateTimeString()</div>">
                                        @calendar.Name
                                    </td>
                                }
                            }
                            else if (calendar.Start < i && calendar.End >= i) {
                                added = true;
                            }
                        }
                    }
                    if (!added) {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>
</div>
<div class="table-responsive overflow-auto px-2">
    <table id="calendar" class="table table-sm table-hover w-100">
        <tr class="text-white">
            <td></td>
            @foreach (DateTime date in ViewBag.Dates) {
                <td colspan="@Math.Max(ViewBag.StacksTime[date], 1)">@date.ToDateString()<br />@date.DayOfWeek</td>
            }
        </tr>
        @for (int i = 0; i < ViewBag.Times.Count; i++) {
            <tr>
                <td>@CalendarHelper.ToTimeString(ViewBag.Times[i])</td>
                @foreach (DateTime date in ViewBag.Dates) {
                    if (ViewBag.CalendarTime[date].Count == 0) {
                        <td class="border-left"></td>
                    }
                    else {
                        for (int k = 0; k < Math.Max(ViewBag.StacksTime[date], 1); k++) {
                            bool added = false;
                            foreach (CalendarModel calendar in ViewBag.CalendarTime[date]) {
                                if (calendar.Stack == k + 1) {
                                    if (calendar.Start == i) {
                                        added = true;
                                        if (!calendar.IsPrivate) {
                                            <td class="table-primary border border-info calendar overflow-hidden position-relative" rowspan="@(calendar.End - calendar.Start + 1)" onclick="window.location = '@Url.Action("ViewEvent", "Home", new { id = calendar.Id })';" data-toggle="tooltip" data-html="true" title="<div>@calendar.Name</div><div class='small'>@calendar.StartDate.ToTimeString() - @calendar.EndDate.ToTimeString()</div>">
                                                <div class="position-absolute">
                                                    @calendar.Name
                                                </div>
                                            </td>
                                        }
                                        else {
                                            <td class="table-danger border border-danger overflow-hidden position-relative" rowspan="@(calendar.End - calendar.Start + 1)" data-toggle="tooltip" data-html="true" title="<div>@calendar.Name</div><div class='small'>@calendar.StartDate.ToTimeString() - @calendar.EndDate.ToTimeString()</div>">
                                                <div class="position-absolute">
                                                    @calendar.Name
                                                </div>
                                            </td>
                                        }
                                    }
                                    else if (calendar.Start < i && calendar.End >= i) {
                                        added = true;
                                    }
                                }
                            }
                            if (!added) {
                                <td class="@(k == 0?"border-left":string.Empty)"></td>
                            }
                        }
                    }
                }
            </tr>
        }
    </table>
</div>

@section styles {
    <style>
        #toolbar {
            z-index: 13;
        }

        .calendar:hover, .calendar:hover div {
            text-decoration: underline;
        }

        .container-fluid {
            padding: 0 !important;
        }
    </style>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();
            $(window).resize();
        });
        $(window).resize(function () {
            var headers = $("#header tr:first-child td");
            var calendar = $("#calendar tr:first-child td");
            var width = $("#calendar").outerWidth() / @ViewBag.Dates.Count;
            for (var i = 1; i < calendar.length; i++)
                $(calendar[i]).outerWidth(width);
            for (var i = 0; i < headers.length; i++) {
                $(headers[i]).outerWidth($(calendar[i]).outerWidth());
            }
            $("#toolbar").children().innerWidth($("#calendar").outerWidth());
            $("#header").outerWidth($("#calendar").outerWidth());
            $("#calendar tr:first-child").outerHeight($("#toolbar").outerHeight());
        });
        var headerScrolling = false;
        var calendarScrolling = false;
        $("#header").parent().scroll(function () {
            if (!headerScrolling) {
                calendarScrolling = true;
                $("#calendar").parent().scrollLeft($("#header").parent().scrollLeft());
            }
            headerScrolling = false;
        });
        $("#calendar").parent().scroll(function () {
            if (!calendarScrolling) {
                headerScrolling = true;
                $("#header").parent().scrollLeft($("#calendar").parent().scrollLeft());
            }
            calendarScrolling = false;
        });
        $(window).ready(function () {
            $("html, body").scrollTop($("#calendar tr:nth-child(@ViewBag.Current)").offset().top - $("#toolbar").outerHeight());
        });
    </script>
}
