﻿
@using capstone.Constants;
@using capstone.Helpers;
@using capstone.Models;

@model EventSearchFilterViewModel
@*@{
    Layout = null;
}*@
<title>Tìm kiếm tất cả sự kiện</title>
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

<link rel="stylesheet" href="~/Scripts/css/config.css" />
<link rel="stylesheet" href="~/Scripts/css/search-all-event-2.css" />
<link rel="stylesheet" href="~/Scripts/css/style.css" />
<link rel="stylesheet" href="~/Scripts/css/slick.css" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<style>
</style>
@*List Search Items*@
<div class="content">
    @if (ViewBag.Featured.Count > 0)
    {
        <div class="border border-secondary rounded mb-2">
            <div id="featured-captions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < ViewBag.Featured.Count; i++)
                    {
                        <li data-target="#featured-captions" data-slide-to="@i" @(i == 0 ? "class=active" : string.Empty)></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < ViewBag.Featured.Count; i++)
                    {
                        EventModel eventt = ViewBag.Featured[i];
                        <div class="carousel-item@(i == 0 ? " active" : string.Empty)">
                            <div style="background-image: url(@eventt.CoverImage); background-size: contain; background-repeat: no-repeat; background-position: center; height: 300px;"></div>
                            @Html.ActionLink(" ", "ViewEvent", "Home", new { id = eventt.Id }, new { @class = "stretched-link" })
                            <div class="carousel-caption d-none d-md-block p-2 rounded">
                                <h5>@eventt.Name</h5>
                                <p>@eventt.Description.Substring(0, Math.Min(eventt.Description.Length, 130))...</p>
                                @Html.ActionLink(" ", "ViewEvent", "Home", new { id = eventt.Id }, new { @class = "stretched-link" })
                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#featured-captions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#featured-captions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
    @*<div class="search-event">
            <div class="input-box">
                <i class="fa fa-search"></i>

                <input type="text" placeholder="Tên sự kiện..." />
                <button class="button">Tìm kiếm</button>
            </div>
        </div>*@
    <div class="line"></div>
    <div class="">
        @using (Html.BeginForm("ViewSearchEvent", "Student", FormMethod.Get, new { @class = "content__filter" }))
        {
            <div class="content__filter--group content__input">
                <span class="filter--type">
                    View all events in campus.
                </span>
                <input type="text" id="input" name="Search" placeholder="Nhập tên sự kiện...">
            </div>
            <div class="content__filter--group">
                <span class="filter--type">Category</span>
                @*@Html.LabelFor(m => m.Category, new { @class = "filter--type" })*@
                @Html.HiddenFor(m => m.Category)
                <div class="dropdown" id="CategoryDropdown">
                    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="CategoryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="width: 100%; text-align: left;height: 37px; ">
                        @ViewBag.Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown_user">
                        @*<div class="px-4 py-2">
                                <input class="form-control form-control-sm" id="CategorySearchText" />
                            </div>*@
                        <div id="Categories" class="menuItems">
                            @Html.Partial("GetAllCategories")
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__filter--group">
                <span class="filter--type">Oganized by</span>
                @Html.HiddenFor(m => m.OrganizerOrGroup)
                @Html.HiddenFor(m => m.IsGroup)
                <div class="dropdown" id="CategoryDropdown">
                    <button class="btn btn-sm btn-light dropdown-toggle" type="button"
                            id="OrganizerAndGroupButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            style="width: 100%; text-align: left;height: 37px; ">
                        @ViewBag.OrganizerOrGroup
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown_user">
                        @*<div class="px-4 py-2">
                                <input class="form-control form-control-sm" id="OrganizerAndGroupSearchText" />
                            </div>*@
                        <div id="OrganizersAndGroups" class="menuItems">

                            @Html.Partial("GetAllOrganizersAndGroups")
                        </div>
                    </div>
                </div>
            </div>

            <div class="content__filter--group">

                <span class="filter--type">Status @Model.Status</span>
                <div class="select">
                    @Html.DropDownListFor(m => m.Status, ViewBag.Statuses as List<SelectListItem>, new { @class = "format" })
                </div>

            </div>
            <div class="content__filter--group">
                <span class="filter--type">Range</span>
                <div class="select">
                    @Html.DropDownListFor(m => m.Range, ViewBag.Ranges as List<SelectListItem>, new { @id = "Ranges", @class = "format" })

                    @*<div class="input-group-append">
                            <div class="dropdown" id="DateDropdown">
                                <button class="form-control form-control-sm btn btn-sm btn-outline-secondary dropdown-toggle text-left" type="button" id="DateButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="p-2">
                                        @Html.LabelFor(m => m.From)
                                        @Html.TextBoxFor(m => m.From, new { @id = "From", @type = "date", @class = "form-control form-control-sm mb-2" })
                                        @Html.LabelFor(m => m.To)
                                        @Html.TextBoxFor(m => m.To, new { @id = "To", @type = "date", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="content__filter--group">
                <span class="filter--type">Custom Range</span>
                <div class="input-group-append" style="height: 2.2rem; border: none;">
                    <div class="dropdown" id="DateDropdown"
                         style="width: 100%; background-color: white; outline: none; border-radius: 5px; ">
                        <button class="form-control form-control-sm btn btn-sm  dropdown-toggle text-left" type="button"
                                id="DateButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="border:none">
                            Choose
                            date custome range
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end"
                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-84px, -170px, 0px);">
                            <div class="p-2">
                                @Html.LabelFor(m => m.From)
                                @Html.TextBoxFor(m => m.From, new { @id = "From", @type = "date", @class = "form-control form-control-sm mb-2" })
                                @Html.LabelFor(m => m.To)
                                @Html.TextBoxFor(m => m.To, new { @id = "To", @type = "date", @class = "form-control form-control-sm" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="content__filter--group">
                <span class="filter--type">Display</span>
                <div class="">
                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons" style="height: 38px; ">
                        <label class="btn btn-outline-secondary@(Model.Display.Equals(DisplayModeConstants.GRID) ? " active" : string.Empty)">
                            @Html.RadioButtonFor(m => m.Display, DisplayModeConstants.GRID) @DisplayModeConstants.GRID
                        </label>
                        <label class="btn btn-outline-secondary@(Model.Display.Equals(DisplayModeConstants.LIST) ? " active" : string.Empty)">
                            @Html.RadioButtonFor(m => m.Display, DisplayModeConstants.LIST) @DisplayModeConstants.LIST
                        </label>
                    </div>
                </div>
            </div>
            <div class="content__filter--group">

                <div>
                    <button class="custom-btn-dis btn-1 w-100" type="submit">Search</button>
                </div>
            </div>
        }

    </div>
</div>
@*List event*@
<div class="main-event mt-5">
    <div class="row">

        @foreach (EventModel eventt in ViewBag.Events)
        {
            <div class="list__event col-12 col-sm-12 col-md-6 col-lg-4 mt-4">
                <div class="event__item" style="background-color: #dedfe1;">
                    <div class="event__item--cover">
                        <img class="w-100" src="@((@eventt.CoverImage!= null)? eventt.CoverImage:"~Image/" )" alt="@eventt.Name">
                    </div>
                    <div class="event__item--body p-3">
                        <div class="event__desc--thumbnail">
                            <div class="event__desc--title">
                                <h5 class="card-title">@Html.ActionLink(eventt.Name, "ViewEvent", "Home", new { id = eventt.Id }, new { @class = "card-link" })</h5>
                            </div>
                            <hr>
                            <div class="event__desc--detail">
                                <div class="event__detail--location">
                                    <i class="fa fa-map-marker-alt"></i>
                                    @eventt.Place
                                </div>
                                <div class="event__detail--date">
                                    <i class="fa fa-calendar-alt"></i>
                                    From @eventt.OpenDate.ToDateTimeString()<br />To @eventt.CloseDate.ToDateTimeString()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
    @*@using (Ajax.BeginForm("GetAllCategories", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "Categories" }, new { @id = "GetAllCategories" }))
        {
            @Html.Hidden("search", string.Empty, new { id = "CategorySearch" })
        }*@
    @*@using (Ajax.BeginForm("GetAllOrganizersAndGroups", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "OrganizersAndGroups" }, new { @id = "GetAllOrganizersAndGroups" }))
        {
            @Html.Hidden("search", string.Empty, new { id = "OrganizerAndGroupSearch" })
        }*@
    <div class="loadmore">
        <button class="btn-more">Tải thêm</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/main.js"></script>

<script>
    $('.dropdown').each(function (index, dropdown) {

        //Find the input search box
        let search = $(dropdown).find('.search');

        //Find every item inside the dropdown
        let items = $(dropdown).find('.dropdown-item');

        //Capture the event when user types into the search box
        $(search).on('input', function () {
            filter($(search).val().trim().toLowerCase())
        });

        //For every word entered by the user, check if the symbol starts with that word
        //If it does show the symbol, else hide it
        function filter(word) {
            let length = items.length
            let collection = []
            let hidden = 0
            for (let i = 0; i < length; i++) {
                if (items[i].value.toString().toLowerCase().includes(word)) {
                    $(items[i]).show()
                } else {
                    $(items[i]).hide()
                    hidden++
                }
            }

            //If all items are hidden, show the empty view
            if (hidden === length) {
                $(dropdown).find('.dropdown_empty').show();
            } else {
                $(dropdown).find('.dropdown_empty').hide();
            }
        }

        //If the user clicks on any item, set the title of the button as the text of the item
        $(dropdown).find('.dropdown-menu').find('.menuItems').on('click', '.dropdown-item', function () {
            $(dropdown).find('.dropdown-toggle').text($(this)[0].value);
            $(dropdown).find('.dropdown-toggle').dropdown('toggle');
        })
    });
</script>
<style>
    .carousel-control-next {
        filter: invert(50%);
    }

    .carousel-control-prev {
        filter: invert(50%);
    }

    .carousel-caption {
        background: rgba(0, 0, 0, 0.6);
    }
</style>

<script>
    var jsStatus = '@Model.Status';
    if (jsStatus == "All")
    document.getElementById("Status").selectedIndex = "0";

    @*$.ajax({
    url: '@Url.Action("GetAllCategories")',
    type: "POST",
    datatype: "html",
    UpdateTargetId: "Categories",
    data: param,
    error: function (xmlHttpRequest, errorText, thrownError) {
        alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
    },
    success: function (data) {
        $("#Categories").empty(); //In case you're going to refresh this multiple times
        $("#Categories").html(data);
    }
});*@
  


    $(document).on("click", "#Categories a", function () {
            $("#CategoryButton").text($(this).text());
            $("#Category").val($(this).data("value"));
        });
        $("#CategorySearchText").on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#CategorySearchText").on("input", function () {
            $("#CategorySearch").val($("#CategorySearchText").val());
            $("#GetAllCategories").trigger("submit");
        });
        $('#CategoryDropdown').on('shown.bs.dropdown', function () {
            $("#CategorySearchText").val($("#CategoryButton").text());
            $("#CategorySearchText").trigger("input");
            $("#CategorySearchText").focus();
            $("#CategorySearchText").select();
        });
        $(document).on("click", "#OrganizersAndGroups a", function () {
            $("#OrganizerAndGroupButton").text($(this).text());
            $("#OrganizerOrGroup").val($(this).data("value"));
            $("#IsGroup").val($(this).data("group"));
        });
        $("#OrganizerAndGroupSearchText").on("keydown", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#OrganizerAndGroupSearchText").on("input", function () {
            $("#OrganizerAndGroupSearch").val($("#OrganizerAndGroupSearchText").val());
            $("#GetAllOrganizersAndGroups").trigger("submit");
        });
        $('#OrganizerAndGroupDropdown').on('shown.bs.dropdown', function () {
            $("#OrganizerAndGroupSearchText").val($("#OrganizerAndGroupButton").text());
            $("#OrganizerAndGroupSearchText").trigger("input");
            $("#OrganizerAndGroupSearchText").focus();
            $("#OrganizerAndGroupSearchText").select();
        });
        $(document).ready(function () {
            $("#Ranges option:last-child").text($("#From").val() + " To " + $("#To").val());
        });
        $("#From, #To").change(function () {
            $("#Ranges").val("@ViewBag.CustomRangeFilter");
            $("#Ranges option:selected").text($("#From").val() + " To " + $("#To").val());
        });
</script>

