﻿@using System.Globalization;
@using capstone.Helpers;
@using capstone.Models;
@using capstone.database.Entities;

@model EventSearchFilterViewModel

@{
    ViewBag.Title = "View registered events";
}

<div id="top" class="page-template-default page page-id-99 rtl_columns stretched questrial karla tribe-no-js">

    <div id='wrap_all'>
        <div id='main' class='all_colors' data-scroll-offset='88'>
            <div id='av_section_2' class='avia-section main_color avia-section-large avia-no-border-styling avia-bg-style-scroll  avia-builder-el-6  el_after_av_section  el_before_av_section   container_wrap fullsize' style=' '>
                <div class='container'>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                @Html.ActionLink("Student", "Index", null, new { @class = "breadcrumb-item" })
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <h1 class="display-4 mb-2">@ViewBag.Title</h1>
                    <div class="lead mb-2">View all your registered events.</div>
                    <div class='template-page content  av-content-full alpha units'>
                        <div class='post-entry post-entry-type-page post-entry-99'>
                            <div class='entry-content-wrapper clearfix'>
                                <div class='avia_textblock  ' itemprop="text">
                                    <div class="mb-2 p-2 bg-light rounded">
                                        @using (Html.BeginForm("ViewRegisteredEvents", "Student", FormMethod.Get)) {
                                            <div class="form-group mb-2">
                                                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @placeholder = "Event name...", @autocomplete = "off" })
                                            </div>
                                            <div class="form-row">
                                                <div class="col mb-2">
                                                    @Html.LabelFor(m => m.Status)
                                                    @Html.DropDownListFor(m => m.Status, ViewBag.Statuses as List<SelectListItem>, new { @class = "form-control form-control-sm" })
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Search</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div id="ect-events-list-content">
                                        <div id="list-wrp" class="ect-list-wrapper all">
                                            @if (ViewBag.Events.Count > 0) {
                                                foreach (Event item in ViewBag.Events) {
                                                    <div id="" class="ect-list-post style-1 ect-featured-event">
                                                        <meta itemprop="name" content="@Html.DisplayFor(modelItem => item.EventName)">
                                                        <div class="ect-list-post-left ">
                                                            <div class="ect-list-img" style="background-image:url('@Html.DisplayFor(modelItem => item.CoverImage)');background-size:cover;">
                                                                <a href="@Url.Action("ViewEvent", "Home", new { id = item.EventId })" alt="@Html.DisplayFor(modelItem => item.EventName)" rel="bookmark">
                                                                    <div class="ect-list-date">
                                                                        <div class="ect-date-area default-schedule">
                                                                            <span class="ev-day">@Html.DisplayFor(modelItem => item.OpenDate.Day)</span>
                                                                            <span class="ev-mo">@item.OpenDate.ToString("MMMM")</span>
                                                                            <span class="ev-yr">@Html.DisplayFor(modelItem => item.OpenDate.Year)</span>
                                                                            <span class="ev-time">@item.OpenDate.ToTimeString()</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div><!-- left-post close -->
                                                        <div class="ect-list-post-right">
                                                            <div class="ect-list-post-right-table">
                                                                <div class="ect-list-description">
                                                                    <h2 class="ect-list-title">
                                                                        @Html.ActionLink(item.EventName, "ViewEvent", "Home", new { id = item.EventId }, new { @class = "ect-event-url" })
                                                                    </h2><!-- Event Content -->
                                                                    <div class="ect-event-content">
                                                                        <p>@item.EventDescription.Substring(0, Math.Min(item.EventDescription.Length, 220))...</p>
                                                                        @Html.ActionLink("View detail »", "ViewEvent", "Home", new { id = item.EventId }, new { @class = "card-link" })
                                                                    </div><div class="ect-list-cost">
                                                                        <div class="ect-rate-area">
                                                                            @if (item.EventFee == 0) {
                                                                                <span class="ect-rate"></span>
                                                                            }
                                                                            else {
                                                                                NumberFormatInfo vnCurr = new CultureInfo("vi-VN", false).NumberFormat;
                                                                                vnCurr.CurrencyDecimalDigits = 0;
                                                                                vnCurr.CurrencyGroupSeparator = ",";
                                                                                <span class="ect-rate">@item.EventFee.ToString("C", vnCurr)</span>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div><div class="ect-list-venue default-venue" style="padding-top: 60px;">
                                                                    <span class="ect-venue-details ect-address">
                                                                        <meta itemprop="place"><b>@Html.DisplayFor(modelItem => item.EventPlace)</b>
                                                                        <br />
                                                                        <meta itemprop="status">-@Html.DisplayFor(modelItem => item.EventStatus)-
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div><!-- right-wrapper close -->
                                                    </div><!-- event-loop-end -->
                                                }
                                            }
                                            else {
                                                <p>No event registered</p>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- close content main div -->
                    @Html.Partial("Pages")
                </div>
            </div>
            <!-- end main -->
        </div>
        <!-- end wrap_all -->
    </div>
</div>

@section styles {
    <link rel='stylesheet' href='~/Content/Student/ViewRegisteredEvents.css' type='text/css' media='all' />
}
