﻿@using System.Globalization;
@using capstone.Helpers;
@using capstone.Models;
@using capstone.database.Entities;

@model EventSearchFilterViewModel
@{
    int i = 0;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/Scripts/css/config.css" />

    <link rel="stylesheet" href="~/Scripts/css/my-ticket.css" />

</head>

<body>
    @*<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info header-navbar" style="">
            <div class="navbar-brand">
                <img src="https://upload.wikimedia.org/wikipedia/vi/1/1d/Logo_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_FPT.png" alt=""
                     style="width: 30px;">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto" style="gap:20px">

                    <div class="navbar-search">
                        <div class="navbar-search-box">
                            <svg width="24" height="24" fill="none" class="search-icon">
                                <path d="M11 17a6 6 0 100-12 6 6 0 000 12zM18.5 18.5l-3-3" stroke="#2A2D34" stroke-width="2"
                                      stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <input placeholder="Tìm kiếm" value="" class="search-input" />
                        </div>
                        <ul class="navbar-left-ul"></ul>

                    </div>
                    <div class="dropdown-container2 ">
                        <div class="dropdown-toggle2 click-dropdown2">
                            Role: admin
                        </div>
                        <div class="dropdown-menu2">
                            <ul>
                                <li class="dropdown-item">
                                    Thoai
                                </li>
                                <li class="dropdown-item">
                                    Thoai
                                </li>
                                <li class="dropdown-item">
                                    Thoai
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar-right">

                    <div class="nav-item dropdown m-1" id="Notifications">
                        <a href="#" class="dropdown-toggle btn-create-event" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Notificatios <span id="NotificationsNumber"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right overflow-auto">
                            <div class="list-group list-group-flush" id="NotificationList">
                                <div class="list-group-item list-group-item-action p-2" id="NotificationsMore">
                                    <span class="small">See more</span>
                                    <span class="spinner-border spinner-border-sm text-info" role="status" style="display: none;"
                                          id="NotificationsLoading">
                                        <span class="sr-only">Loading...</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-nav">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>*@

    <div class="wrapper d-flex align-items-stretch" style="margin-top: 0px; ">
        <nav id="sidebar" class="active">
            <div class="custom-menu ">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="" class="logo">FPT EVENT</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-3"></span> My tickets</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-briefcase mr-3"></span> Quan tâm</a>
                    </li>

                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5">
            <p class="h1">My tickets</p>


            <div class="table__content">
                <div class="list__table" id="order-table-admin">
                    <ul>
                        <li>No</li>
                        <li></li>
                        <li>Sự kiện</li>
                        <li>Open Date</li>
                        <li></li>

                    </ul>
                    @if (ViewBag.Events.Count > 0)
                    {

                        foreach (Event item in ViewBag.Events)
                        {

                            <ul id="item">

                                <li data-label="no">@(i = i + 1)</li>
                                <li data-label="img" class="img">
                                    <img src="@Html.DisplayFor(modelItem => item.CoverImage)" alt="">
                                </li>
                                <a href="@Url.Action("ViewEvent", "Home", new { id = item.EventId })">  <li data-label="Email"> @Html.DisplayFor(modelItem => item.EventName)</li></a>
                                <li data-label="Student">
                                    @item.OpenDate.ToTimeString()
                                </li>
                                <li data-label="Action">
                                    <a href="@Url.Action("ViewTicketDetail", "Student", new { EventId = item.EventId , UserId = ViewBag.UserId })">
                                        <button class="btn-x custom-btn2">ViewTicket</button>
                                    </a>
                                </li>

                            </ul>
                        }
                    }

                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="img" class="img">
                            <img src="./assets/img.png" alt="">
                        </li>
                        <li data-label="Email">United Kingdom</li>
                        <li data-label="Student">
                            02/02/2019 20:15
                        </li>
                        <li data-label="Action">
                            <button class="btn-x custom-btn2">ViewTicket</button>
                        </li>

                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="img" class="img">
                            <img src="./assets/img.png" alt="">
                        </li>
                        <li data-label="Email">United Kingdom</li>
                        <li data-label="Student">
                            02/02/2019 20:15
                        </li>
                        <li data-label="Action">
                            <button class="btn-x custom-btn2">ViewTicket</button>
                        </li>

                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="img" class="img">
                            <img src="./assets/img.png" alt="">
                        </li>
                        <li data-label="Email">United Kingdom</li>
                        <li data-label="Student">
                            02/02/2019 20:15
                        </li>
                        <li data-label="Action">
                            <button class="btn-x custom-btn2">ViewTicket</button>
                        </li>

                    </ul>
                    <ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="img" class="img">
                            <img src="./assets/img.png" alt="">
                        </li>
                        <li data-label="Email">United Kingdom</li>
                        <li data-label="Student">
                            02/02/2019 20:15
                        </li>
                        <li data-label="Action">
                            <button class="btn-x custom-btn2">ViewTicket</button>
                        </li>

                    </ul><ul id="item">
                        <li data-label="no">1</li>
                        <li data-label="img" class="img">
                            <img src="./assets/img.png" alt="">
                        </li>
                        <li data-label="Email">United Kingdom</li>
                        <li data-label="Student">
                            02/02/2019 20:15
                        </li>
                        <li data-label="Action">
                            <button class="btn-x custom-btn2">ViewTicket</button>
                        </li>

                    </ul>
                    <ul id="item">
                        <li data-label="no">7</li>
                        <li data-label="img" class="img">
                            <img src="./assets/img.png" alt="">
                        </li>
                        <li data-label="Email">United Kingdom</li>
                        <li data-label="Student">
                            02/02/2019 20:15
                        </li>
                        <li data-label="Action">
                            <button class="btn-x custom-btn2">ViewTicket</button>
                        </li>

                    </ul>


                </div>
                <div class="pagination" id="pagination">
                    <ul></ul>
                </div>
            </div>
        </div>

    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Hierarchy Select Js -->
    <script src="js/hierarchy-select.min.js"></script>


    <script src="./js/main.js"></script>
    <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        })(jQuery);

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#order-table-admin ').after('<div id="nav"></div>');
            var rowsShown = 5;
            var rowsTotal = $('#order-table-admin #item').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {

                var pageNum = i + 1;
                $('#pagination ul').append(' <li> <a href="#" rel="' + i + '">' + pageNum + '</a> </li>');
            }
            $('#order-table-admin #item').hide();
            $('#order-table-admin #item').slice(0, rowsShown).show();
            $('#pagination a:first').addClass('active');
            $('#pagination a').bind('click', function () {
                $('#pagination a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#order-table-admin #item ').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
            });
        });
    </script>
</body>

</html>